<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<div class="footer fixed">
    <div align="center">
        <strong>Copyright</strong> &copy; 2016 - <lb class="lb-change-year">2016</lb> MOCOMSYS, All rights reserved
    </div>
</div>

<script>
//=======================================================================
//(1) function 및 variable scope 설정 :: (메인은 main, 팝업 및 서브는 sub)
//=======================================================================
screenName = "footer";
$(document).ready(function () {
	$.extend({
		footer : {
			//=======================================================================
			// (2) Screen 에서 사용할 variable 정의
			//=======================================================================

			//=======================================================================
			// (3) Screen 에서 사용할 function 정의
			//=======================================================================

			//-----------------------------------------------------------------------
			// Description :: 화면 초기화
			//-----------------------------------------------------------------------
			fn_init : function() {
				try {
					var d = new Date();
					var n = d.getFullYear();
					$('.lb-change-year').text(n);
				} catch( e ) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.footer.fn_init"});
				}
			}
		}// end footer
	});// end extends

	//=======================================================================
	// (4) 이벤트 핸들러 정의
	//=======================================================================

	//=======================================================================
	// (5) 기타 Function 정의 ( 모듈 단위로 정의 할것 )
	//=======================================================================

	//=======================================================================
	// (6) 화면 로딩시 실행할 항목 기술
	//=======================================================================
	$.footer.fn_init();
});
</script>