<!--
	Screen ID : AN-05-00-004
	Screen NM : 전문 맵핑조회(전문관리 메뉴에서 전문맵핑 목록 조회하는 화면)
-->

<!--location -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div id="oldPath" class="col-lg-5">
		<h2><lb class="lb-12-change"></lb></h2>
		<ol class="breadcrumb">
	        <li><lb class="lb-8"></li>
	        <li class="active">
	        	<strong><lb class="lb-12-change"></strong>
	        </li>
 		</ol>
	</div>
	<div id="menuPath" class="col-lg-5">
    </div>
	<!--button-->
	<div class="col-lg-7">
		<div class="title-action" >

		</div>
	</div>
	<!--button end-->
</div>
<!--location end-->

<!--wrapper wrapper-content-->
<div class="wrapper wrapper-content animated fadeInRight">
	<!--row-->
	<div class="row">
		<!--col-lg-12-->
		<div class="col-lg-12">
			<!--ibox float-e-margins-->
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5><lb class="lb-78"></h5>&nbsp;&nbsp;&nbsp;
					<div class="ibox-tools">
						<a class="help-over-pannel" onclick="mint.ui.help(this, 'AP00000001','H001')"></a>
                   		<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</div>
					<div style="float: right; padding: 0px 20px 0px 0px;">
						<a class="btn btn-w-m btn-default btn-outline btn-clear"><i class="fa fa-check "></i> <lb class="lb-79"></a>
						<a class="btn btn-w-m btn-default btn-outline" id="bt-ifsearch" ><i class="fa fa-search"></i> <lb class="lb-10"></a>
					</div>
				</div>
				<!--ibox-content-->
             	<div class="ibox-content">
             		<!--row-->
               		<div class="row">
                   		<!--col-sm-4 2-->
						<div class="col-sm-4">
							<!--form-group -->
							<div class="form-group">
								<span class="lable_tag"><lb class="lb-82"></span>
								<span class="k-widget k-autocomplete k-header k-state-default input-width" style="width: 63%;">
									<input id="tf-systemNm" type="text" class="k-input" style="width: 100%;" readonly="readonly" placeholder="Search...">
									<input id="tf-systemNm_hidden" type="hidden">
									<input id="tf-systemId_hidden" type="hidden">
								</span>

								<!--
								<input id="cb-sysNm" type="text" placeholder="Search..." style="width: 63%;">
								-->
							</div>
							<!--form-group end-->
						</div>

						<!--col-sm-4 3-->
						<div class="col-sm-4">
							<!--form-group -->
							<div class="form-group">
								<span class="lable_tag"><lb class="lb-83"></span>
								<!--comboBox-->
								<input id="cb-reqNm" type="text" placeholder="Search..." style="width: 63%;">
								<!--comboBox end-->
							</div>
							<!--form-group end-->
						</div>

						<div class="col-sm-4">
							<!--form-group -->
							<div class="form-group">
								<span class="lable_tag"><lb class="lb-153"></span>
								<!--comboBox-->
								<input id="cb-interfaceNm" type="text" placeholder="Search..." style="width: 63%;">
								<!--comboBox end-->
							</div>
							<!--form-group end-->
						</div>
						<!--col-sm-4 2end -->

						<hr class="hr-space">

                   		<!--col-sm-4 2-->
						<div class="col-sm-4">
							<!--form-group -->
							<div class="form-group">
								<span class="lable_tag"><lb class="lb-154"></span>
								<!--comboBox-->
								<input id="cb-integrationId" type="text" placeholder="Search..." style="width: 63%;">
								<!--comboBox end-->
							</div>
							<!--form-group end-->
						</div>
						<!--col-sm-4 2end -->



						<div class="col-sm-12" style="padding-top: 10px">
							<div class="b-col"></div>
						</div>

						<hr class="hr-space">

						<div class="col-sm-4">
							<div class="form-group">
								<span class="lable_tag"><lb class="lb-87"></lb><a class="help-over-label" onclick="mint.ui.help(this, 'AP00000005','H006')"></a></span>
								<input id="cb-svcNm" type="text" placeholder="Search..." style="width: 63%;">
							</div>
						</div>

						<div class="col-sm-4">
							<div class="form-group">
								<span class="lable_tag"><lb class="lb-556"></lb></span>
								<input id="cb-svcDesc" type="text" placeholder="Search..." style="width: 63%;">
							</div>
						</div>

						<div class="col-sm-4">
							<div class="form-group">
								<span class="lable_tag"><lb class="lb-88"></span>
								<span style="padding: 0px 0px 0px 0px;">
					            	<div class="radio radio-inline" style="padding-left:20px; padding-top:5px;">
										<span class="radio-danger" style="padding-right: 20px;"><input id="radio0" type="radio" name="rd-search-range" value="N" checked="checked"><label for="radio0"><lb class="lb-89"></lb></label></span>
		                                <span class="radio-info"   style="padding:0px 20px;"><input id="radio1" type="radio" name="rd-search-range" value="Y"><label for="radio1"><lb class="lb-90"></lb></label></span>
                                	</div>
                                </span>
							</div>
						</div>


                   	</div>
				 	<!--row end-->
                </div>
				<!--ibox-content end-->
           	</div>
			<!--ibox float-e-margins end-->
		</div>
		<!--col-lg-12 end-->
	</div>
	<!--row end-->

	<!--row start-->
	<div class="row">
		<!--col-lg-12-->
 		<div class="col-lg-12">
			<!--ibox float-e-margins-->
            <div class="ibox float-e-margins">
				<!--ibox-title-->
                <div class="ibox-title">
					<h5><lb class="lb-91"></lb></h5>
                    <div class="ibox-tools">
                   		<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</div>
               	</div>
				<!--ibox-title end-->


				<!--ibox-content-->
                <div class="ibox-content">
                	<!-- kendo table-->
     	     		<div id="interface-grid"></div>
					<!--kendo table end-->
               	</div>
				<!--ibox-content end-->
            </div>
			<!--ibox float-e-margins end-->
       	</div>
		<!--col-lg-12 end-->
	</div>
	<!--row end-->
</div>

<script>
	$(document).ready(function() {
		//=======================================================================
		//(1) function 및 variable scope 설정 :: (메인은 main, 팝업 및 서브는 sub)
		//=======================================================================
		screenName = "AN-01-00-001";
		$.extend({
			main : {
				//=======================================================================
				// (2) Screen 에서 사용할 variable 정의
				//=======================================================================
				searchNode : "",

				//=======================================================================
				// (3) Screen 에서 사용할 function 정의
				//=======================================================================

				//-----------------------------------------------------------------------
				// Description :: 화면 초기화
				//-----------------------------------------------------------------------
				fn_init : function() {
					try {
						mint.init('$.main.fn_initCallback');
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_init"});
					}
				},//end fn_init()

				//-----------------------------------------------------------------------
				// Description :: 화면 초기화 콜백
				//-----------------------------------------------------------------------
				fn_initCallback : function() {
					try {
						mint.back(null);
						//CRUDPS 에 따라 페이지 내용 변경 로직
						{
							var tmpText = '';
							var options = mint.common.getScreenParam("options");
							if( !mint.common.isEmpty( options ) && !mint.common.isEmpty( options.CRUDPS ) ) {
								var CRUDPS = options.CRUDPS;
								switch( CRUDPS ) {
									case "U" :
										tmpText = mint.label.getLabel('lb-12');
										break;
									case "D" :
										tmpText = mint.label.getLabel('lb-13');
										break;
									default :
										break;
								}
							}

							$('.lb-12-change').text(tmpText);
						}

						$.main.fn_initSearchNode();
						$.main.fn_setSearchComboBox();
						$.main.fn_setSearchResultGrid();

						mint.common.siteMenuPath(screenName);
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_initCallback"});
					}
				},//end fn_initCallback()

				//-----------------------------------------------------------------------
	            // Description :: 검색 조건 초기화 함수
	            //-----------------------------------------------------------------------
	            fn_clearSearchArea : function() {
	                try {
	                 	//시스템명 초기화
	                    $('#tf-systemNm').val('');
						$('#tf-systemNm_hidden').val('');
						$('#tf-systemId_hidden').val('');
						$('#tf-systemNm').prop("disabled", false);
						$('#tf-systemNm').css("background-color", "#FFFFFF");

	                 	/*
	                    var combobox = $("#cb-sysNm").data("kendoComboBox");
	                    combobox.enable(true);
	                    combobox.value('');
	                    mint.ui.setComboBoxWithValue('cb-sysNm', mint.common.commonCodeMap.get("systemCdList"), 0,  'systemNm', 'systemNm', '');
	                    */

	                    //업무명 초기화
	                    var combobox = $("#cb-reqNm").data("kendoComboBox");
	                    combobox.enable(true);
	                    combobox.value('');
	                    mint.ui.setComboBoxWithValue('cb-reqNm', mint.common.commonCodeMap.get("requirementCdList"), 0, 'requirementNm', 'requirementNm');

	                    //인터페이스명 초기화
	                    var combobox = $("#cb-interfaceNm").data("kendoComboBox");
	                    combobox.enable(true);
	                    combobox.value('');
	                    mint.ui.setComboBoxWithValue('cb-interfaceNm', mint.common.commonCodeMap.get("interfaceCdList"), 0, 'interfaceNm', 'interfaceNm');

	                    //인터페이스 ID 초기화
	                    var combobox = $("#cb-integrationId").data("kendoComboBox");
	                    combobox.enable(true);
	                    combobox.value('');
	                    mint.ui.setComboBoxWithValue('cb-integrationId', mint.common.commonCodeMap.get("interfaceCdList"), 0, 'integrationId', 'integrationId');

	                	//서비스명 초기화
	                    $('#cb-svcNm').data("kendoComboBox").value('');
	                    $('#cb-svcDesc').data("kendoComboBox").value('');

	                    $.main.fn_initSearchNode();
	                } catch( e ) {
	                    mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_clearSearchArea"});
	                }
	            },

				//-----------------------------------------------------------------------
	            // Description :: searchNode 초기화 함수
	            //-----------------------------------------------------------------------
	            fn_initSearchNode : function() {
	                try {
	                    $.main.searchNode = new Object();

	                    $.main.searchNode.previous = null;
	                    $.main.searchNode.current = null;
	                    $.main.searchNode.previousType = null;
	                    $.main.searchNode.currentType = null;
	                } catch( e ) {
	                    mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_initSearchNode"});
	                }
	            },

	            //-----------------------------------------------------------------------
	            // Description :: searchNode 데이터 세팅
	            //-----------------------------------------------------------------------
	            fn_setSearchNode : function(currentId, type) {
	                try {
	                	if($.main.searchNode.current != currentId) {
	                        $.main.searchNode.previous = $.main.searchNode.current;
	                        $.main.searchNode.previousType = $.main.searchNode.currentType;

	                        $.main.searchNode.current = currentId;
	                        $.main.searchNode.currentType = type;

	                        if($.main.searchNode.previousType == 'combo') {
	                        	if($.main.searchNode.previous != null) {
	                                //$("#" + $.main.searchNode.previous).kendoComboBox({ enable: false });
	                                var combobox = $("#" + $.main.searchNode.previous).data("kendoComboBox");
	                                combobox.enable(false);
	                            }
	                        } else {
	                        	if( ! mint.common.isEmpty( $.main.searchNode ) && ! mint.common.isEmpty( $.main.searchNode.previous ) ) {
		                        	$("#" + $.main.searchNode.previous).prop("disabled", true);
		                        	$("#" + $.main.searchNode.previous).css("background-color", "#F9F8F8");
	                        	}
	                        }
	                    }
	                } catch( e ) {
	                    mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_setSearchNode"});
	                }
	            },

	            //-----------------------------------------------------------------------
	            // Description :: 검색 조건 조회
	            //-----------------------------------------------------------------------
	            fn_getSearchInfo : function(flag, data) {
	                try {
	                    mint.callService($.main.fn_getSearchObject(flag, data), screenName, 'REST-R02-CO-02-00-000', '$.main.fn_setSearchInfo', {errorCall : true });
	                } catch( e ) {
	                    mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_getSearchInfo"});
	                }
	            },

	            //-----------------------------------------------------------------------
	            // Description :: 검색 조건 조회 request object 세팅
	            //-----------------------------------------------------------------------
	            fn_getSearchObject : function(flag, data) {
	                try {
	                    var searchObject = new Object();

	                    if(flag == 'systemNm') {
	                        searchObject.systemNm = data;

	                        if($("#cb-reqNm").val() != null && $("#cb-reqNm").val() != "") {
	                            searchObject.requirementNm = $("#cb-reqNm").val();
	                        }

	                        if($("#cb-interfaceNm").val() != null && $("#cb-interfaceNm").val() != "") {
	                        	searchObject.interfaceNm = $("#cb-interfaceNm").val();
	                        }

	                        if($("#cb-integrationId").val() != null && $("#cb-integrationId").val() != "") {
		                    	searchObject.integrationId = $("#cb-integrationId").val();
		                    }
	                    }

	                    if(flag == 'requirementNm') {
	                    	searchObject.requirementNm = data;

	                        if($("#tf-systemNm_hidden").val() != null && $("#tf-systemNm_hidden").val() != "") {
	                            searchObject.systemNm = $("#tf-systemNm_hidden").val();
	                        }

	                    	/*
	                    	if($("#cb-sysNm").val() != null && $("#cb-sysNm").val() != "") {
		                    	searchObject.systemNm = $("#cb-sysNm").val();
	                        }
	                    	*/

	                    	if($("#cb-interfaceNm").val() != null && $("#cb-interfaceNm").val() != "") {
		                    	searchObject.interfaceNm = $("#cb-interfaceNm").val();
		                    }

	                    	if($("#cb-integrationId").val() != null && $("#cb-integrationId").val() != "") {
		                    	searchObject.integrationId = $("#cb-integrationId").val();
		                    }
	                    }

	                    if(flag == 'interfaceNm') {
	                    	searchObject.interfaceNm = data;

	                        if($("#tf-systemNm_hidden").val() != null && $("#tf-systemNm_hidden").val() != "") {
	                            searchObject.systemNm = $("#tf-systemNm_hidden").val();
	                        }

	                        /*
	                    	if($("#cb-sysNm").val() != null && $("#cb-sysNm").val() != "") {
		                    	searchObject.systemNm = $("#cb-sysNm").val();
	                        }
	                        */

	                    	if($("#cb-reqNm").val() != null && $("#cb-reqNm").val() != "") {
	                            searchObject.requirementNm = $("#cb-reqNm").val();
	                        }

	                    	if($("#cb-integrationId").val() != null && $("#cb-integrationId").val() != "") {
		                    	searchObject.integrationId = $("#cb-integrationId").val();
		                    }
	                    }

	                    if(flag == 'integrationId') {
	                    	searchObject.integrationId = data;

	                        if($("#tf-systemNm_hidden").val() != null && $("#tf-systemNm_hidden").val() != "") {
	                            searchObject.systemNm = $("#tf-systemNm_hidden").val();
	                        }

	                    	/*
	                    	if($("#cb-sysNm").val() != null && $("#cb-sysNm").val() != "") {
		                    	searchObject.systemNm = $("#cb-sysNm").val();
	                        }
	                    	*/

	                    	if($("#cb-interfaceNm").val() != null && $("#cb-interfaceNm").val() != "") {
		                    	searchObject.interfaceNm = $("#cb-interfaceNm").val();
		                    }

	                    	if($("#cb-reqNm").val() != null && $("#cb-reqNm").val() != "") {
	                            searchObject.requirementNm = $("#cb-reqNm").val();
	                        }
	                    }

	                    return searchObject;
	                } catch( e ) {
	                    mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_getSearchObject"});
	                }
	            },

	          	//-----------------------------------------------------------------------
	            // Description :: 검색 조건 세팅
	            //-----------------------------------------------------------------------
	            fn_setSearchInfo : function(jsonData) {
	                try {
	                    if(jsonData != null) {

	                    	if($("#tf-systemNm_hidden").val() == "" && jsonData.systemCdList  != null) {
		                    	srchSystemData = jsonData.systemCdList;
	                        }
	                    	/*
	                        if($("#cb-sysNm").val() == "" && jsonData.systemCdList  != null) {
	                        	mint.ui.setComboBoxWithValue('cb-sysNm', jsonData.systemCdList, 0,  'systemNm', 'systemNm');
	                        }
	                    	*/

	                        if($("#cb-reqNm").val() == "" && jsonData.requirementCdList  != null) {
	                    		mint.ui.setComboBoxWithValue('cb-reqNm', jsonData.requirementCdList, 0, 'requirementNm', 'requirementNm');
                        	}

	                        if($("#cb-interfaceNm").val() == "" && jsonData.interfaceCdList != null) {
	                            mint.ui.setComboBoxWithValue('cb-interfaceNm', jsonData.interfaceCdList, 0, 'interfaceNm', 'interfaceNm');
	                        }

	                        if($("#cb-integrationId").val() == "" && jsonData.interfaceCdList != null) {
	                            mint.ui.setComboBoxWithValue('cb-integrationId', jsonData.interfaceCdList, 0, 'integrationId', 'integrationId');
	                        }
	                	}
	                } catch( e ) {
	                    mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_setSearchInfo"});
	                }
	            },

				//-----------------------------------------------------------------------
				// Description ::  검색 조건 - ComboBox 설정
				//-----------------------------------------------------------------------
				fn_setSearchComboBox : function() {
					try {
						//mint.ui.setComboBoxWithValue('cb-sysNm', mint.common.commonCodeMap.get("systemCdList"), 0,  'systemNm', 'systemNm', '');
						mint.ui.setComboBoxWithValue('cb-reqNm', mint.common.commonCodeMap.get("requirementCdList"), 0, 'requirementNm', 'requirementNm');
						mint.ui.setComboBoxWithValue('cb-interfaceNm', mint.common.commonCodeMap.get("interfaceCdList"), 0, 'interfaceNm', 'interfaceNm');
						mint.ui.setComboBoxWithValue('cb-integrationId', mint.common.commonCodeMap.get("interfaceCdList"), 0, 'integrationId', 'integrationId');

						mint.ui.setComboBoxWithValue('cb-svcNm', mint.common.commonCodeMap.get("serviceList"), 0, '', '');
						mint.ui.setComboBoxWithValue('cb-svcDesc', mint.common.commonCodeMap.get("serviceDescList"), 0, '', '');


						//$("#cb-sysNm").data("kendoComboBox").input.keydown($.main.fn_onKeyDownAN0100001);
						$("#cb-reqNm").data("kendoComboBox").input.keydown($.main.fn_onKeyDownAN0100001);
						$("#cb-interfaceNm").data("kendoComboBox").input.keydown($.main.fn_onKeyDownAN0100001);
						$("#cb-integrationId").data("kendoComboBox").input.keydown($.main.fn_onKeyDownAN0100001);

						$("#cb-svcNm").data("kendoComboBox").input.keydown($.main.fn_onKeyDownAN0200001);
						$("#cb-svcDesc").data("kendoComboBox").input.keydown($.main.fn_onKeyDownAN0200001);


					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_setSearchComboBox"});
					}
				},//end fn_setSearchComboBox()

				//-----------------------------------------------------------------------
				// Description :: 엔터키 이벤트
				//-----------------------------------------------------------------------
				fn_onKeyDownAN0100001 : function() {
					try {
						if(event.keyCode == 13) {
							$.main.fn_searchRequirementList();
				     	}
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_onKeyDownAN0100001"});
					}
				},//end fn_onKeyDownAN0100001()

				//-----------------------------------------------------------------------
				// Description ::  검색 결과 - Grid 설정
				//-----------------------------------------------------------------------
				fn_setSearchResultGrid : function() {
					try {
						var fixLeftGridWidth = ($('#interface-grid')[0].clientWidth / 10) * 7;
						var fixLeftCoulmnWidth = fixLeftGridWidth / 4;

						//컬럼 레이블 아이디 세팅
						var labelCoulmn = $.main.fn_setGridColumnLabel();

						var grid = $("#interface-grid").kendoGrid({
							dataSource : {
				 				  data: ""
				 				, pageSize : mint.ui.getPageSizesS({'currentPage' : true})
							}
							, filterable: true
						    , sortable : true
							, selectable: "row"
							, resizable: true
							, pageable : {
								  refresh 		: false
								, pageSizes		: mint.ui.getPageSizesS()
						    	, buttonCount 	: 5

							}
						    , toolbar: ["excel"]
						    , messages: {
						        commands: {
						          excel: mint.label.getLabel('lb-508')
						        }
						      }
						    , excel: {
						          allPages: true
						        , filterable: true
						        , fileName: mint.common.remakeYYMMDD(new Date()).substring(0, 14) + $('.lb-12-change')[0].textContent + '.xlsx'
						    }
						    , excelExport: function(e) {

						    	//스타일 편집
						        var sheet = e.workbook.sheets[0];
						        for (var i = 0; i < sheet.rows.length; i++) {
						          for (var ci = 0; ci < sheet.rows[i].cells.length; ci++) {
						            sheet.rows[i].cells[ci].vAlign = "center";

// 						            sheet.rows[i].cells[ci].bold = true;
// 						            sheet.rows[i].cells[ci].color = ""
// 						            sheet.rows[i].cells[ci].background = "";
// 						            sheet.rows[i].cells[ci].italic = true;
// 						            sheet.rows[i].cells[ci].underline = true;
// 						            sheet.rows[i].cells[ci].fontName = "";
// 						            sheet.rows[i].cells[ci].fontSize = "";
// 						            sheet.rows[i].cells[ci].format = "";
// 						            sheet.rows[i].cells[ci].wrap = false;

						            //정렬 기준
						            if(0 == i || 1 == i) {
						            	//컬럼 헤더일 경우
						            	sheet.rows[i].cells[ci].hAlign = "center";
						            	sheet.rows[i].cells[ci].bold = true;
						            } else {
						            	//데이터 내용일 경우
						            	if(1 == ci || 2 == ci || 3 == ci) {
							            	sheet.rows[i].cells[ci].hAlign = "left";
							            } else {
							            	sheet.rows[i].cells[ci].hAlign = "center";
							            }
						            }
						          }
						        }

						        e.preventDefault();
						        mint.downloadExcelFile(mint.common.remakeYYMMDD(new Date()).substring(0, 14) + $('.lb-12-change')[0].textContent + '.xlsx', sheet, 'AN-01-00-001');
					      	}
						    , columns : [
									{
										  title 	: labelCoulmn['#lbl-channelNm']
										, field 	: "interface.channel.channelNm"
										, width 	: fixLeftCoulmnWidth / 2
										, template	: "<span title='${interface.channel.channelNm}'>${interface.channel.channelNm}</span>"
										, locked	: true
										, headerAttributes: {
											 style: "text-align: center; vertical-align:middle;"
										}
										, attributes: {
								              style: 'text-align: center; white-space: nowrap;'
							            }
										, filterable: { multi: true, search: true }
									}
									, {
										  title 	: labelCoulmn['#lbl-biz']
										, field 	: "business.businessNm"
										, width 	: fixLeftCoulmnWidth / 1.5
										, template	: "<span title='${business.businessNm}'>${business.businessNm}</span>"
										, locked	: true
										, headerAttributes: {
											 style: "text-align: center; vertical-align:middle;"
										}
										, attributes: {
								              style: 'white-space: nowrap;'
							            }
										, filterable: { multi: true, search: true }
									}
									, {
										  title 	: labelCoulmn['#lbl-reqNm']
										, field 	: "requirementNm"
										, width 	: fixLeftCoulmnWidth / 1.5
										, template	: "<span title='${requirementNm}'>${requirementNm}</span>"
										, locked	: true
										, headerAttributes: {
											 style: "text-align: center; vertical-align:middle;"
										}
										, attributes: {
								              style: 'white-space: nowrap;'
							            }
										, filterable: { multi: true, search: true }
									}
									, {
										  title 	: labelCoulmn['#lbl-interfaceNm']
										, field 	: "interface.interfaceNm"
										, width 	: fixLeftCoulmnWidth / 1.25
										, template	: "<span title='${interface.interfaceNm}'>${interface.interfaceNm}</span>"
										, headerAttributes: {
											 style: "text-align: center; vertical-align:middle;"
										}
										, attributes: {
								              style: 'white-space: nowrap;'
							            }
										, filterable: { multi: true, search: true }
									}
									, {
										  title 	: labelCoulmn['#lbl-integrationId']
										, field 	: "interface.integrationId"
				 						, width 	: fixLeftCoulmnWidth / 1.7
				 						, template	: "<span title='${interface.integrationId}'>${interface.integrationId}</span>"
										, headerAttributes: {
											 style: "text-align: center; vertical-align:middle;"
										}
										, attributes: {
								              style: 'text-align: center; white-space: nowrap;'
							            }
										, filterable: { multi: true, search: true }
									}
									, {
										  title 	: labelCoulmn['#lbl-source']['#lbl-source']
										, field 	: "merage1"
										, headerAttributes: {
											 style: "text-align: center;  vertical-align:middle;"
										}
										, attributes: {
											 style: "white-space: nowrap; text-align: center;"
										}
										, columns: [
											{
												  title		: labelCoulmn['#lbl-source']['#lbl-sysNm']
												, field 	: "interface.senderSystemInfoList[0].systemNmCd"
												, template	: "<span title='${interface.senderSystemInfoList[0].systemNmCd}'>${interface.senderSystemInfoList[0].systemNmCd}</span>"
												, width 	: fixLeftCoulmnWidth / 2
												, headerAttributes: {
													 style: "text-align: center;"
												}
												, attributes: {
													 style: "white-space: nowrap; text-align: center;"
												}
												, filterable: { multi: true, search: true }
											}
											, {
												  title		: labelCoulmn['#lbl-source']['#lbl-resourceNm']
												, field 	: "interface.senderSystemInfoList[0].resourceNm"
 												, template : '#=$.main.fn_setSystemColumn(interface.senderSystemInfoList, "resourceNm")#'
												, width 	: fixLeftCoulmnWidth / 2
												, headerAttributes: {
													 style: "text-align: center;"
												}
												, attributes: {
													 style: "text-align: center; white-space: nowrap;"
												}
												, filterable: { multi: true, search: true }
											}
											, {
												  title		: labelCoulmn['#lbl-source']['#lbl-svcNm']
												, field 	: "interface.senderSystemInfoList[0].service"
												, template : '#=$.main.fn_setSystemColumn(interface.senderSystemInfoList, "service")#'
												, width 	: fixLeftCoulmnWidth / 2
												, headerAttributes: {
													 style: "text-align: center;"
												}
												, attributes: {
													 style: "text-align: center; white-space: nowrap;"
												}
												, filterable: { multi: true, search: true }
											}
										]

									}
									, {
										  title 	: labelCoulmn['#lbl-target']['#lbl-target']
										, field 	: "merage2"
										, headerAttributes: {
											 style: "text-align: center;  vertical-align:middle;"
										}
										, columns: [
											{
												  title		: labelCoulmn['#lbl-target']['#lbl-sysNm']
												, field 	: "interface.receiverSystemInfoList[0].systemNmCd"
												, template	: "<span title='${interface.receiverSystemInfoList[0].systemNmCd}'>${interface.receiverSystemInfoList[0].systemNmCd}</span>"
												, width 	: fixLeftCoulmnWidth / 2
												, headerAttributes: {
													 style: "text-align: center;"
												}
												, attributes: {
													 style: "white-space: nowrap; text-align: center;"
												}
												, filterable: { multi: true, search: true }
											}
											, {
												  title		: labelCoulmn['#lbl-target']['#lbl-resourceNm']
												, field 	: "interface.receiverSystemInfoList[0].resourceNm"
												, template : '#=$.main.fn_setSystemColumn(interface.receiverSystemInfoList, "resourceNm")#'
												, width 	: fixLeftCoulmnWidth / 2
												, headerAttributes: {
													 style: "text-align: center;"
												}
												, attributes: {
													 style: "text-align: center; white-space: nowrap;"
												}
												, filterable: { multi: true, search: true }
											}
											, {
												  title: labelCoulmn['#lbl-target']['#lbl-svcNm']
												, field 	: "interface.receiverSystemInfoList[0].service"
												, template : '#=$.main.fn_setSystemColumn(interface.receiverSystemInfoList, "service")#'
												, width 	: fixLeftCoulmnWidth / 2
												, headerAttributes: {
													 style: "text-align: center;"
												}
												, attributes: {
													 style: "text-align: center; white-space: nowrap;"
												}
												, filterable: { multi: true, search: true }
											}
										]
									}
									,{
										  title 	: labelCoulmn['#lbl-stat']
										, field 	: "statusNm"
										, width 	: fixLeftCoulmnWidth / 2
										, template	: "<span title='${statusNm}'>${statusNm}</span>"
										, headerAttributes: {
											 style: "text-align:center; vertical-align:middle;"
										}
										, attributes: {
											 style: "text-align: center; white-space: nowrap;"
										}
										, filterable: { multi: true, search: true }
									}
							]
						    , dataBound: function (e) {
						    	if(0 == $("#interface-grid").data().kendoGrid.dataSource.view().length) {
						    		var gridHeight = window.innerHeight - ($('.navbar-static-top').height() + $('.page-heading').height() + $('.col-lg-12').height());

						    		$("#interface-grid").children(".k-grid-content").height(gridHeight /2.5);
						    		$("#interface-grid").children(".k-grid-content-locked").height(gridHeight / 2.5);
						    	} else {
						    		$("#interface-grid").children(".k-grid-content").height('auto');
							    	$("#interface-grid").children(".k-grid-content-locked").height('auto');
						    	}
						    }
						}).data("kendoGrid");

					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_setSearchResultGrid"});
					}
				},//end fn_setSearchResultGrid()

				//-----------------------------------------------------------------------
				// Description :: Grid System 컬럼 설정
				//-----------------------------------------------------------------------
				fn_setSystemColumn : function(systemInfoList, checkColumn) {
					try {
						var rtnColumnVal = '';

						if(0 != systemInfoList.length) {
							if('resourceNm' == checkColumn) {
								rtnColumnVal = systemInfoList[0].resourceNm;
							} else if('service' == checkColumn) {
								rtnColumnVal = systemInfoList[0].service;
							}
						}
						return "<span title='"+ rtnColumnVal +"'>"+ rtnColumnVal +"</span>";
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_setSystemColumn"});
					}
				},//end fn_setSystemColumn()

				//-----------------------------------------------------------------------
				// Description :: 검색 결과 - Grid 컬럼 Label 설정
				//-----------------------------------------------------------------------
				fn_setGridColumnLabel : function() {
					try {
						var returnObject = {
								  '#lbl-channelNm'	: mint.label.getLabel('lb-80')
								, '#lbl-biz' 		: mint.label.getLabel('lb-81')
								, '#lbl-reqNm' 		: mint.label.getLabel('lb-83')
								, '#lbl-interfaceNm': mint.label.getLabel('lb-153')
								, '#lbl-integrationId': mint.label.getLabel('lb-154')
								, '#lbl-source' 	:  {
										 '#lbl-source' 		: mint.label.getLabel('lb-98')
										,'#lbl-sysNm' 		: mint.label.getLabel('lb-82')
										,'#lbl-resourceNm' 	: mint.label.getLabel('lb-86')
									 	,'#lbl-svcNm' 		: mint.label.getLabel('lb-87')
								}
								, '#lbl-target' 	:  {
									 	 '#lbl-target'		: mint.label.getLabel('lb-102')
										,'#lbl-sysNm' 		: mint.label.getLabel('lb-82')
										,'#lbl-resourceNm' 	: mint.label.getLabel('lb-86')
										,'#lbl-svcNm' 		: mint.label.getLabel('lb-87')
								}
								, '#lbl-stat'		: mint.label.getLabel('lb-106')
						};
						return returnObject;
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_setGridColumnLabel"});
					}
				},//end fn_setGridColumnLabel()

				//-----------------------------------------------------------------------
				// Description :: 조회 버튼 Click 이벤트
				//-----------------------------------------------------------------------
				fn_searchRequirementList : function() {
					try {
						//데이터 세팅
						var requirements = new Object();

				    	//시스템명
				    	if(!$("#tf-systemNm").val() == ''){
					    	requirements.systemNm = $('#tf-systemNm_hidden').val();
				    	}
				    	/*
				    	if(!$("#cb-sysNm").val() == ''){
					 		requirements.systemNm = $("#cb-sysNm").data("kendoComboBox").value();
				    	}
				    	*/

				    	//업무명
				    	if(!$("#cb-reqNm").val() == ''){
						    requirements.requirementNm = $("#cb-reqNm").data("kendoComboBox").value();
				    	}

				    	//인터페이스명
				    	if(!$("#cb-interfaceNm").val() == ''){
					   		requirements.interfaceNm = $("#cb-interfaceNm").data("kendoComboBox").value();
				    	}

				    	//인터페이스 ID
				    	if(!$("#cb-integrationId").val() == ''){
					   		requirements.integrationId = $("#cb-integrationId").data("kendoComboBox").value();
				    	}

				    	//서비스명
				    	if(!$("#cb-svcNm").val() == ''){
						    requirements.service = $("#cb-svcNm").data("kendoComboBox").value();
				    	}

				    	//서비스명
				    	if(!$("#cb-svcDesc").val() == ''){
						    requirements.serviceDesc = $("#cb-svcDesc").data("kendoComboBox").value();
				    	}

				    	//검색 범위(전체, 담당자)
				    	requirements.isRelUser = $('input[name=rd-search-range]:checked').val();

					    //데이터 조회
					    mint.callService(requirements, 'AN-01-00-001', 'REST-R01-AN-01-00', '$.main.fn_setGridData', {errorCall : true});
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "fn_searchRequirementList"});
					}
				},//end fn_searchRequirementList()

				//-----------------------------------------------------------------------
				// Description :: 조회 버튼 Click 이벤트 - Grid Data 설정
				//-----------------------------------------------------------------------
				fn_setGridData : function(jsonData) {
					try {
						for(var i=0; i<jsonData.length; i++) {
							if(0 >= jsonData[i].interface.senderSystemInfoList.length) {
								var tempObj = new Object();
								tempObj.systemNmCd = '';
								tempObj.systemNm = '';
								tempObj.systemCd = '';
								jsonData[i].interface.senderSystemInfoList.push(tempObj);
							} else {
								for(var sendCount=0; sendCount<jsonData[i].interface.senderSystemInfoList.length; sendCount++) {
									jsonData[i].interface.senderSystemInfoList[sendCount].systemNmCd =
										jsonData[i].interface.senderSystemInfoList[sendCount].systemNm + '(' +
										jsonData[i].interface.senderSystemInfoList[sendCount].systemCd + ')';
								}
							}

							if(0 >= jsonData[i].interface.receiverSystemInfoList.length) {
								var tempObj = new Object();
								tempObj.systemNmCd = '';
								tempObj.systemNm = '';
								tempObj.systemCd = '';
								jsonData[i].interface.receiverSystemInfoList.push(tempObj);
							} else {
								for(var receiveCount=0; receiveCount<jsonData[i].interface.receiverSystemInfoList.length; receiveCount++) {
									jsonData[i].interface.receiverSystemInfoList[receiveCount].systemNmCd =
										jsonData[i].interface.receiverSystemInfoList[receiveCount].systemNm + '(' +
										jsonData[i].interface.receiverSystemInfoList[receiveCount].systemCd + ')';
								}
							}
						}

						var dataSource = new kendo.data.DataSource({
							  data: jsonData
						    , page: 1
						    , pageSize: mint.ui.getPageSizesS({'currentPage' : true})
						});

						//데이터 재설정
						$("#interface-grid").data("kendoGrid").setDataSource(dataSource);
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_setGridData"});
					}
				},//end fn_setGridData()

				//-----------------------------------------------------------------------
				// Description :: System 리턴 값
				//-----------------------------------------------------------------------
				fn_returnSystemPopupData : function(rtnSystemData) {
					try {
						if( mint.common.isEmpty(rtnSystemData) ) {
							$('#tf-systemNm').val('');
							$('#tf-systemNm_hidden').val('');
							$('#tf-systemId_hidden').val('');
						} else {
							$('#tf-systemNm').val(rtnSystemData.systemNm + '(' + rtnSystemData.systemCd + ')');
							$('#tf-systemNm_hidden').val(rtnSystemData.systemNm);
							$('#tf-systemId_hidden').val(rtnSystemData.systemId);

							$.main.fn_setSearchNode('tf-systemNm', 'input');
	                        $.main.fn_getSearchInfo('systemNm', rtnSystemData.systemNm);
						}
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_returnSystemPopupData"});
					}
				},//end fn_returnSystemPopupData()

				//-----------------------------------------------------------------------
				// Description :: Grid DBClick 이벤트 - 상세 화면 이동
				//-----------------------------------------------------------------------
				fn_moveRequirementDetail : function() {
					try {
						var entityGrid = $("#interface-grid").data("kendoGrid");
				        var selectedItem = entityGrid.dataItem(entityGrid.select());

				        mint.setDetailView('Y');
			      		mint.common.setScreenParam("requirementId", selectedItem.requirementId);
			      		var options = mint.common.getScreenParam("options");
			      		mint.move('../sub-an/AN-01-00-003', options);
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_moveRequirementDetail"});
					}
				}//end fn_initCallback()

			}// end main
		});// end extends

		//=======================================================================
		// (4) 이벤트 핸들러 정의
		//=======================================================================

		//-----------------------------------------------------------------------
		// Description :: 검색조건 초기화 클릭
		//-----------------------------------------------------------------------
		$('.btn-clear').on('click', function() {
        	$.main.fn_clearSearchArea();
    	});

		//-----------------------------------------------------------------------
		// Description :: 시스템명 변경시 event 함수
		//-----------------------------------------------------------------------
		$('#tf-systemNm').on('click', function () {
			//팝업에 필요한 div 를 동적으로 생성하도록 한다.
			var attachDiv = 'attachSystemSearchPop';
			$('#' + attachDiv).remove();
			$('#page-wrapper').append($('<div id="' + attachDiv + '"></div>'));

			$.ajax({
	     		url: "../sub-co/CO-01-00-901.html",
	     		success:function(data){
	     			$('#' + attachDiv).html('');
	         		$('#' + attachDiv).html(data);

	         		$('#pop_system_search').modal({
	    				backdrop: 'static'
	    			}).on('hidden.bs.modal', function(event) {
	    				$('#' + attachDiv).html('');
	    			});
	     		}
	 		});
		});
		/*
		$('#cb-sysNm').change(function(e) {
			$.main.fn_setSearchNode('cb-sysNm', 'combo');
			$.main.fn_getSearchInfo('systemNm', $("#cb-sysNm").data("kendoComboBox").value());
		});
		*/

		//-----------------------------------------------------------------------
		// Description :: 요건명 변경시 event 함수
		//-----------------------------------------------------------------------
		$('#cb-reqNm').change(function(e) {
			$.main.fn_setSearchNode('cb-reqNm', 'combo');
			$.main.fn_getSearchInfo('requirementNm', $("#cb-reqNm").data("kendoComboBox").value());
		});

		//-----------------------------------------------------------------------
		// Description :: 인터페이스명 변경시 event 함수
		//-----------------------------------------------------------------------
		$('#cb-interfaceNm').change(function(e) {
			$.main.fn_setSearchNode('cb-interfaceNm', 'combo');
			$.main.fn_getSearchInfo('interfaceNm', $("#cb-interfaceNm").data("kendoComboBox").value());
		});

		//-----------------------------------------------------------------------
		// Description :: 인터페이스 ID 변경시 event 함수
		//-----------------------------------------------------------------------
		$('#cb-integrationId').change(function(e) {
			$.main.fn_setSearchNode('cb-integrationId', 'combo');
			$.main.fn_getSearchInfo('integrationId', $("#cb-integrationId").data("kendoComboBox").value());
		});

		//-----------------------------------------------------------------------
		// Description :: 조회 버튼에 Click 이벤트 설정
		//-----------------------------------------------------------------------
		$("#bt-ifsearch").click(function () {
			$.main.fn_searchRequirementList();
        });

		//-----------------------------------------------------------------------
		// Description :: 그리드 Row DBClick 이벤트 설정 (상세 조회)
		//-----------------------------------------------------------------------
		$('#interface-grid').on('dblclick', "tr.k-state-selected", function () {
			$.main.fn_moveRequirementDetail();
		});

		//=======================================================================
		// (5) 기타 Function 정의
		//=======================================================================

		//=======================================================================
		// (6) 화면 로딩시 실행할 항목 기술
		//=======================================================================
		$.main.fn_init();
		mint.label.attachLabel(null);

	});


</script>

<style>

	#interface-grid .k-grid-header
	{
	   padding: 0 !important;
	}

	#interface-grid .k-grid-content
	{
	   overflow-y: visible;
	}

	.k-grid tr {
	    cursor : pointer;
	}
</style>

