<!--
	Screen ID : AN-05-00-001
	Screen NM : 데이타 레이아웃  조회
		[변경 이력]
	* 20170124-001
-->

<!--location -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div id="oldPath" class="col-lg-5">
		<h2><lb class="lb-10"></lb></h2>
		<ol class="breadcrumb">
			<li><lb class="lb-832"></lb></li>
	        <li><lb class="lb-833"></lb></li>
	        <li class="active"><strong><lb class="lb-10"></lb></strong></li>
 		</ol>
	</div>
	<div id="menuPath" class="col-lg-5">
    </div>
</div>
<!--location end-->

<!--wrapper wrapper-content-->
<div class="wrapper wrapper-content animated fadeInRight">
	<!--row-->
	<div class="row">
		<!--col-lg-12-->
		<div class="col-lg-12">
			<!--ibox float-e-margins-->
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5><lb class="lb-78"></h5>&nbsp;&nbsp;&nbsp;
					<div class="ibox-tools">
						<a class="help-over-pannel" onclick="mint.ui.help(this, 'AP00000005','H002')"></a>
                   		<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</div>
					<div style="float: right; padding: 0px 20px 0px 0px;">
						<a class="btn btn-w-m btn-default btn-outline btn-clear"><i class="fa fa-check "></i> <lb class="lb-79"></lb></a>
						<a class="btn btn-w-m btn-default btn-outline btn-datasetsearch"><i class="fa fa-search "></i> <lb class="lb-10"></lb></a>
						<a class="btn btn-w-m btn-primary btn-datasetreg"><i class="fa fa-check "></i> <lb class="lb-11"></a>
					</div>
				</div>
				<!--ibox-content-->
             	<div class="ibox-content">
             		<!--row-->
               		<div class="row">

						<div class="col-sm-4">
                            <div class="form-group">
                            	<span class="lable_tag"><lb class="lb-1001">레이아웃명</lb></span>
                            	<input id="cb-datasetNm" type="text" class="input-tag-4"  placeholder="Search...">                            	
                           	</div>
						</div>
						<div class="col-sm-4">
                            <div class="form-group">
                            	<span class="lable_tag"><lb class="lb-1006">레이아웃 CD</lb></span>
                            	<input id="cb-datasetCd" type="text" class="input-tag-4"  placeholder="Search...">
                           	</div>
						</div>

						<!--col-sm-4 2-->
						<hr class="hr-space">
						<div class="col-sm-4">
							<div class="form-group">
								<span class="lable_tag"><lb class="lb-153">인터페이스명</lb></span>
								<input id="cb-interfaceNm" type="text" class="input-tag-4"  placeholder="Search...">								
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<span class="lable_tag"><lb class="lb-154">인터페이스 ID</lb></span>
								<input id="cb-integrationId" type="text" class="input-tag-4"  placeholder="Search...">
							</div>
						</div>
						<div class="col-sm-4" style="display:none;">
							<div class="form-group">
								<span class="lable_tag"><lb class="lb-1002">전문구분</lb></span>
								<span style="padding: 0px 0px 0px 0px;">
					            	<div class="radio radio-inline" style="padding-left:20px; padding-top:5px;">
										<span class="radio-info" style="padding-right: 20px;"><input id="radio0" type="radio" name="rd-search-standard" value="" checked="checked"><label for="radio0"><lb class="lb-1003"></label></span>
		                                <span class="radio-info" style="padding:0px 20px;"><input id="radio1" type="radio" name="rd-search-standard" value="Y"><label for="radio1"><lb class="lb-1004"></label></span>
		                                <span class="radio-info" style="padding:0px 20px;"><input id="radio2" type="radio" name="rd-search-standard" value="N"><label for="radio2"><lb class="lb-1005"></label></span>
                                	</div>
                                </span>
							</div>
						</div>
						<hr class="hr-space">
						<div class="col-sm-4">
							<div class="form-group">
								<span class="lable_tag"><lb class="lb-71"></lb>(From)</span>
								<input id="sc-an0500001-period-fromdate" value="2015/04/20" class="input-width"  style="text-align:center;" />
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<span class="lable_tag"><lb class="lb-71"></lb>(To)</span>
								<input id="sc-an0500001-period-todate" value="2015/04/20" class="input-width"  style="text-align:center;" />
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<span class="lable_tag"><lb class="lb-535"></lb></span>
								<input id="cb-regId" type="text" class="input-tag-4"  placeholder="Search...">
							</div>
						</div>
                   	</div>
				 	<!--row end-->
                </div>
				<!--ibox-content end-->
           	</div>
			<!--ibox float-e-margins end-->
		</div>
		<!--col-lg-12 end-->
	</div>
	<!--row end-->
	<!--row start-->
	<div class="row">
		<!--col-lg-12-->
 		<div class="col-lg-12">
			<!--ibox float-e-margins-->
            <div class="ibox float-e-margins">
				<!--ibox-title-->
                <div class="ibox-title">
					<h5><lb class="lb-91"></h5>
                    <div class="ibox-tools">
                   		<a class="help-over-pannel" onclick="mint.ui.help(this, 'AP00000005','H001')"></a>
                   		<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</div>
					<div style="float: right; padding: 0px 20px 0px 0px;">
						<a class="btn btn-w-m btn-default btn-outline btn-datasetcompare"><i class="fa fa-search "></i> <lb class="lb-1027"></lb></a>
					</div>
               	</div>
				<!--ibox-title end-->

				<!--ibox-content-->
                <div class="ibox-content">
                	<!-- kendo table-->
                	<div id="example">
       	     			<div id="grid"></div>
					</div>
					<!--kendo table end-->
               	</div>
				<!--ibox-content end-->
            </div>
			<!--ibox float-e-margins end-->
       	</div>
		<!--col-lg-12 end-->
	</div>
	<!--row end-->
</div>

<script>
	$(document).ready(function() {
		//=======================================================================
		//(1) function 및 variable scope 설정 :: (메인은 main, 팝업 및 서브는 sub)
		//=======================================================================
		screenName = "AN-05-00-001";
		$.extend({
			main : {
				//=======================================================================
				// (2) Screen 에서 사용할 variable 정의
				//=======================================================================
				searchNode : "",
				isRoot : "Y",  // DataSet Y , FieldSet N
				dataSetListCheckbox : {},
				dataSetCdList : {},
				regIdList : {},

				//=======================================================================
				// (3) Screen 에서 사용할 function 정의
				//=======================================================================

				//-----------------------------------------------------------------------
				// Description :: 화면 초기화
				//-----------------------------------------------------------------------
				fn_init : function() {
					try {
						mint.init('$.main.fn_initCallback');

					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_init"});
					}
				},//end fn_init()

				//-----------------------------------------------------------------------
				// Description :: 화면 초기화 콜백
				//-----------------------------------------------------------------------
				fn_initCallback : function() {
					try {
						$.main.fn_initSearchNode();			//검색노드 초기화
						$.main.fn_initSC_Period();			//날짜 초기화
						$.main.fn_setSearchComboBox();		//검색콤보박스 설정
						$.main.fn_setSearchResultGrid();	//검색결과 리스트 그리드 설정

						mint.common.siteMenuPath(screenName);
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_initCallback"});
					}
				},//end fn_initCallback()

	            //-----------------------------------------------------------------------
	            // Description :: 검색 조건 초기화 함수
	            //-----------------------------------------------------------------------
	            fn_clearSearchArea : function() {
	                try {

	                    $('#cb-datasetNm').val('');
	                    $('#cb-datasetCd').val('');
	                    $('#cb-integrationId').val('');
	                    $('#cb-interfaceNm').val('');
	                    $('#cb-regId').val('');
	                    
	                    // 레이아웃명
	                    var combobox = $("#cb-datasetNm").data("kendoComboBox");
	                    combobox.enable(true);
	                    combobox.value('');	                    
	                    mint.ui.setComboBoxWithValueSort('cb-datasetNm', dataSetCdList, 0, 'nm2', 'nm2');

	                  	// 레이아웃 CD
	                    var combobox = $("#cb-datasetCd").data("kendoComboBox");
	                    combobox.enable(true);
	                    combobox.value('');
	                    mint.ui.setComboBoxWithValueSort('cb-datasetCd', dataSetCdList, 0, 'cd', 'cd');
	                    
	                 	// 등록자
	                    var combobox = $("#cb-regId").data("kendoComboBox");
	                    combobox.enable(true);
	                    combobox.value('');
	                    mint.ui.setComboBoxWithValueSort('cb-regId', regIdList, 0, 'nm', 'nm');
	                    
	                    // 인터페이스명
	                    var combobox = $("#cb-interfaceNm").data("kendoComboBox");
	                    combobox.enable(true);
	                    combobox.value('');
	                    mint.ui.setComboBoxWithValueSort('cb-interfaceNm', mint.common.commonCodeMap.get("interfaceCdList"), 0, 'interfaceNm', 'interfaceNm', '');

	                  	// 인터페이스 ID
	                    var combobox = $("#cb-integrationId").data("kendoComboBox");
	                    combobox.enable(true);
	                    combobox.value('');
	                    mint.ui.setComboBoxWithValueSort('cb-integrationId', mint.common.commonCodeMap.get("interfaceCdList"), 0, 'integrationId', 'integrationId', '');

	                    // 등록일
	                    var fromDate = $("#sc-an0500001-period-fromdate").data("kendoDatePicker");
	                    var pastDate = new Date();
	                    pastDate.setDate(pastDate.getDate()-7);
	                    fromDate.value(pastDate);
	                    
	                    var toDate = $("#sc-an0500001-period-todate").data("kendoDatePicker");
	                    toDate.value(new Date());
	                    
	                    $.main.fn_initSearchNode();
	                } catch( e ) {
	                    mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_clearSearchArea"});
	                }
	            },

				//-----------------------------------------------------------------------
	            // Description :: 검색조건 날짜 초기화 함수
	            //-----------------------------------------------------------------------
	            fn_initSC_Period : function() {
					try {
						var pastDate = new Date();
						pastDate.setDate(pastDate.getDate() - 7);

						$("#sc-an0500001-period-fromdate").kendoDatePicker({
				            format : "yyyy/MM/dd",
				            culture: "ko-KR",
				            value : pastDate
				        });

						$("#sc-an0500001-period-todate").kendoDatePicker({
				            format : "yyyy/MM/dd",
				            culture: "ko-KR",
				            value : new Date()
				        });
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_initSC_Period"});
					}
				}, // end fn_initSC_Period()

				//-----------------------------------------------------------------------
	            // Description :: searchNode 초기화 함수
	            //-----------------------------------------------------------------------
	            fn_initSearchNode : function() {
	                try {
	                    $.main.searchNode = new Object();

	                    $.main.searchNode.previous = null;
	                    $.main.searchNode.current = null;
	                    $.main.searchNode.previousType = null;
	                    $.main.searchNode.currentType = null;
	                } catch( e ) {
	                    mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_initSearchNode"});
	                }
	            },

	            //-----------------------------------------------------------------------
	            // Description :: searchNode 데이터 세팅
	            //-----------------------------------------------------------------------
	            fn_setSearchNode : function(currentId, type) {
	                try {
	                	if($.main.searchNode.current != currentId) {
	                        $.main.searchNode.previous = $.main.searchNode.current;
	                        $.main.searchNode.previousType = $.main.searchNode.currentType;

	                        $.main.searchNode.current = currentId;
	                        $.main.searchNode.currentType = type;

	                        if($.main.searchNode.previousType == 'combo') {
	                        	if($.main.searchNode.previous != null) {
	                                //$("#" + $.main.searchNode.previous).kendoComboBox({ enable: false });
	                                var combobox = $("#" + $.main.searchNode.previous).data("kendoComboBox");
	                                combobox.enable(false);
	                            }
	                        } else {
	                        	if( ! mint.common.isEmpty( $.main.searchNode ) && ! mint.common.isEmpty( $.main.searchNode.previous ) ) {
		                        	$("#" + $.main.searchNode.previous).prop("disabled", true);
		                        	$("#" + $.main.searchNode.previous).css("background-color", "#F9F8F8");
	                        	}
	                        }
	                    }
	                } catch( e ) {
	                    mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_setSearchNode"});
	                }
	            },



				//-----------------------------------------------------------------------
				// Description ::  검색 조건 - ComboBox 설정
				//-----------------------------------------------------------------------
				fn_setSearchComboBox : function() {
					try {
						var dataset = new Object();
						dataset.isRoot = $.main.isRoot;						
						
						//레이아웃명, 레이아웃코드 데이터 조회
					    mint.callService(dataset, screenName, 'REST-R06-AN-05-01',function(jsonData) {
					    	dataSetCdList=jsonData;
					    	
					    	mint.ui.setComboBoxWithValueSort('cb-datasetNm', dataSetCdList, 0, 'nm2', 'nm2');
					    	mint.ui.setComboBoxWithValueSort('cb-datasetCd', dataSetCdList, 0, 'cd', 'cd');
						}, {errorCall : true});
						
						//등록자명 데이터 조회
					    mint.callService(null, screenName, 'REST-R04-AN-05-01',function(jsonData) {
					    	regIdList=jsonData;
					    	
					    	mint.ui.setComboBoxWithValueSort('cb-regId', regIdList, 0, 'nm', 'nm');
						}, {errorCall : true});
						
						//인터페이스명, 인터페이스ID 호출
						mint.ui.setComboBoxWithValueSort('cb-interfaceNm', mint.common.commonCodeMap.get("interfaceCdList"), 0, 'interfaceNm', 'interfaceNm');
						mint.ui.setComboBoxWithValueSort('cb-integrationId', mint.common.commonCodeMap.get("interfaceCdList"), 0, 'integrationId', 'integrationId');
						
						$("#cb-datasetNm").keydown($.main.fn_onKeyDownAN0500001);
						$("#cb-datasetCd").keydown($.main.fn_onKeyDownAN0500001);
						$("#cb-integrationId").keydown($.main.fn_onKeyDownAN0500001);
						$("#cb-interfaceNm").keydown($.main.fn_onKeyDownAN0500001);
						$("#cb-regId").keydown($.main.fn_onKeyDownAN0500001);

					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_setSearchComboBox"});
					}
				},//end fn_setSearchComboBox()

				//-----------------------------------------------------------------------
				// Description :: 엔터키 이벤트
				//-----------------------------------------------------------------------
				fn_onKeyDownAN0500001 : function() {
					try {
						if(event.keyCode == 13) {
							$.main.fn_searchDataSetList();
				     	}
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_onKeyDownAN0200001"});
					}
				},//end fn_onKeyDownAN0500001()



				//-----------------------------------------------------------------------
				// Description ::  검색 결과 - Grid 설정
				//-----------------------------------------------------------------------
				fn_setSearchResultGrid : function() {
					try {
						var fixLeftGridWidth = ($('#grid')[0].clientWidth / 10) * 7;
						var fixLeftCoulmnWidth = fixLeftGridWidth / 4;

						//컬럼 레이블 아이디 세팅
						var labelCoulmn = $.main.fn_setGridColumnLabel();

						var grid = $("#grid").kendoGrid({
							dataSource : {
				 				  data: ""
				 				, pageSize : mint.ui.getPageSizesS({'currentPage' : true})
							}
							, filterable: true
						    , sortable : true
							, selectable: "row"
							, resizable: true
							, pageable : {
								  refresh 		: false
								, pageSizes		: mint.ui.getPageSizesS()
						    	, buttonCount 	: 5
					            , change:function(e) {
					            	$.main.dataSetListCheckbox = {};
						       	}

							}
						    , toolbar: ["excel"]
						    , excel: {
						          allPages: true
						        , filterable: true
						        , fileName: mint.common.remakeYYMMDD(new Date()).substring(0, 14) + mint.label.getLabel('lb-10') + '.xlsx'
						    }
						    , messages: {
						        commands: {
						          excel: mint.label.getLabel('lb-508')
						        }
						    }
						    , excelExport: function(e) {
						    	//스타일 편집
						        var sheet = e.workbook.sheets[0];
						        for (var i = 0; i < sheet.rows.length; i++) {
						        	for (var ci = 0; ci < sheet.rows[i].cells.length; ci++) {
						            	sheet.rows[i].cells[ci].vAlign = "center";

						            	//정렬 기준
						            	if(0 == i || 1 == i) {
						            		//컬럼 헤더일 경우
						            		sheet.rows[i].cells[ci].hAlign = "center";
						            		sheet.rows[i].cells[ci].bold = true;
						            	} else {
						            		//데이터 내용일 경우
						            		if(1 == ci || 2 == ci || 3 == ci) {
							            		sheet.rows[i].cells[ci].hAlign = "left";
							            	} else {
							            		sheet.rows[i].cells[ci].hAlign = "center";
							            	}
						            	}
						        	}
						    	}

						        e.preventDefault();
						        mint.downloadExcelFile(mint.common.remakeYYMMDD(new Date()).substring(0, 14) + mint.label.getLabel('lb-10') + '.xlsx', sheet, 'AN-02-00-001');
					      	}
						    , columns : [
									{
										title : "",
										template : "<input type='checkbox' name='dataset-list-checkbox' class='if-popup-ifCheckbox' onclick='$.main.fn_checkDataSetGridRow(this)' >",
										width : "60px",
										headerAttributes : {
											style : "text-align: center"
										},
										attributes : {
											style : "text-align: center; white-space: nowrap;"
										}
										, width : "3%"
									}
									,{
										  title 	: labelCoulmn['#lbl-name2']
										, field 	: "name2"
										, width 	: fixLeftCoulmnWidth
										, template	: "<span title='${name2}'>${name2}</span>"
										, headerAttributes: {
											 style: "text-align: center; vertical-align:middle;"
										}
										, attributes: {
								              style: 'white-space: nowrap;'
							            }
									}
									, {
										  title 	: labelCoulmn['#lbl-cd']
										, field 	: "cd"
										, width 	: fixLeftCoulmnWidth / 2
										, template	: "<span title='${cd}'>${cd}</span>"
										, headerAttributes: {
											 style: "text-align: center; vertical-align:middle;"
										}
										, attributes: {
											 style: 'white-space: nowrap;  text-align: center;'
							            }
									}
									, {
										  title 	: labelCoulmn['#lbl-regDate']
										, field 	: "regDate"
										, width 	: fixLeftCoulmnWidth / 2
										, template: "#=kendo.toString(kendo.parseDate(regDate, 'yyyyMMddHHmm'), 'yyyy/MM/dd')#"
										, headerAttributes: {
											 style: "text-align: center; vertical-align:middle;"
										}
										, attributes: {
								              style: 'text-align: center; white-space: nowrap;'
							            }
									}
									, {
										  title 	: labelCoulmn['#lbl-regId']
										, field 	: "regUser.userNm"
										, width 	: fixLeftCoulmnWidth / 2
										, template	: "<span title='${regUser.userNm}'>${regUser.userNm}</span>"
										, headerAttributes: {
											 style: "text-align: center; vertical-align:middle;"
										}
										, attributes: {
								              style: 'text-align: center; white-space: nowrap;'
							            }
									}
									/* ,{
										  title 	: labelCoulmn['#lbl-interfaceId']
										, field 	: "integrationId"
										, width 	: fixLeftCoulmnWidth / 2
										, template	: "<span title='${interfaceId}'>${interfaceId}</span>"
										, headerAttributes: {
											 style: "text-align:center; vertical-align:middle;"
										}
										, attributes: {
											 style: "text-align: center; white-space: nowrap;"
										}
									}
									,{
										  title 	: labelCoulmn['#lbl-isStandard']
										, field 	: "isStandard"
										, width 	: fixLeftCoulmnWidth / 2
										, template	: "<span title='${isStandard}'>${isStandard}</span>"
										, headerAttributes: {
											 style: "text-align:center; vertical-align:middle;"
										}
										, attributes: {
											 style: "text-align: center; white-space: nowrap;"
										}
									}*/
									,{
										  title 	: labelCoulmn['#lbl-comments']
										, field 	: "comments"
										, width 	: fixLeftCoulmnWidth
										, template	: "<span title='${comments}'>${comments}</span>"
										, headerAttributes: {
											 style: "text-align:center; vertical-align:middle;"
										}
										, attributes: {
											 style: "text-align: center; white-space: nowrap;"
										}
									}
							]
						    , dataBound: function (e) {
						    	if(0 == $("#grid").data().kendoGrid.dataSource.view().length) {
						    		var gridHeight = window.innerHeight - ($('.navbar-static-top').height() + $('.page-heading').height() + $('.col-lg-12').height());

						    		$("#grid").children(".k-grid-content").height(gridHeight /3.5);
						    		$("#grid").children(".k-grid-content-locked").height(gridHeight / 3.5);
						    	} else {
						    		$("#grid").children(".k-grid-content").height('auto');
							    	$("#grid").children(".k-grid-content-locked").height('auto');
						    	}
						    }
						}).data("kendoGrid");

					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_setSearchResultGrid"});
					}
				},//end fn_setSearchResultGrid()


				//-----------------------------------------------------------------------
				// Description :: 검색 결과 - Grid 컬럼 Label 설정
				//-----------------------------------------------------------------------
				fn_setGridColumnLabel : function() {
					try {
						var returnObject = {
								 '#lbl-name2'	: mint.label.getLabel('lb-1001')
								, '#lbl-cd' 	: mint.label.getLabel('lb-1006')
								, '#lbl-regDate': mint.label.getLabel('lb-71')
								, '#lbl-regId'			: mint.label.getLabel('lb-535')
								//, '#lbl-interfaceId'	: mint.label.getLabel('lb-154')
								//, '#lbl-isStandard'		:mint.label.getLabel('lb-1004') +'/'+mint.label.getLabel('lb-1005')
								, '#lbl-comments'		:mint.label.getLabel('lb-398')
						};
						return returnObject;
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_setGridColumnLabel"});
					}
				},//end fn_setGridColumnLabel()


				//-----------------------------------------------------------------------
				// Description :: 조회 버튼 Click 이벤트
				//-----------------------------------------------------------------------
				fn_searchDataSetList : function() {
					try {
						var dataset = new Object();

					 	//DataSetNm
				    	if(!$("#cb-datasetNm").val() == ''){
				    		dataset.dataSetName = $("#cb-datasetNm").val();
				    	}
					 	//DataSetCd
				    	if(!$("#cb-datasetCd").val() == ''){
				    		dataset.dataSetCd = $("#cb-datasetCd").val();
				    	}
					 	//interfaceId
				    	if(!$("#cb-interfaceId").val() == ''){
				    		dataset.interfaceId = $("#cb-interfaceId").val();
				    	}
					 	//interfaceNm
				    	if(!$("#cb-interfaceNm").val() == ''){
				    		dataset.interfaceNm = $("#cb-interfaceNm").val();
				    	}
				    	//표준여부
				    	if($('input[name=rd-search-standard]:checked').val() != ''){
				    		dataset.isStandard = $('input[name=rd-search-standard]:checked').val();
				    	}
				    	dataset.isRoot = $.main.isRoot;
				    	dataset.regUserNm = $("#cb-regId").val();
				    	dataset.fromDate =
							kendo.toString($("#sc-an0500001-period-fromdate").data("kendoDatePicker").value(), 'yyyyMMdd');
				    	dataset.toDate =
							kendo.toString($("#sc-an0500001-period-todate").data("kendoDatePicker").value(), 'yyyyMMdd');
					    //데이터 조회
					    mint.callService(dataset, 'AN-05-00-001', 'REST-R01-AN-05-01', '$.main.fn_setGridData', {errorCall : true});

					    $.main.dataSetListCheckbox = {};
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "fn_searchDataSetList"});
					}
				},//end fn_searchRequirementList()

				//-----------------------------------------------------------------------
				// Description :: 조회 버튼 Click 이벤트 - Grid Data 설정
				//-----------------------------------------------------------------------
				fn_setGridData : function(jsonData) {
					try {
						if( !mint.common.isEmpty(jsonData) ) {
							var dataSource = new kendo.data.DataSource({
								  data: jsonData
							    , page:1
							    , pageSize:mint.ui.getPageSizesS({'currentPage' : true})
							});

							//데이터 재설정
							$("#grid").data("kendoGrid").setDataSource(dataSource);
						}
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_setGridData"});
					}
				},//end fn_setGridData()

				//-----------------------------------------------------------------------
				// Description :: 인터페이스 리스트 - 그리드 체크박스 클릭 이벤트 (인터페이스 상세 이동)
				//-----------------------------------------------------------------------
				fn_checkDataSetGridRow : function(node) {
					try {
					    var checked = node.checked,
					    row = $(node).closest("tr"),
					    grid = $("#grid").data("kendoGrid"),
					    dataItem = grid.dataItem(row);

					    $.main.dataSetListCheckbox[dataItem.uid] = {'checked':checked, 'dataItem':dataItem};

					    if (checked) {
					        //-select the row
					        row.addClass("k-state-selected");
					    } else {
					        //-remove selection
					        row.removeClass("k-state-selected");
					    }
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_checkDataSetGridRow"});
					}
				},//end fn_checkDataSetGridRow()

				//-----------------------------------------------------------------------
				// Description :: Grid DBClick 이벤트 - 상세 화면 이동
				//-----------------------------------------------------------------------
				fn_moveDataLayOutDetail : function() {
					try {
						var entityGrid = $("#grid").data("kendoGrid");
				        var selectedItem = entityGrid.dataItem(entityGrid.select());

				        mint.setDetailView('Y');
				        mint.common.setScreenParam("caller", "AN-05-00-001");
				        mint.common.setScreenParam("dataSetId", selectedItem.dataSetId);
				        mint.common.setScreenParam("screenType", "R");
			      		var options = mint.common.getScreenParam("options");
			      		mint.move('../sub-an/AN-05-00-902', options);	//데이터셋 상세 정보 페이지
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_moveDataLayOutDetail"});
					}
				},//end fn_moveDataLayOutDetail()
				//-----------------------------------------------------------------------
				// Description :: Grid DBClick 이벤트 - 상세 화면 이동
				//-----------------------------------------------------------------------
				fn_dataSetCompare : function() {
					try {
						var checkboxCount = $("input[name=dataset-list-checkbox]:checked").length;

						if(0 == checkboxCount) {
							mint.common.alert('BW00022', null);			//mint.message.js에 해당 메시지 추가
						} else if(2!=checkboxCount){
							mint.common.alert('BW00021', null);
						} else {
							var dataSetList = [];
							for(var j in $.main.dataSetListCheckbox){
								if($.main.dataSetListCheckbox[j].checked) {
									var tempDataSetObject = new Object();
									//tempDataSetObject.dataSetId = $.main.dataSetListCheckbox[j].dataItem.dataSetId;
									tempDataSetObject = $.main.dataSetListCheckbox[j].dataItem;
									dataSetList.push(tempDataSetObject);
								}
			 				}
							mint.setDetailView('Y');
							mint.common.setScreenParam("dataSetList",dataSetList);
					        mint.common.setScreenParam("caller", "AN-05-00-001");
					        mint.common.setScreenParam("screenType", "R");
				      		//var options = mint.common.getScreenParam("options");
				      		mint.move('../sub-an/AN-05-00-002');		//비교 화면
						}
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_dataSetCompare"});
					}
				}//end fn_dataSetCompare()
			}// end main
		});// end extends

		//=======================================================================
		// (4) 이벤트 핸들러 정의
		//=======================================================================

		//-----------------------------------------------------------------------
		// Description :: 검색조건 초기화 클릭
		//-----------------------------------------------------------------------
		$('.btn-clear').on('click', function() {
        	$.main.fn_clearSearchArea();
    	});
		//-----------------------------------------------------------------------
		// Description :: 조회 버튼에 Click 이벤트 설정
		//-----------------------------------------------------------------------
		$(".btn-datasetsearch").click(function () {
			$.main.fn_searchDataSetList();
        });

		//-----------------------------------------------------------------------
		// Description ::  들옥  Click 이벤트 설정
		//-----------------------------------------------------------------------
		$(".btn-datasetreg").click(function () {
			mint.move('../sub-an/AN-05-00-003',{CRUDPS:'C', detailView:'Y'});
        });

		//-----------------------------------------------------------------------
		// Description ::  레이아웃비교.  Click 이벤트 설정
		//-----------------------------------------------------------------------
		$(".btn-datasetcompare").click(function () {
			$.main.fn_dataSetCompare();
        });

		//-----------------------------------------------------------------------
		// Description :: 그리드 Row DBClick 이벤트 설정 (상세 조회)
		//-----------------------------------------------------------------------
		$('#grid').on('dblclick', "tr.k-state-selected", function () {
			$.main.fn_moveDataLayOutDetail();
		});

		//=======================================================================
		// (5) 기타 Function 정의
		//=======================================================================

		//=======================================================================
		// (6) 화면 로딩시 실행할 항목 기술
		//=======================================================================
		$.main.fn_init();
		mint.label.attachLabel(null);

	});


</script>

<style>

#grid .k-grid-header
{
   padding: 0 !important;
}

#grid .k-grid-content
{
   overflow-y: visible;
}

.k-grid tr {
    cursor : pointer;
}
</style>

