<!--
	Screen ID : SU-03-05-004
	Screen NM : 납기준수율.
	[변경 이력]
	* YYYYMMDD-001
-->
<!--location -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-5">
		<h2><lb class="lb-39"></lb></h2>
		<ol class="breadcrumb">
            <li id="d1"><lb class="lb-631"></lb></li>
            <li id="d2"><lb class="lb-33"></lb></li>
			<li class="active"><strong><lb class="lb-39"></lb></strong></li>
		</ol>
	</div>
	<!--button-->
	<div class="col-lg-7">
		<div class="title-action">

		</div>
	</div>
	<!--button end-->
</div>
<!--location end-->

<!--wrapper wrapper-content-->
<div class="wrapper wrapper-content animated fadeInRight">
	<!--row-->
	<div class="row">
		<!--col-lg-12-->
		<div class="col-lg-12">
			<!--ibox float-e-margins-->
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5><lb class="lb-78"></lb></h5>
					<div class="ibox-tools">
						<a class="collapse-link"> <i class="fa fa-chevron-up"></i></a>
						<!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-wrench"></i></a>
						<ul class="dropdown-menu dropdown-user">
							<li><a href="#">Config option 1</a></li>
							<li><a href="#">Config option 2</a></li>
						</ul>
						<a class="close-link"> <i class="fa fa-times"></i></a> -->
					</div>
					<div style="float: right; padding: 0px 20px 0px 0px;">
						<a class="btn btn-w-m btn-default btn-outline btn-search"><i class="fa fa-search "></i> <lb class="lb-10"></lb></a>
						<a class="btn btn-w-m btn-default btn-outline btn-status-KPI" style="display: none;"><i class="fa fa-reply"></i> <lb class="lb-33"></lb></a>
					</div>						
				</div>
				
				<!--ibox-content-->
				<div class="ibox-content">
					<!--row-->
					<div class="row">
						<!--col-sm-4 1 -->
						<div class="col-sm-4">
							<!-- <form class="form-horizontal"> -->
								<!--form-group -->
								<div class="form-group">
									<span class="lable_tag"><lb class="lb-10"></lb> <lb class="lb-494"></lb></span>
									<!--comboBox-->
									<input id="sc-su0305004-category" type="text" style="width: 63%;" />
									<!--comboBox end-->
								</div>
								<!--form-group end-->
							<!-- </form> -->
						</div>
						<!--end col-sm-4 1 -->
					</div>
					<!--end row-->
				</div>
				<!--end ibox-content-->
			</div>
			<!--end ibox float-e-margins-->
		</div>
		<!--end col-lg-12-->
	</div>
	<!--end row-->
	
	<!--row start-->
	<div class="row">
		<!--col-lg-12-->
		<div class="col-lg-12">
			<!--ibox float-e-margins-->
			<div class="ibox float-e-margins">

				<!--ibox-title-->
				<div class="ibox-title">
					<h5><lb class="lb-91"></lb></h5>
					<div class="ibox-tools">
						<a class="help-over-pannel" onclick="mint.ui.help(this, 'AP00000059','H002')"></a>
						<a class="collapse-link"> <i class="fa fa-chevron-up"></i></a> 
						<!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-wrench"></i></a>
						<ul class="dropdown-menu dropdown-user">
							<li><a href="#">Config option 1</a></li>
							<li><a href="#">Config option 2</a></li>
						</ul>
						<a class="close-link"> <i class="fa fa-times"></i></a> -->
					</div>

				</div>
				<!--ibox-title end-->

				<div class="ibox-content">
					<div class="tabs-container">
						<ul id="tabs-menu-list" class="nav nav-tabs">
		                    <li class="active"><a data-toggle="tab" href="#tab-01"><lb class="lb-39"></lb></a></li>
		                    <li class=""><a data-toggle="tab" href="#tab-02"><lb class="lb-603"></lb></a></li>
		                </ul>
					</div>
					<div class="tab-content">
						<div id="tab-01" class="tab-pane active">
	                        <div class="panel-body">
	                            <div id="grid_su0305004"></div>
	                        </div>
	                    </div>
	
	                    <div id="tab-02" class="tab-pane">
	                        <div class="panel-body">
	                            <div id="grid_su0305004_detail"></div>
	                        </div>
	                    </div>
					</div>
				</div>

			</div>
			<!--ibox float-e-margins end-->
		</div>
		<!--col-lg-12 end-->
	</div>
	<!--row end-->
</div>

<script>
$(document).ready(function () {
	//=======================================================================
	//(1) function 및 variable scope 설정 :: (메인은 main, 팝업 및 서브는 sub)
	//=======================================================================
	screenName = "SU-03-05-004";
	$.extend({
		main : {
			//=======================================================================
			// (2) Screen 에서 사용할 variable 정의
			//=======================================================================
			requestObject : {},
			isInitfinishedDelayRequirementsDetailGrid : true,
			
			//=======================================================================
			// (3) Screen 에서 사용할 function 정의
			//=======================================================================	
			//-----------------------------------------------------------------------
            // Description :: 화면 초기화
            //-----------------------------------------------------------------------
            fn_init : function() {
                try {
                    mint.init('$.main.fn_initCallback');
                } catch( e ) {
                    mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_init"});
                }
            },//end fn_init()   

            //-----------------------------------------------------------------------
            // Description :: 화면 초기화 콜백
            //-----------------------------------------------------------------------           
            fn_initCallback : function() {
                try{
                	// 조회 조건 초기화
                	$.main.fn_initSearchCondition();
                	
                	
					// 탭 자동 이동
					$('#tabs-menu-list li:eq(1)').hide();
                	
		    		$('#tabs-menu-list li:eq(0)').show();
		    		$('#tabs-menu-list a:eq(0)').tab('show');
                	// 그리드 초기화
		    		$.main.fn_initGrid();
					
                	
                	// start. 연계 조회(자동) 여부 체크 및 조회
					var linkedCategoryId = mint.common.getScreenParam("SU0305004_SearchCategoryId");
                	
					var linkedFromScreenName = mint.common.getScreenParam("LinkedFromScreenName");
					//console.log(linkedCategoryId);
					if (linkedCategoryId) {
						
						if (linkedFromScreenName == "SU-03-00-001") {
							$(".btn-status-KPI").show();
						}
						else {
							$(".btn-status-KPI").hide();
						}
						
						// 조회구분 set
						$("#sc-su0305004-category").data("kendoDropDownList").value(linkedCategoryId);
						
						$.main.fn_getData();
					}
					mint.common.setScreenParam("SU0305004_SearchCategoryId", null);
					
					mint.common.setScreenParam("LinkedFromScreenName", null); 
					// end. 연계 조회(자동) 여부 체크 및 조회
                }
                catch(e) {
                	mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_initCallback"});
                }
            }, // end fn_initCallback 
            
          	//-----------------------------------------------------------------------
            // Description :: 조회 조건 초기화
            //-----------------------------------------------------------------------           
            fn_initSearchCondition : function() {
            	try {
            		var scCategoryData = [
							{text: mint.label.getLabel('lb-89'), value: ""},
							{text: mint.label.getLabel('lb-60'), value: "0"},
							{text: mint.label.getLabel('lb-61'), value: "1"},
							{text: mint.label.getLabel('lb-62'), value: "2"}
            		];
            		
            		$("#sc-su0305004-category").kendoDropDownList({
						dataTextField: "text",
						dataValueField: "value",
						dataSource: scCategoryData,
						index: 0
            		});
            		
            		$('#sc-su0305004-category').data("kendoDropDownList").wrapper.keydown(function(event) {
						$.main.fn_onKeyDownSU0305004(event);
					});	
            	}
            	catch(e) {
            		mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_setSearchCondition"});
            	}
            }, // end fn_initSearchCondition
            
          	//-----------------------------------------------------------------------
			// Description :: - 그리드 초기화
			//-----------------------------------------------------------------------
			fn_initGrid : function() {
				try {
					$("#grid_su0305004").kendoGrid({
						dataSource : {
							data: [],
							pageSize : mint.ui.getPageSizesS({'currentPage' : true})
						},
						//selectable: "row",
						resizable: true,
						sortable: true,
						pageable : {
								refresh : false,
								pageSizes : mint.ui.getPageSizesS(),
								buttonCount : 5
						},
						toolbar: ["excel"],
						excel: {
							  allPages: true
							, filterable: true
							, fileName: mint.label.getLabel('lb-395') + " " + mint.label.getLabel('lb-39') + ".xlsx"
						}, 
						messages: {
							commands: {
							  excel: mint.label.getLabel('lb-508')
							}
						}, excelExport: function(e) {
							//스타일 편집
							var sheet = e.workbook.sheets[0];
							
							//console.log(sheet);
							// columns 기준
							for(var cw=0; cw<sheet.columns.length; cw++) {
								
								//sheet.columns[cw].autoWidth = true;
								if (sheet.columns[cw].autoWidth) {
									//sheet.columns[cw].autoWidth = false;
									sheet.columns[cw].width = 20;
								}
								else {
									sheet.columns[cw].width = 100;
								}
							}
							
							// rows 기준
							for (var i = 0; i < sheet.rows.length; i++) {
								for (var ci = 0; ci < sheet.rows[i].cells.length; ci++) {
									sheet.rows[i].cells[ci].vAlign = "center";
									
									//정렬 기준
									if(0 == i || 1 == i) {
										//컬럼 헤더일 경우
										sheet.rows[i].cells[ci].hAlign = "center";
										sheet.rows[i].cells[ci].bold = true;
									} else {
										//데이터 내용일 경우
										/*
										if(1 == ci || 2 == ci || 3 == ci) {
										   sheet.rows[i].cells[ci].hAlign = "left";
										} else {
										   sheet.rows[i].cells[ci].hAlign = "center";
										}
										*/
										sheet.rows[i].cells[ci].hAlign = "center";
										
										if (ci == 4) {
											sheet.rows[i].cells[ci].value += " %"; 
										}
									}
								}
							}
							
							e.preventDefault();
							var createExcelFileName = mint.label.getLabel('lb-395') + " " + mint.label.getLabel('lb-39') + ".xlsx";
							mint.downloadExcelFile(createExcelFileName, sheet, screenName);
							
						},
						columns : [
								{
									field : "statusId",
									hidden : true
								}
								, {
									field : "statusNm",
									title : mint.label.getLabel('lb-473'),
									headerAttributes: {
										 style: "text-align: center; vertical-align: middle;"
									}, 
									//template: '#=kendo.format("{0:n0}", totalCount_curr)#',
									attributes: {
										 style: "text-align: center; white-space: nowrap;"
									}
								}
								, {
									title : mint.label.getLabel('lb-615'),
									headerAttributes: {
										 style: "text-align: center; vertical-align: middle;"
									}, 
									attributes: {
										 style: "text-align: center; white-space: nowrap;"
									},									
									columns : [
												{
													field : "delayCnt",
													title : mint.label.getLabel('lb-566'),
													headerAttributes: {
														 style: "text-align: center; vertical-align: middle;"
													}, 
													template: '#=$.main.fn_finishedDelayCntTemplate(delayCnt, statusId)#',
													attributes: {
														 style: "text-align: center; white-space: nowrap; color: red;"
													}
												}								
												, {
													field : "ingCnt",
													title : mint.label.getLabel('lb-611'),
													headerAttributes: {
														 style: "text-align: center; vertical-align: middle;"
													}, 
													template: '#=kendo.format("{0:n0}", ingCnt)#',
													attributes: {
														 style: "text-align: center; white-space: nowrap;"
													}
												}									           
									]
								}
								, {
									title : mint.label.getLabel('lb-412'),
									headerAttributes: {
										 style: "text-align: center; vertical-align: middle;"
									}, 
									attributes: {
										 style: "text-align: center; white-space: nowrap;"
									},										
									columns : [
												{
													field : "finishCnt",
													title : mint.label.getLabel('lb-612'),
													headerAttributes: {
														 style: "text-align: center; vertical-align: middle;"
													}, 
													template: '#=kendo.format("{0:n0}", finishCnt)#',
													attributes: {
														 style: "text-align: center; white-space: nowrap;"
													}
												}
												, {
													field : "delayedFinishCnt",
													title : mint.label.getLabel('lb-613'),
													headerAttributes: {
														 style: "text-align: center; vertical-align: middle;"
													}, 
													template: '#=kendo.format("{0:n0}", delayedFinishCnt)#',
													attributes: {
														 style: "text-align: center; white-space: nowrap;"
													}
												}										           
									           
									           
									]
								}
							
/*								
								, {
									field : "finishedCnt",
									title : mint.label.getLabel('lb-349'),
									headerAttributes: {
										 style: "text-align: center; vertical-align: middle;"
									},
									columns: [
											{
												field : "finishedDelayCnt",
												title : mint.label.getLabel('lb-566'),
												headerAttributes: {
													 style: "text-align: center; vertical-align: middle;"
												}, 
												template: '#=$.main.fn_finishedDelayCntTemplate(finishedDelayCnt, categoryId)#',
												attributes: {
													 style: "text-align: center; white-space: nowrap; color: red;"
												}
											}
											, {
												field : "finishedComplyCnt",
												title : mint.label.getLabel('lb-412'),
												headerAttributes: {
													 style: "text-align: center; vertical-align: middle;"
												}, 
												template: '#=kendo.format("{0:n0}", finishedComplyCnt)#',
												attributes: {
													 style: "text-align: center; white-space: nowrap; color: blue;"
												}
											}
									]
								}
*/								
								, {
									field : "totalCnt",
									title : mint.label.getLabel('lb-421') + " " + mint.label.getLabel('lb-349'),
									headerAttributes: {
										 style: "text-align: center; vertical-align: middle;"
									}, 
									template: '#=kendo.format("{0:n0}", totalCnt)#',
									attributes: {
										 style: "text-align: center; white-space: nowrap;"
									}
								}
								, {
									field : "finishRate",
									title : mint.label.getLabel('lb-39'),
									headerAttributes: {
										 style: "text-align: center; vertical-align: middle;"
									}, 
									template: '#= finishRate # %',
									attributes: {
										 style: "text-align: center; white-space: nowrap;"
									}
								}
						],
						dataBound: function (e) {
							if(1 > $("#grid_su0305004").data().kendoGrid.dataSource.view().length) {
								var gridHeight = window.innerHeight - ($('.navbar-static-top').height() + $('.page-heading').height() + $('.col-lg-12').height());
								
								$("#grid_su0305004").children(".k-grid-content").height(gridHeight /2.5);
								$("#grid_su0305004").children(".k-grid-content-locked").height(gridHeight / 2.5);
							} else {
								$("#grid_su0305004").children(".k-grid-content").height('auto');
								$("#grid_su0305004").children(".k-grid-content-locked").height('auto');
							}
						}
					});
				}
				catch(e) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_initGrid"});
				}
			}, // end fn_initGrid
            
			//-----------------------------------------------------------------------
            // Description :: 지연건수 컬럼 항목 template
            //-----------------------------------------------------------------------     
			fn_finishedDelayCntTemplate : function(delayCnt, statusId) {
				try {
					var tmpHtml = "<span onClick='$.main.fn_getfinishedDelayCntList(\""+ statusId + "\");' style='cursor: pointer;'>" + kendo.format("{0:n0}", delayCnt) + "</span>";
					
					return tmpHtml;
				}
				catch(e) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_finishedDelayCntTemplate"});
				}
			}, // end fn_finishedDelayCntTemplate
			
			//-----------------------------------------------------------------------
            // Description :: 지연건수 커럼 항목 클릭 시, 처리 지연 상세 정보 조회
            //-----------------------------------------------------------------------     
			fn_getfinishedDelayCntList : function(statusId) {
				try {
					
					if ($.main.isInitfinishedDelayRequirementsDetailGrid) {
						//$("#grid_su0305004_detail").empty();
						
						$('#tabs-menu-list li:eq(1)').show();
			    		$('#tabs-menu-list a:eq(1)').tab('show');
						
						$.main.fn_initFinishedDelayRequirementsDetailGrid();
					}
					
					var requestObject = {};
					requestObject.statusId= statusId;
										
					//데이터 조회
				    mint.callService(requestObject, screenName, 'REST-R02-SU-03-05-004', '$.main.fn_setFinishedDelayRequirementsDetailGrid', {errorCall : true});
					
				}
				catch(e) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_getfinishedDelayCntList"});
				}
			}, // end fn_getfinishedDelayCntList
			
			//-----------------------------------------------------------------------
            // Description :: 납기준수율 조회 콜백
            //-----------------------------------------------------------------------     
			fn_set_su0305004_GridData : function(jsonData) {
				try {
					var gridData = $.main.fn_get_su0305004_custom_GridData(jsonData);
					//console.log(gridData);
					var dataSource = new kendo.data.DataSource({
						  data: jsonData
					    , page:1
					    , pageSize: mint.ui.getPageSizesS({'currentPage' : true})
					});
					
					//데이터 재설정
					$("#grid_su0305004").data("kendoGrid").setDataSource(dataSource);
				}
				catch(e) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_set_su0305004_GridData"});
				}
			}, // end fn_set_su0305004_GridData
			
			//-----------------------------------------------------------------------
            // Description :: 납기준수율 조회 Data custom 
            //-----------------------------------------------------------------------     
			fn_get_su0305004_custom_GridData : function(jsonData) {
				try {
					var statusRequriementComplyCountList = [];
					var statusRequriementComplyCountData = {};
					//console.log(jsonData);
					if (jsonData) {
						for (var i in jsonData) {
							statusRequriementComplyCountData = {};
							
							statusRequriementComplyCountData.categoryId = jsonData[i].statusId;
							statusRequriementComplyCountData.categoryNm = jsonData[i].statusNm;
							statusRequriementComplyCountData.finishedDelayCnt = jsonData[i].finished_d_Cnt;
							statusRequriementComplyCountData.finishedComplyCnt = jsonData[i].finished_c_Cnt;
							statusRequriementComplyCountData.totalCnt = jsonData[i].totalCnt;
							statusRequriementComplyCountData.complyRate = jsonData[i].complyRate;
							
							statusRequriementComplyCountList.push(statusRequriementComplyCountData);
						}
					}
					
					return statusRequriementComplyCountList;
				}
				catch(e) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_get_su0305004_custom_GridData"});
				}
			}, // end fn_get_su0305004_custom_GridData
			
			//-----------------------------------------------------------------------
            // Description :: 납기지연(미준수) 목록 상세 그리드 초기화 
            //-----------------------------------------------------------------------     
			fn_initFinishedDelayRequirementsDetailGrid : function() {
				try {
					var fixLeftGridWidth = ($("#grid_su0305004_detail")[0].clientWidth / 10) * 7;
					var fixLeftCoulmnWidth = fixLeftGridWidth / 4;
					//컬럼 레이블 아이디 세팅
					var labelCoulmn = $.main.fn_setGridColumnLabel();
					
					$("#grid_su0305004_detail").kendoGrid({
						dataSource : {
							  data: []
							, pageSize : mint.ui.getPageSizesS({'currentPage' : true})
						}
						, sortable : true
						, selectable: "row"
						, resizable: true
						, pageable : {
							  refresh 		: false
							, pageSizes		: mint.ui.getPageSizesS()
							, buttonCount 	: 5
						},
						toolbar: ["excel"],
						excel: {
							  allPages: true
							, filterable: true
							, fileName: mint.label.getLabel('lb-395') + " " + mint.label.getLabel('lb-39') + " " + mint.label.getLabel('lb-353') + ".xlsx"
						}, 
						messages: {
							commands: {
							  excel: mint.label.getLabel('lb-508')
							}
						}, excelExport: function(e) {
							//스타일 편집
							var sheet = e.workbook.sheets[0];
							
							//console.log(sheet);
							// columns 기준
							for(var cw=0; cw<sheet.columns.length; cw++) {
								
								//sheet.columns[cw].autoWidth = true;
								if (sheet.columns[cw].autoWidth) {
									//sheet.columns[cw].autoWidth = false;
									sheet.columns[cw].width = 20;
								}
								else {
									sheet.columns[cw].width = 100;
								}
							}
							
							// rows 기준
							for (var i = 0; i < sheet.rows.length; i++) {
								for (var ci = 0; ci < sheet.rows[i].cells.length; ci++) {
									sheet.rows[i].cells[ci].vAlign = "center";
									
									//정렬 기준
									if(0 == i || 1 == i) {
										//컬럼 헤더일 경우
										sheet.rows[i].cells[ci].hAlign = "center";
										sheet.rows[i].cells[ci].bold = true;
									} else {
										//데이터 내용일 경우
										/*
										if(1 == ci || 2 == ci || 3 == ci) {
										   sheet.rows[i].cells[ci].hAlign = "left";
										} else {
										   sheet.rows[i].cells[ci].hAlign = "center";
										}
										*/
										sheet.rows[i].cells[ci].hAlign = "center";
									}
								}
							}
							
							e.preventDefault();
							var createExcelFileName = mint.label.getLabel('lb-395') + " " + mint.label.getLabel('lb-39') + " " + mint.label.getLabel('lb-353') + ".xlsx";
							mint.downloadExcelFile(createExcelFileName, sheet, screenName);
							
						}
						, columns : [
								{
									  title 	: labelCoulmn['#lbl-channelNm']
									, field 	: "interface.channel.channelNm"
									, width 	: fixLeftCoulmnWidth / 2
									, template	: "<span title='${interface.channel.channelNm}'>${interface.channel.channelNm}</span>"
									, locked	: true
									, headerAttributes: {
										 style: "text-align: center; vertical-align:middle;"
									}
									, attributes: {
										  style: 'text-align: center; white-space: nowrap;'
									}
								}
								, {
									  title 	: labelCoulmn['#lbl-biz']
									, field 	: "business.businessNm"
									, width 	: fixLeftCoulmnWidth / 1.5
									, template	: "<span title='${business.businessNm}'>${business.businessNm}</span>"
									, locked	: true
									, headerAttributes: {
										 style: "text-align: center; vertical-align:middle;"
									}
									, attributes: {
										  style: 'white-space: nowrap;'
									}
								}
								, {
									  title 	: labelCoulmn['#lbl-reqNm']
									, field 	: "requirementNm"
									, width 	: fixLeftCoulmnWidth / 1.5
									, template	: "<span title='${requirementNm}'>${requirementNm}</span>"
									, locked	: true
									, headerAttributes: {
										 style: "text-align: center; vertical-align:middle;"
									}
									, attributes: {
										  style: 'white-space: nowrap;'
									}
								}
								, {
									  title 	: labelCoulmn['#lbl-interfaceNm']
									, field 	: "interface.interfaceNm"
									, width 	: fixLeftCoulmnWidth / 1.25
									, template	: "<span title='${interface.interfaceNm}'>${interface.interfaceNm}</span>"
									, headerAttributes: {
										 style: "text-align: center; vertical-align:middle;"
									}
									, attributes: {
										  style: 'white-space: nowrap;'
									}
								}
								, {
									  title 	: labelCoulmn['#lbl-interfaceId']
									, field 	: "interface.integrationId"
									, width 	: fixLeftCoulmnWidth / 1.5
									, template	: "<span title='${interface.integrationId}'>${interface.integrationId}</span>"
									, headerAttributes: {
										 style: "text-align: center; vertical-align:middle;"
									}
									, attributes: {
										  style: 'white-space: nowrap;  text-align: center;'
									}
								}
								, {
									  field 	: "interface.interfaceId"
									, hidden	: true
								}
								, {
									  title 	: labelCoulmn['#lbl-source']['#lbl-source']
									, field 	: "merage1"
									, headerAttributes: {
										 style: "text-align: center; vertical-align:middle;"
									}
									, columns: [
										{ 
											  title		: labelCoulmn['#lbl-source']['#lbl-sysNm']
											, field 	: "interface.senderSystemInfoList[0].systemNmCd"
											, template  : '#=$.main.fn_setSystemColumn(interface.senderSystemInfoList, "systemNm")#'
											, width 	: fixLeftCoulmnWidth / 2
											, headerAttributes: {
												 style: "text-align: center;"
											}
											, attributes: {
												 style: "white-space: nowrap; text-align: center;"
											}
										}
										, {
											  title		: labelCoulmn['#lbl-source']['#lbl-resourceNm']
											, field 	: "interface.senderSystemInfoList[0].resourceNm"
											, template  : '#=$.main.fn_setSystemColumn(interface.senderSystemInfoList, "resourceNm")#'
											, width 	: fixLeftCoulmnWidth / 2
											, headerAttributes: {
												 style: "text-align: center;"
											}
											, attributes: {
												 style: "text-align: center; white-space: nowrap;"
											}
										}
										, { 
											  title		: labelCoulmn['#lbl-source']['#lbl-svcNm']
											, field 	: "interface.senderSystemInfoList[0].service"
											, template  : '#=$.main.fn_setSystemColumn(interface.senderSystemInfoList, "service")#'
											, width 	: fixLeftCoulmnWidth / 2
											, headerAttributes: {
												 style: "text-align: center;"
											}
											, attributes: {
												 style: "text-align: center; white-space: nowrap;"
											}
										}
									]

								}
								, {
									  title 	: labelCoulmn['#lbl-target']['#lbl-target']
									, field 	: "merage2"
									, headerAttributes: {
										 style: "text-align: center; vertical-align:middle;"
									}
									, columns: [
										{
											  title		: labelCoulmn['#lbl-target']['#lbl-sysNm']
											, field 	: "interface.receiverSystemInfoList[0].systemNmCd"
											, template : '#=$.main.fn_setSystemColumn(interface.receiverSystemInfoList, "systemNm")#'
											, width 	: fixLeftCoulmnWidth / 2
											, headerAttributes: {
												 style: "text-align: center;"
											}
											, attributes: {
												 style: "white-space: nowrap; text-align: center;"
											}
										}
										, {
											  title		: labelCoulmn['#lbl-target']['#lbl-resourceNm']
											, field 	: "interface.receiverSystemInfoList[0].resourceNm"
											, template : '#=$.main.fn_setSystemColumn(interface.receiverSystemInfoList, "resourceNm")#'
											, width 	: fixLeftCoulmnWidth / 2
											, headerAttributes: {
												 style: "text-align: center;"
											}
											, attributes: {
												 style: "text-align: center; white-space: nowrap;"
											}
										}
										, { 
											  title: labelCoulmn['#lbl-target']['#lbl-svcNm']
											, field 	: "interface.receiverSystemInfoList[0].service"
											, template : '#=$.main.fn_setSystemColumn(interface.receiverSystemInfoList, "service")#'
											, width 	: fixLeftCoulmnWidth / 2
											, headerAttributes: {
												 style: "text-align: center;"
											}
											, attributes: {
												 style: "text-align: center; white-space: nowrap;"
											}
										}
									]
								}
								,{
									  title 	: labelCoulmn['#lbl-stat']
									, field 	: "statusNm"
									, width 	: fixLeftCoulmnWidth / 2
									, template	: "<span title='${statusNm}'>${statusNm}</span>"
									, headerAttributes: {
										 style: "text-align:center; vertical-align:middle;"
									}
									, attributes: {
										 style: "text-align: center; white-space: nowrap;"
									}
								}
						]
						, dataBound: function (e) {
							if(0 == $("#grid_su0305004_detail").data().kendoGrid.dataSource.view().length) {
								var gridHeight = window.innerHeight - ($('.navbar-static-top').height() + $('.page-heading').height() + $('.col-lg-12').height());
								
								$("#grid_su0305004_detail").children(".k-grid-content").height(gridHeight /3.5);
								$("#grid_su0305004_detail").children(".k-grid-content-locked").height(gridHeight / 3.5);
							} else {
								$("#grid_su0305004_detail").children(".k-grid-content").height('auto');
								$("#grid_su0305004_detail").children(".k-grid-content-locked").height('auto');
							}
						}
					});
					
					$.main.isInitfinishedDelayRequirementsDetailGrid = false;
					
				} catch( e ) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_initFinishedDelayRequirementsDetailGrid"});
				}
			}, // end fn_initFinishedDelayRequirementsDetailGrid
			
			//-----------------------------------------------------------------------
			// Description :: Grid System 컬럼 설정
			//-----------------------------------------------------------------------
			fn_setSystemColumn : function(systemInfoList, checkColumn) {
				try {
					var rtnColumnVal = '';
					if(0 != systemInfoList.length) {
						if('systemNm' == checkColumn) {
							rtnColumnVal = systemInfoList[0].systemNmCd
							
						} else if('resourceNm' == checkColumn) {
							rtnColumnVal = systemInfoList[0].resourceNm
							
						} else if('service' == checkColumn) {
							rtnColumnVal = systemInfoList[0].service
						}
					}
					return "<span title='"+ rtnColumnVal +"'>"+ rtnColumnVal +"</span>";
				} catch( e ) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_setSystemColumn"});
				}
			},//end fn_initCallback()

			//-----------------------------------------------------------------------
			// Description :: 요건 검색 결과 - Requirement Grid 컬럼 Label 설정
			//-----------------------------------------------------------------------
			fn_setGridColumnLabel : function() {
				try {
					var returnObject = {
							  '#lbl-channelNm'	: mint.label.getLabel('lb-80')
							, '#lbl-biz' 		: mint.label.getLabel('lb-81')
							, '#lbl-reqNm' 		: mint.label.getLabel('lb-83')
							, '#lbl-interfaceNm': mint.label.getLabel('lb-153')
							, '#lbl-interfaceId': mint.label.getLabel('lb-154')
							, '#lbl-source' 	:  {
									 '#lbl-source' 		: 'Consumer'
									,'#lbl-sysNm' 		: mint.label.getLabel('lb-82')
									,'#lbl-resourceNm' 	: mint.label.getLabel('lb-86')
									,'#lbl-svcNm' 		: mint.label.getLabel('lb-87')
							}
							, '#lbl-target' 	:  {
									 '#lbl-target'		: 'Provider'
									,'#lbl-sysNm' 		: mint.label.getLabel('lb-82')
									,'#lbl-resourceNm' 	: mint.label.getLabel('lb-86')
									,'#lbl-svcNm' 		: mint.label.getLabel('lb-87')
							}
							, '#lbl-stat'		: mint.label.getLabel('lb-106')
					};
					return returnObject;
				} catch( e ) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_setGridColumnLabel"});
				}
			},//end fn_setGridColumnLabel()
			
			//-----------------------------------------------------------------------
            // Description :: 납기지연(미준수) 목록 조회 콜백
            //-----------------------------------------------------------------------     
			fn_setFinishedDelayRequirementsDetailGrid : function(jsonData) {
				try {
					// 탭 자동 이동
		    		$('#tabs-menu-list li:eq(1)').show();
		    		$('#tabs-menu-list a:eq(1)').tab('show');
		    		
					//console.log(jsonData);
					for(var i=0; i<jsonData.length; i++) {
						for(var sendCount=0; sendCount<jsonData[i].interface.senderSystemInfoList.length; sendCount++) {
							jsonData[i].interface.senderSystemInfoList[sendCount].systemNmCd = 
								jsonData[i].interface.senderSystemInfoList[sendCount].systemNm + '(' +
								jsonData[i].interface.senderSystemInfoList[sendCount].systemCd + ')';
						}
						
						for(var receiveCount=0; receiveCount<jsonData[i].interface.receiverSystemInfoList.length; receiveCount++) {
							jsonData[i].interface.receiverSystemInfoList[receiveCount].systemNmCd = 
								jsonData[i].interface.receiverSystemInfoList[receiveCount].systemNm + '(' +
								jsonData[i].interface.receiverSystemInfoList[receiveCount].systemCd + ')';
						}
					}
					
					var dataSource = new kendo.data.DataSource({
						  data: jsonData
					    , page:1
					    , pageSize: mint.ui.getPageSizesS({'currentPage' : true})
					});
					
					//데이터 재설정
					$("#grid_su0305004_detail").data("kendoGrid").setDataSource(dataSource);
				}
				catch(e) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_initFinishedDelayRequirementsDetailGrid"});
				}
			}, // end fn_initFinishedDelayRequirementsDetailGrid
			
			//-----------------------------------------------------------------------
            // Description :: Grid DBClick 이벤트 - 상세 화면 이동
            //-----------------------------------------------------------------------
            fn_moveRequirementDetail : function() {
                try {
                    var entityGrid = $("#grid_su0305004_detail").data("kendoGrid");
                    var selectedItem = entityGrid.dataItem(entityGrid.select());
                    
                    //-----------------------------------------------------------------------
                    // 2015.08.21 김동환 수정
                    // selectdItem 을 setScreenParam 에 설정하고 상세 페이지에서 mint.callService 를 호출하도록 변경
                    //-----------------------------------------------------------------------
                    {
                    	mint.setDetailView('Y');
                        mint.common.setScreenParam("requirementId", selectedItem.requirementId);
                        mint.common.setScreenParam("caller", "AN-03-01-004");
                        mint.move('../sub-an/AN-01-00-003', {CRUDPS:'R'});
                    }
                    
                } catch( e ) {
                    mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_moveRequirementDetail"});
                }
            },//end fn_moveRequirementDetail()
            
          	//-----------------------------------------------------------------------
            // Description :: 입력된 조회조건 설정 
            //-----------------------------------------------------------------------     
			fn_getSearchCondition : function() {
				try {
					/*
					var resultConditions = {
							scCategoryId : "ALL"
					};
					
					resultConditions.scCategoryId = $("#sc-su0305004-category").data("kendoDropDownList").value().replace(/\s/g,'');
					
					return resultConditions;
					*/

					var searchType = $("#sc-su0305004-category").data("kendoDropDownList").value();
					
					if( searchType != '' ) {
						var requestObject = new Object();
						requestObject.statusId = searchType;
						return requestObject;
					} else {
						return null;
					}
					
					
				}
				catch(e) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_getSearchCondition"});
				}
			}, // end fn_getSearchCondition
			
			//-----------------------------------------------------------------------
            // Description :: 납기준수율 조회 실행 
            //-----------------------------------------------------------------------     
			fn_getData : function() {
				try {
					$.main.requestObject = $.main.fn_getSearchCondition();
					
					//조회 - REST-R01-SU-03-05-004
		    		//데이터 조회
		    	    mint.callService($.main.requestObject, screenName, 'REST-R01-SU-03-05-004', '$.main.fn_set_su0305004_GridData', {errorCall : true});
				}
				catch(e) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_getData"});
				}
			},  // end fn_getData
            
			//-----------------------------------------------------------------------
			// Description :: 엔터키 이벤트
			//-----------------------------------------------------------------------
			fn_onKeyDownSU0305004 : function(event) {
				try {
					if(event.keyCode == 13) {
						$.main.fn_getData();
					}
				}
				catch(e) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_onKeyDownSU0305004"});
				}
			} // end fn_onKeyDownSU0305004
			
		} // end main
	});
	
	//=======================================================================
    // (4) 이벤트 핸들러 정의
    //=======================================================================
    // 조회 버튼 클릭 이벤트
    $('.btn-search').on('click', function() {
    	
    	try {
			$('#tabs-menu-list li:eq(0)').show();
    		$('#tabs-menu-list a:eq(0)').tab('show');
    		
			$('#tabs-menu-list li:eq(1)').hide();
    		
			// 조회 실행
    		$.main.fn_getData();
		}
		catch(e) {
			mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "btn-search.click"});
		}
        
    });
	
 	// 요건 그리드 더블클릭 이벤트
	$('#grid_su0305004_detail').on('dblclick', "tr.k-state-selected", function () {
		
		try {
			// 요건 상세 조회/이동(화면전환)
			$.main.fn_moveRequirementDetail();
		}
		catch(e) {
			mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "grid_an0301004_detail.dblclick"});
		}
		
	});
    
 	
	$(".btn-status-KPI").bind("click", function () {
		
		try {
			mint.move('../sub-su/SU-03-00-001');
		}
		catch(e) {
			mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "btn-status-KPI.click"});
		}
		
	});
	
    //=======================================================================
    // (5) 기타 Function 정의
    //=======================================================================
    
    
    //=======================================================================
    // (6) 화면 로딩시 실행할 항목 기술
    //=======================================================================       
    $.main.fn_init();
    mint.label.attachLabel(null);
    
});
</script>

<style>
/* GRID Scroll hidden */
.k-grid-header
{
   padding: 0 !important;
}

.k-grid-content
{
   overflow-y: visible;
}
/* end GRID Scroll hidden */

/* GRID Cursor set */
.k-grid tr {
    cursor : default !important;
}
/* end GRID Cursor set */
</style>