<!--
	Screen ID : SU-03-02-005
	Screen NM : 유형별 집계.
	[변경 이력]
	* YYYYMMDD-001
-->
<!--location -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-5">
		<h2><lb class="lb-633"></lb></h2>
		<ol class="breadcrumb">
            <li ><lb class="lb-631"></lb></li>
            <li ><lb class="lb-632"></lb></li>
			<li class="active"><strong><lb class="lb-633"></lb></strong></li>
		</ol>
	</div>
	<!--button-->
	<div class="col-lg-7">
		<div class="title-action">
			
		</div>
	</div>
	<!--button end-->
</div>
<!--location end-->

<!--wrapper wrapper-content-->
<div class="wrapper wrapper-content animated fadeInRight">
	<!--row-->
	<div class="row">
		<!--col-lg-12-->
		<div class="col-lg-12">
			<!--ibox float-e-margins-->
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5><lb class="lb-78"></lb></h5>
					<div class="ibox-tools">
						<a class="help-over-pannel" onclick="mint.ui.help(this, 'AP00000033','H001')"></a>
						<a class="collapse-link"> <i class="fa fa-chevron-up"></i></a> 
						<!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-wrench"></i></a>
						<ul class="dropdown-menu dropdown-user">
							<li><a href="#">Config option 1</a></li>
							<li><a href="#">Config option 2</a></li>
						</ul>
						<a class="close-link"> <i class="fa fa-times"></i></a> -->
					</div>
					<div style="float: right; padding: 0px 20px 0px 0px;">
						<a class="btn btn-w-m btn-default btn-outline btn-type-sttsearch"><i class="fa fa-search "></i> <lb class="lb-10"></lb></a>
					</div>						
				</div>

				<!--ibox-content-->
				<div class="ibox-content">
					<!--row-->
					<div class="row">
						<!--col-sm-4 1-->
						<div class="col-sm-4">
							<!-- <form class="form-horizontal"> -->
								<!--form-group -->
								<div class="form-group">
									<span class="lable_tag"><lb class="lb-262"></lb></span>
									<!--comboBox-->
									<input id="sc-su0302005-method-type" type="text" placeholder="전체" style="width: 63%;" /> 
									<!--comboBox end-->
								</div>
								<!--form-group end-->

							<!-- </form> -->
						</div>
						<!--col-sm-4 1end -->
						<!--col-sm-4 1-->
						<div class="col-sm-4">
							<!-- <form class="form-horizontal"> -->

								<!--form-group -->
								<div class="form-group">
									<span class="lable_tag"><lb class="lb-215"></lb> <lb class="lb-86"></lb> <lb class="lb-478"></lb></span>
									<!--comboBox-->
									<input id="sc-su0302005-start-res-type" type="text" placeholder="전체" style="width: 63%;" /> 
									<!--comboBox end-->
								</div>
								<!--form-group end-->

							<!-- </form> -->
						</div>
						<!--col-sm-4 1end -->
						<!--col-sm-4 1-->
						<div class="col-sm-4">
							<!-- <form class="form-horizontal"> -->

								<!--form-group -->
								<div class="form-group">
									<span class="lable_tag"><lb class="lb-217"></lb> <lb class="lb-86"></lb> <lb class="lb-478"></lb></span>
									<!--comboBox-->
									<input id="sc-su0302005-end-res-type" type="text" placeholder="전체" style="width: 63%;" /> 
									<!--comboBox end-->
								</div>
								<!--form-group end-->

							<!-- </form> -->
						</div>
						<!--col-sm-4 1end -->
						<hr class="hr-space">
						<!--col-sm-11-->
						<div class="col-sm-8">
							<!-- <form class="form-horizontal"> -->
								<!--form-group -->
								<div class="form-group">
									<span class="lable_tag4" style="width:17%;"><lb class="lb-302"></lb></span>

									<!--comboBox-->
									<input id="sc-su0302005-period-fromdate" value="2015/04/20" class="input-width" style="text-align:center; width: 19.1%" />  
									<input id="sc-su0302005-period-fromhour" type="text" value="00" class="input-width" style="text-align:center; width: 100px" /> 
									<span style="padding: 0px 5px;"> ~ </span>
									<input id="sc-su0302005-period-todate" value="2015/04/20" class="input-width" style="text-align:center; width: 19.1%" />  
									<input id="sc-su0302005-period-tohour" type="text" value="24" class="input-width" style="text-align:center; width: 100px" /> 
									<!--comboBox end-->

								</div>
								<!--form-group end-->
							<!-- </form> -->

						</div>
						<!--col-sm-11 end -->

					</div>
					<!--row end-->

				</div>
				<!--ibox-content end-->

			</div>
			<!--ibox float-e-margins end-->
		</div>
		<!--col-lg-12 end-->

	</div>
	<!--row end-->


	<!--row start-->
	<div class="row">
		<!--col-lg-12-->
		<div class="col-lg-12">
			<!--ibox float-e-margins-->
			<div class="ibox float-e-margins">

				<!--ibox-title-->
				<div class="ibox-title">
					<h5><lb class="lb-91"></lb></h5>
					<div class="ibox-tools">
						<a class="help-over-pannel" onclick="mint.ui.help(this, 'AP00000033','H002')"></a>
						<a class="collapse-link"> <i class="fa fa-chevron-up"></i></a> 
						<!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-wrench"></i></a>
						<ul class="dropdown-menu dropdown-user">
							<li><a href="#">Config option 1</a></li>
							<li><a href="#">Config option 2</a></li>
						</ul>
						<a class="close-link"> <i class="fa fa-times"></i></a> -->
					</div>

				</div>
				<!--ibox-title end-->

				<!--ibox-content-->
				<div class="ibox-content">
					<div class="tabs-container">
						<ul id="tabs-menu-list" class="nav nav-tabs">
		                    <li class="active"><a data-toggle="tab" href="#tab-01"><lb class="lb-631"></lb></a></li>
		                    <li class=""><a data-toggle="tab" href="#tab-02"><lb class="lb-606"></lb></a></li>
		                </ul>
		                <div class="tab-content">
		                    <div id="tab-01" class="tab-pane active">
		                        <div class="panel-body">
		                            <div id="grid_su0302005"></div>
		                        </div>
		                    </div>
		
		                    <div id="tab-02" class="tab-pane">
		                        <div class="panel-body">
		                            <div id="grid_su0302005_detail"></div>
		                        </div>
		                    </div>
						</div>
					</div>
				</div>
				<!--ibox-content end-->

			</div>
			<!--ibox float-e-margins end-->
		</div>
		<!--col-lg-12 end-->
	</div>
	<!--row end-->

</div>
<!--wrapper wrapper-content end-->


<!--location -->
<!-- <div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		button
		<div class="title-action2">
			<a href="#" class="btn btn-white"><i class="fa fa-check "></i> 조회
			</a>
		</div>
		button end
	</div>
</div> -->
<!--location end-->


<script>
$(document).ready(function () {
	//=======================================================================
	//(1) function 및 variable scope 설정 :: (메인은 main, 팝업 및 서브는 sub)
	//=======================================================================
	screenName = "SU-03-02-005";
	$.extend({
		main : {
			//=======================================================================
			// (2) Screen 에서 사용할 variable 정의
			//=======================================================================
			requestObject : {},
			isInitTypeStatisticsDetailGrid : true,
			//=======================================================================
			// (3) Screen 에서 사용할 function 정의
			//=======================================================================			
			
			//-----------------------------------------------------------------------
			// Description :: 화면 초기화
			//-----------------------------------------------------------------------
			fn_init : function() {
				try {
					mint.ui.initScreen();
					
					mint.init('$.main.fn_initSearchCondition');
				} catch( e ) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_init"});
				}
			}, // end fn_init()
			
			//-----------------------------------------------------------------------
			// Description :: 화면 초기화 콜백
			//-----------------------------------------------------------------------		
			fn_initSearchCondition : function() {
				try {
					// 조회 조건 Area
					// 발생유형
					mint.ui.setComboBoxWithValue('sc-su0302005-method-type', mint.common.commonCodeMap.get("cds").IM12, 0, 'nm', 'cd');
					$("#sc-su0302005-method-type").data("kendoComboBox").bind("change", function(e) {
						var widget = e.sender;
						if (widget.value() && widget.select() === -1) {
							widget.value("");
						}
					});
					$("#sc-su0302005-method-type").data("kendoComboBox").input.keydown($.main.fn_onKeyDownSU0302005);
					// 송신 리소스 유형
					mint.ui.setComboBoxWithValue('sc-su0302005-start-res-type', mint.common.commonCodeMap.get("cds").IM04, 0, 'nm', 'cd');
					$("#sc-su0302005-start-res-type").data("kendoComboBox").bind("change", function(e) {
						var widget = e.sender;
						if (widget.value() && widget.select() === -1) {
							widget.value("");
						}
					});
					$("#sc-su0302005-start-res-type").data("kendoComboBox").input.keydown($.main.fn_onKeyDownSU0302005);
					// 수신 리소스 유형
					mint.ui.setComboBoxWithValue('sc-su0302005-end-res-type', mint.common.commonCodeMap.get("cds").IM04, 0, 'nm', 'cd');
					$("#sc-su0302005-end-res-type").data("kendoComboBox").bind("change", function(e) {
						var widget = e.sender;
						if (widget.value() && widget.select() === -1) {
							widget.value("");
						}
					});
					$("#sc-su0302005-end-res-type").data("kendoComboBox").input.keydown($.main.fn_onKeyDownSU0302005);
					// 검색 기간
					$.main.fn_initSC_Period();
					
					
					// 탭 자동 이동
					$('#tabs-menu-list li:eq(0)').show();
					$('#tabs-menu-list a:eq(0)').tab('show');
					
					$('#tabs-menu-list li:eq(1)').hide();
					
					// 그리드 초기화
					$.main.fn_initTypeStatisticsGrid();
				} catch( e ) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_initSearchCondition"});
				}
			}, // end fn_initSearchCondition()
			
			//-----------------------------------------------------------------------
			// Description :: 조회조건 - 검색 기간 초기화
			//-----------------------------------------------------------------------
			fn_initSC_Period : function() {
				try {
					$("#sc-su0302005-period-fromdate").kendoDatePicker({
			            format : "yyyy/MM/dd",
			            culture: "ko-KR",
			            value : new Date()
			        });
					
					/* 
					mint.ui.setComboBoxWithValue("sc-su0302005-period-fromhour", $.main.fn_makeKendoComboValueForJson(0, 24, 1), 0, "text", "value");
					$("#sc-su0302005-period-fromhour").data("kendoComboBox").bind("change", function(e) {
						var widget = e.sender;
						if (widget.value() && widget.select() === -1) {
							widget.value("00");
						}
					});
					 */
					 var tmpFromDate = new Date();
					 tmpFromDate.setHours(0, 0, 0, 0);
					 //tmpFromDate.setMinutes(0, 0, 0);
					 $("#sc-su0302005-period-fromhour").kendoTimePicker({
						 value: tmpFromDate
						 , format: "HH:mm"
						 , interval: 60
					 });
					
					
					$("#sc-su0302005-period-todate").kendoDatePicker({
			            format : "yyyy/MM/dd",
			            culture: "ko-KR",
			            value : new Date()
			        });
					
					/* 
					mint.ui.setComboBoxWithValue("sc-su0302005-period-tohour", $.main.fn_makeKendoComboValueForJson(1, 25, 1), 0, "text", "value");
					$("#sc-su0302005-period-tohour").data("kendoComboBox").bind("change", function(e) {
						var widget = e.sender;
						if (widget.value() && widget.select() === -1) {
							widget.value("24");
						}
					});
					 */
					var tmpToDate = new Date();
					tmpToDate.setHours(23, 59, 0, 0);
					$("#sc-su0302005-period-tohour").kendoTimePicker({
						value: tmpToDate
						, format: "HH:59"
						, interval: 60
					});
					
				} catch( e ) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_initSC_Period"});
				}
			}, // end fn_initSC_Period()

			//-----------------------------------------------------------------------
			// Description :: - 조회조건 - 검색 기간 Kendo ComboBox JSON data 생성 
			//-----------------------------------------------------------------------
			fn_makeKendoComboValueForJson : function(minValue, maxValue, incrementValue) {
				try {
					var resultJson = [];
					var i;
					
					i = minValue;
					for (; i<maxValue; i+=incrementValue) {
						resultJson.push({text: mint.common.leadingZeros(i, 2), value: mint.common.leadingZeros(i, 2)});
					}
					
					return resultJson;
				} catch( e ) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_makeKendoComboValueForJson"});
				}
			}, // end fn_makeKendoComboValueForJson(int, int, int)
			
			//-----------------------------------------------------------------------
			// Description :: - 조회 경과 - 그리드 초기화
			//-----------------------------------------------------------------------
			fn_initTypeStatisticsGrid : function() {
				
				try {
					$("#grid_su0302005").kendoGrid({
						dataSource : {
								data: [],
								pageSize : mint.ui.getPageSizesS({'currentPage' : true})
						},
						//height : 550,
						selectable: "row",
						resizable: true,
						pageable : {
								refresh : false,
								pageSizes : mint.ui.getPageSizesS(),
								buttonCount : 5
						},
						toolbar: ["excel"],
						excel: {
							  allPages: true
							, filterable: true
							, fileName: mint.label.getLabel('lb-395') + " " + mint.label.getLabel('lb-553') + " " + mint.label.getLabel('lb-631') + ".xlsx"
						}, 
						messages: {
							commands: {
							  excel: mint.label.getLabel('lb-508')
							}
						}, excelExport: function(e) {
							//스타일 편집
							var sheet = e.workbook.sheets[0];
							
							//console.log(sheet);
							// columns 기준
							for(var cw=0; cw<sheet.columns.length; cw++) {
								//sheet.columns[cw].autoWidth = true;
								if (sheet.columns[cw].autoWidth) {
									sheet.columns[cw].width = 20;
								}
								else {
									sheet.columns[cw].width = 100;
								}
									
							}
							
							// rows 기준
							for (var i = 0; i < sheet.rows.length; i++) {
								for (var ci = 0; ci < sheet.rows[i].cells.length; ci++) {
									sheet.rows[i].cells[ci].vAlign = "center";
									
									//정렬 기준
									if(0 == i || 1 == i) {
										//컬럼 헤더일 경우
										sheet.rows[i].cells[ci].hAlign = "center";
										sheet.rows[i].cells[ci].bold = true;
									} else {
										//데이터 내용일 경우
										/*
										if(1 == ci || 2 == ci || 3 == ci) {
										   sheet.rows[i].cells[ci].hAlign = "left";
										} else {
										   sheet.rows[i].cells[ci].hAlign = "center";
										}
										*/
										sheet.rows[i].cells[ci].hAlign = "center";
									}
								}
							}
							
							e.preventDefault();
							var createExcelFileName = mint.label.getLabel('lb-395') + " " + mint.label.getLabel('lb-553') + " " + mint.label.getLabel('lb-631') + ".xlsx";
							mint.downloadExcelFile(createExcelFileName, sheet, screenName);
							
						},
						columns : [
							{
								field : "dataProcessMethodCd",
								hidden: true
							},
							{
								field : "dataProcessMethodNm",
								title : mint.label.getLabel('lb-262'),
								width : "16%",
								headerAttributes: {
									 style: "text-align: center; vertical-align:middle;"
								}, 
								attributes: {
									 style: "text-align: center; white-space: nowrap;"
								}
							},
							{
								title : mint.label.getLabel('lb-86') + " " + mint.label.getLabel('lb-478'),
								headerAttributes: {
									 style: "text-align: center; vertical-align:middle;"
								}, 
								columns: [
									{
										field : "startResourceTypeNm",
										title : mint.label.getLabel('lb-215'),
										width : "12%",
										headerAttributes: {
											 style: "text-align: center; vertical-align:middle;"
										}, 
										attributes: {
											 style: "text-align: center; white-space: nowrap;"
										}
									},
									{
										field : "startResourceTypeCd",
										hidden: true
									},
									{
										field : "endResourceTypeNm",
										title : mint.label.getLabel('lb-217'),
										width : "12%",
										headerAttributes: {
											 style: "text-align: center; vertical-align:middle;"
										}, 
										attributes: {
											 style: "text-align: center; white-space: nowrap;"
										}
									},
									{
										field : "endResourceTypeCd",
										hidden: true
									}									
								]
							},
							{
								field : "dataSize",
								title : mint.label.getLabel('lb-474') + "(byte)",
								width : "15%",
								template: '#=kendo.format("{0:n0}", dataSize)#',
								headerAttributes: {
									 style: "text-align: center; vertical-align:middle;"
								}, 
								attributes: {
									 style: "text-align: center; white-space: nowrap;"
								}
							},
							{
								field : "totalCnt",
								title : mint.label.getLabel('lb-89') + mint.label.getLabel('lb-349'),
								width : "15%",
								template: '#=kendo.format("{0:n0}", totalCnt)#',
								headerAttributes: {
									 style: "text-align: center; vertical-align:middle;"
								}, 
								attributes: {
									 style: "text-align: center; white-space: nowrap;"
								}
							},
							{
								title : mint.label.getLabel('lb-495') + " " + mint.label.getLabel('lb-473'),
								headerAttributes: {
									 style: "text-align: center; vertical-align:middle;"
								}, 
								columns: [
									{
										field : "finishedCnt",
										title : mint.label.getLabel('lb-412'),
										width : "10%",
										template: '#=kendo.format("{0:n0}", finishedCnt)#',
										headerAttributes: {
											 style: "text-align: center; vertical-align:middle;"
										}, 
										attributes: {
											 style: "text-align: center; white-space: nowrap;"
										}
									},
									{
										field : "errorCnt",
										title : mint.label.getLabel('lb-461'),
										width : "10%",
										template: '#=kendo.format("{0:n0}", errorCnt)#',
										headerAttributes: {
											 style: "text-align: center; vertical-align:middle;"
										}, 
										attributes: {
											 style: "text-align: center; white-space: nowrap; color: red;"
										}
									},
									{
										field : "processingCnt",
										title : mint.label.getLabel('lb-511'),
										width : "10%",
										template: '#=kendo.format("{0:n0}", processingCnt)#',
										headerAttributes: {
											 style: "text-align: center; vertical-align:middle;"
										}, 
										attributes: {
											 style: "text-align: center; white-space: nowrap; color: blue;"
										}
									}
								]
							}
						],
						dataBound: function (e) {
							if(1 > $("#grid_su0302005").data().kendoGrid.dataSource.view().length) {
								var gridHeight = window.innerHeight - ($('.navbar-static-top').height() + $('.page-heading').height() + $('.col-lg-12').height());
								
								$("#grid_su0302005").children(".k-grid-content").height(gridHeight /2.5);
								//$("#grid_su0302005").children(".k-grid-content-locked").height(gridHeight / 2.5);
							} else {
								$("#grid_su0302005").children(".k-grid-content").height('auto');
								//$("#grid_su0302005").children(".k-grid-content-locked").height('auto');
							}
							
							// start.. row 건 기준 colspan 효과내기 (custom)
							var i, len, columns, columnIndexTot, columnIndexSubTot;
							columns = e.sender.columns;
							columnIndexTot = 0;
							columnIndexSubTot = 0;
							i = 0;
							len = columns.length;
							for (;i<len;i++) {
								if (columns[i].field == "dataProcessMethodNm") {
									break;
								}
								columnIndexTot++;
							}
							i = 0;
							for (;i<len;i++) {
								if (columns[i].title == (mint.label.getLabel('lb-86') + " " + mint.label.getLabel('lb-478'))) {
									break;
								}
								
								columnIndexSubTot++;
							}
							
							var dataItems = e.sender.dataSource.view();
							var j, k, row, len, cell, rowCnt, dataProcessMethodNm, tmpRow, backColor;
							j = 0;
							k = 0;
							len = dataItems.length;
							rowCnt = 0;
							backColor = true;
							for (; j<len; j++) {
								row = e.sender.tbody.find("[data-uid='" + dataItems[j].uid + "']");
								// custom.. row colspan and line style
								if (dataItems[j].get("startResourceTypeNm") == mint.label.getLabel('lb-547')) {
									// line style
									row.find('td').css({'border-bottom': '1px solid #C0C0C0'});
									
									for(k=2;k<row.children().length; k++) {
										cell = row.children().eq(k);
										cell.css({'border-top': '1px solid #C0C0C0'});
									}
									
									// column merge
									cell = row.children().eq(columnIndexSubTot);
									row.children().eq(columnIndexSubTot + 3).remove();
									row.children().eq(columnIndexSubTot + 2).remove();
									row.children().eq(columnIndexSubTot + 1).remove();
			                        cell.attr("colspan", 2); 
			                        /*
			                        for (k=0; k<len; k++) {
			                        	tmpRow = e.sender.tbody.find("[data-uid='" + dataItems[k].uid + "']");
			                        	if ( (dataItems[j].get("dataProcessMethodNm") == dataProcessMethodNm) && (k<(len-1)) ) {
			                        		// row background-color
			                        		//if (backColor) {
			                        		//	tmpRow.css({'background-color': '#FFF'});
			                        		//}
			                        		//else {
			                        		//	tmpRow.css({'background-color': '#F3F3F4'});
			                        		//} 
			                        		
			                        		// 건 row 가운데에만 발생유형명 표시
			                        		if (k != Math.floor(rowCnt/2)) {
				                        		cell = tmpRow.children().eq(columnIndexTot);
				                        		cell.html("");
				                        	}
			                        	}
			                        }
			                        
			                        // variable initialize
			                        rowCnt = 0;
			                        if (backColor) {
			                        	backColor = false;
			                        }
			                        else {
			                        	backColor = true;
			                        }
			                        */
								}
								else {
									rowCnt++;
								}
								
								// total sum row column merge
								if (dataItems[j].get("dataProcessMethodNm") == mint.label.getLabel('lb-547')) {
									// row background-color
									/* if (backColor) {
	                        			row.css({'background-color': '#FFF'});
	                        		}
	                        		else {
	                        			row.css({'background-color': '#F3F3F4'});
	                        		} */
									
									cell = row.children().eq(columnIndexTot);
	                        		row.children().eq(columnIndexTot + 4).remove();
									row.children().eq(columnIndexTot + 3).remove();
									row.children().eq(columnIndexTot + 2).remove();
									row.children().eq(columnIndexTot + 1).remove();
									cell.attr("colspan", 3);
								}
								
								dataProcessMethodNm = dataItems[j].get("dataProcessMethodNm");

							}
							// end.. row 건 기준 colspan 효과내기 (custom)
						}
					});
				}
				catch(e) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_initTypeStatisticsGrid"});
				}
			}, // end fn_initTypeStatisticsGrid(jsonData)
			
			//-----------------------------------------------------------------------
			// Description :: 조회 버튼 Click 이벤트 - Grid Data 설정
			//-----------------------------------------------------------------------
			fn_set_SU0302005_GridData : function(jsonData) {
				try {
					//console.log(jsonData);
					var tmpGridData = [];
					for (var i in jsonData) {
						if (jsonData[i].startResourceTypeNm == "TOTAL_SUM") {
							jsonData[i].startResourceTypeNm = mint.label.getLabel('lb-547');
						}
						
						if (jsonData[i].dataProcessMethodNm == "TOTAL_SUM") {
							jsonData[i].dataProcessMethodNm = mint.label.getLabel('lb-547');
						}
						
						tmpGridData[i] = jsonData[i];
					}
					
					
					var dataSource = new kendo.data.DataSource({
						  data: tmpGridData
					    , page:1
					    , pageSize: mint.ui.getPageSizesS({'currentPage' : true})
					});
					
					
					// 탭 자동 이동
					$('#tabs-menu-list li:eq(0)').show();
					$('#tabs-menu-list a:eq(0)').tab('show');
					
					$('#tabs-menu-list li:eq(1)').hide();
					
					//데이터 재설정
					$("#grid_su0302005").data("kendoGrid").setDataSource(dataSource);
				}
				catch (e) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_set_SU0302005_GridData"});
				}
			}, // end fn_set_SU0302005_GridData(jsonData)
			
			//-----------------------------------------------------------------------
			// Description :: - 상세 조회 경과 - 상세 그리드 초기화
			//-----------------------------------------------------------------------
			fn_initTypeStatisticsDetailGrid : function() {
				
				try {
					$("#grid_su0302005_detail").kendoGrid({
						dataSource : {
								data: [],
								pageSize : 20
						},
						//selectable: "row",
						resizable: true,
						pageable : {
								refresh : false,
								pageSizes :mint.ui.getPageSizesS(),
								buttonCount : 5
						},
						toolbar: ["excel"],
						excel: {
							  allPages: true
							, filterable: true
							, fileName: mint.label.getLabel('lb-395') + " " + mint.label.getLabel('lb-553') + mint.label.getLabel('lb-631') + " " + mint.label.getLabel('lb-353') + ".xlsx"
						}, 
						messages: {
							commands: {
							  excel: mint.label.getLabel('lb-508')
							}
						}, excelExport: function(e) {
							//스타일 편집
							var sheet = e.workbook.sheets[0];
							
							//console.log(sheet);
							// columns 기준
							for(var cw=0; cw<sheet.columns.length; cw++) {
								//sheet.columns[cw].autoWidth = true;
								if (sheet.columns[cw].autoWidth) {
									sheet.columns[cw].width = 20;
								}
								else {
									sheet.columns[cw].width = 100;
								}
							}
							
							// rows 기준
							for (var i = 0; i < sheet.rows.length; i++) {
								for (var ci = 0; ci < sheet.rows[i].cells.length; ci++) {
									sheet.rows[i].cells[ci].vAlign = "center";
									
									//정렬 기준
									if(0 == i || 1 == i) {
										//컬럼 헤더일 경우
										sheet.rows[i].cells[ci].hAlign = "center";
										sheet.rows[i].cells[ci].bold = true;
									} else {
										//데이터 내용일 경우
										/*
										if(1 == ci || 2 == ci || 3 == ci) {
										   sheet.rows[i].cells[ci].hAlign = "left";
										} else {
										   sheet.rows[i].cells[ci].hAlign = "center";
										}
										*/
										sheet.rows[i].cells[ci].hAlign = "center";
									}
								}
							}
							
							e.preventDefault();
							var createExcelFileName = mint.label.getLabel('lb-395') + " " + mint.label.getLabel('lb-553') + mint.label.getLabel('lb-631') + " " + mint.label.getLabel('lb-353') + ".xlsx";
							mint.downloadExcelFile(createExcelFileName, sheet, screenName);
							
						},
						columns : [
							{
								field : "dataProcessMethodCd",
								hidden: true
							},
							{
								field : "dataProcessMethodNm",
								title : mint.label.getLabel('lb-262'),
								width : "80px",
								headerAttributes: {
									 style: "text-align: center; vertical-align:middle;"
								}, 
								attributes: {
									 style: "text-align: center; white-space: nowrap;"
								}
							},
							{
								field : "startResourceTypeNm",
								title : mint.label.getLabel('lb-215') + " " + mint.label.getLabel('lb-86') + " " + mint.label.getLabel('lb-478'),
								width : "150px",
								headerAttributes: {
									 style: "text-align: center; vertical-align:middle;"
								}, 
								attributes: {
									 style: "text-align: center; white-space: nowrap;"
								}
							},
							{
								field : "startResourceTypeCd",
								hidden: true
							},
							{
								field : "endResourceTypeNm",
								title : mint.label.getLabel('lb-217') + " " + mint.label.getLabel('lb-86') + " " + mint.label.getLabel('lb-478'),
								width : "150px",
								headerAttributes: {
									 style: "text-align: center; vertical-align:middle;"
								}, 
								attributes: {
									 style: "text-align: center; white-space: nowrap;"
								}
							},
							{
								field : "endResourceTypeCd",
								hidden: true
							},	
							{
								field : "integrationId",
								title : mint.label.getLabel('lb-154'),
								width : "100px",
								headerAttributes: {
									 style: "text-align: center; vertical-align:middle;"
								}, 
								attributes: {
									 style: "text-align: center; white-space: nowrap;"
								}
							},
							{
								field : "interfaceId",
								hidden : true
							},
							{
								field : "interfaceNm",
								title : mint.label.getLabel('lb-153'),
								//width : "12%",
								headerAttributes: {
									 style: "text-align: center; vertical-align:middle;"
								}, 
								attributes: {
									 style: "text-align: center; white-space: nowrap;"
								}
							},
							{
								field : "dataSize",
								title : mint.label.getLabel('lb-474') + "(byte)",
								width : "12%",
								template: '#=kendo.format("{0:n0}", dataSize)#',
								headerAttributes: {
									 style: "text-align: center; vertical-align:middle;"
								}, 
								attributes: {
									 style: "text-align: center; white-space: nowrap;"
								}
							},
							{
								field : "totalCnt",
								title : mint.label.getLabel('lb-89') + mint.label.getLabel('lb-349'),
								width : "12%",
								template: '#=kendo.format("{0:n0}", totalCnt)#',
								headerAttributes: {
									 style: "text-align: center; vertical-align:middle;"
								}, 
								attributes: {
									 style: "text-align: center; white-space: nowrap;"
								}
							},
							{
								title : mint.label.getLabel('lb-495') + " " + mint.label.getLabel('lb-473'),
								headerAttributes: {
									 style: "text-align: center; vertical-align:middle;"
								}, 
								columns: [
									{
										field : "finishedCnt",
										title : mint.label.getLabel('lb-412'),
										width : "10%",
										template: '#=kendo.format("{0:n0}", finishedCnt)#',
										headerAttributes: {
											 style: "text-align: center; vertical-align:middle;"
										}, 
										attributes: {
											 style: "text-align: center; white-space: nowrap;"
										}
									},
									{
										field : "errorCnt",
										title : mint.label.getLabel('lb-461'),
										width : "10%",
										template: '#=kendo.format("{0:n0}", errorCnt)#',
										headerAttributes: {
											 style: "text-align: center; vertical-align:middle;"
										}, 
										attributes: {
											 style: "text-align: center; white-space: nowrap; color: red;"
										}
									},
									{
										field : "processingCnt",
										title : mint.label.getLabel('lb-511'),
										width : "10%",
										template: '#=kendo.format("{0:n0}", processingCnt)#',
										headerAttributes: {
											 style: "text-align: center; vertical-align:middle;"
										}, 
										attributes: {
											 style: "text-align: center; white-space: nowrap; color: blue;"
										}
									}
								]
							}
						],
						dataBound: function (e) {
							if(1 > $("#grid_su0302005_detail").data().kendoGrid.dataSource.view().length) {
								var gridHeight = window.innerHeight - ($('.navbar-static-top').height() + $('.page-heading').height() + $('.col-lg-12').height());
								
								$("#grid_su0302005_detail").children(".k-grid-content").height(gridHeight /2.5);
								//$("#grid_su0302005_detail").children(".k-grid-content-locked").height(gridHeight / 2.5);
							} else {
								$("#grid_su0302005_detail").children(".k-grid-content").height('auto');
								//$("#grid_su0302005_detail").children(".k-grid-content-locked").height('auto');
							}
							
							
							// start.. row 건 기준 colspan 효과내기 (custom)
							var i, len, columns, columnIndexTot;
							columns = e.sender.columns;
							columnIndexTot = 0;
							i = 0;
							len = columns.length;
							for (;i<len;i++) {
								if (columns[i].field == "dataProcessMethodNm") {
									break;
								}
								columnIndexTot++;
							}
							
							var dataItems = e.sender.dataSource.view();
							var j, row, len, cell;
							j = 0;
							len = dataItems.length;

							for (; j<len; j++) {
								row = e.sender.tbody.find("[data-uid='" + dataItems[j].uid + "']");
								
								// total sum row column merge
								if (dataItems[j].get("dataProcessMethodNm") == mint.label.getLabel('lb-547')) {
									
									row.find('td').css({'border-top': '1px solid #C0C0C0'});
									
									// row background-color
									/* if (backColor) {
	                        			row.css({'background-color': '#FFF'});
	                        		}
	                        		else {
	                        			row.css({'background-color': '#F3F3F4'});
	                        		} */
									
									cell = row.children().eq(columnIndexTot);
	                        		row.children().eq(columnIndexTot + 7).remove();
	                        		row.children().eq(columnIndexTot + 6).remove();
									row.children().eq(columnIndexTot + 5).remove();
	                        		row.children().eq(columnIndexTot + 4).remove();
									row.children().eq(columnIndexTot + 3).remove();
									row.children().eq(columnIndexTot + 2).remove();
									row.children().eq(columnIndexTot + 1).remove();
									cell.attr("colspan", 5);
								}
								
							}
						}
					});
					
					$.main.isInitTypeStatisticsDetailGrid = false;
				}
				catch(e) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_initTypeStatisticsDetailGrid"});
				}
			}, // end fn_initTypeStatisticsDetailGrid(jsonData)
			
			//-----------------------------------------------------------------------
			// Description :: Detail Grid Data 설정
			//-----------------------------------------------------------------------
			fn_set_SU0302005_DetailGridData : function (jsonData) {
				try {
					//console.log(jsonData);
					var tmpGridData = [];
					for (var i in jsonData) {
						if (jsonData[i].dataProcessMethodNm == "TOTAL_SUM") {
							jsonData[i].dataProcessMethodNm = mint.label.getLabel('lb-547');
						}
						
						tmpGridData[i] = jsonData[i];
					}
					
					var dataSource = new kendo.data.DataSource({
						  data: tmpGridData
					    , page:1
					    , pageSize: mint.ui.getPageSizesS({'currentPage' : true})
					});
					
					// 탭 자동 이동
					$('#tabs-menu-list li:eq(1)').show();
					$('#tabs-menu-list a:eq(1)').tab('show');
					
					//데이터 재설정
					$("#grid_su0302005_detail").data("kendoGrid").setDataSource(dataSource);
				}
				catch(e) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_set_SU0302005_DetailGridData"});
				}
			}, // end fn_set_SU0302005_DetailGridData
			
			
			//-----------------------------------------------------------------------
			// Description :: - 선택된 조회조건 정보 컨트롤 / 반환
			//-----------------------------------------------------------------------
			fn_getSearchCondition : function() {
				try {
					var resultConditions = {
							scDataMethodType : "",
							scStartResourceType : "",
							scEndResourceType : "", 
							scPeriodYearFrom : "",
							scPeriodYearTo : "",
							scPeriodMonthFrom : "",
							scPeriodMonthTo : "",
							scPeriodDayFrom : "",
							scPeriodDayTo : "",
							scPeriodHourFrom : "",
							scPeriodHourTo : "",
							scPeriodFrom : "",
							scPeriodTo : ""
					};
					
					
					resultConditions.scDataMethodType = $("#sc-su0302005-method-type").data("kendoComboBox").value();
					resultConditions.scStartResourceType = $("#sc-su0302005-start-res-type").data("kendoComboBox").value();
					resultConditions.scEndResourceType = $("#sc-su0302005-end-res-type").data("kendoComboBox").value();
					
					resultConditions.scPeriodYearFrom = kendo.toString($("#sc-su0302005-period-fromdate").data("kendoDatePicker").value(), 'yyyy');
					resultConditions.scPeriodYearTo = kendo.toString($("#sc-su0302005-period-todate").data("kendoDatePicker").value(), 'yyyy');
					
					resultConditions.scPeriodMonthFrom = kendo.toString($("#sc-su0302005-period-fromdate").data("kendoDatePicker").value(), 'MM');
					resultConditions.scPeriodMonthTo = kendo.toString($("#sc-su0302005-period-todate").data("kendoDatePicker").value(), 'MM');
					
					resultConditions.scPeriodDayFrom = kendo.toString($("#sc-su0302005-period-fromdate").data("kendoDatePicker").value(), 'dd');
					resultConditions.scPeriodDayTo = kendo.toString($("#sc-su0302005-period-todate").data("kendoDatePicker").value(), 'dd');
					
					//resultConditions.scPeriodHourFrom = $("#sc-su0302005-period-fromhour").data("kendoComboBox").value();
					//resultConditions.scPeriodHourTo = $("#sc-su0302005-period-tohour").data("kendoComboBox").value();
					resultConditions.scPeriodHourFrom = kendo.toString($("#sc-su0302005-period-fromhour").data("kendoTimePicker").value(), 'HH');
					resultConditions.scPeriodHourTo = "" + (Number(kendo.toString($("#sc-su0302005-period-tohour").data("kendoTimePicker").value(), 'HH')) + 1);
					
					resultConditions.scPeriodFrom = resultConditions.scPeriodYearFrom
													+ resultConditions.scPeriodMonthFrom
													+ resultConditions.scPeriodDayFrom
													+ resultConditions.scPeriodHourFrom;
					
					resultConditions.scPeriodTo = resultConditions.scPeriodYearTo
													+ resultConditions.scPeriodMonthTo
													+ resultConditions.scPeriodDayTo
													+ resultConditions.scPeriodHourTo;
					
					//console.log(resultConditions);
					
					
					return resultConditions;
					
				} catch( e ) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_getSearchCondition"});
				}
			}, // end fn_getSearchCondition()
			
			//-----------------------------------------------------------------------
			// Description :: 엔터키 이벤트
			//-----------------------------------------------------------------------
			fn_onKeyDownSU0302005 : function(event) {
				try {
					if(event.keyCode == 13) {
						$.main.requestObject = $.main.fn_getSearchCondition();
						
						//데이터 조회
					    mint.callService($.main.requestObject, 'SU-03-02-005', 'REST-R02-SU-03-02', '$.main.fn_set_SU0302005_GridData', {errorCall : true});
					}
				}
				catch(e) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_onKeyDownSU0302005"});
				}
			} // end fn_onKeyDownSU0302005
			
		}// end main
		
	});//end extends
	
	//=======================================================================
	// (4) 이벤트 핸들러 정의
	//=======================================================================	
	// 조회 클릭(상단)
	$(".btn-type-sttsearch").bind("click", function () {
		
		//var searchCondition = $.main.fn_getSearchCondition();
		$.main.requestObject = $.main.fn_getSearchCondition();
		
		//데이터 조회
	    mint.callService($.main.requestObject, 'SU-03-02-005', 'REST-R02-SU-03-02', '$.main.fn_set_SU0302005_GridData', {errorCall : true});
	});
	
	
	// 그리드 더블 클릭
	$('#grid_su0302005').on('dblclick', "tr.k-state-selected", function () {
		try {
			var entityGrid = $("#grid_su0302005").data("kendoGrid");
	        var selectedItem = entityGrid.dataItem(entityGrid.select());
	        
	        //console.log(selectedItem);
	        
	        if (selectedItem.dataProcessMethodCd == "TOTAL_SUM" || selectedItem.startResourceTypeCd == "") {
	        	// 합계 Rows 는 이벤트 처리 없음.
	        	//alert("xxx");
	        }
	        else {
	        	//console.log("selectedItem.dataProcessMethodCd >> " + selectedItem.dataProcessMethodCd);
	        	//console.log("selectedItem.startResourceTypeCd >> " + selectedItem.startResourceTypeCd);
	        	
	        	// 그리드 체크/생성
	        	if ($.main.isInitTypeStatisticsDetailGrid) {
	        		// 탭 자동 이동
					$('#tabs-menu-list li:eq(1)').show();
					$('#tabs-menu-list a:eq(1)').tab('show');
					
					$.main.fn_initTypeStatisticsDetailGrid();
					
	        	}
	        	
	        	// 상세 조회
	        	$.main.requestObject.scDataMethodType = (selectedItem.dataProcessMethodCd == null)?"isnull":selectedItem.dataProcessMethodCd;
	        	$.main.requestObject.scStartResourceType = (selectedItem.startResourceTypeCd == null)?"isnull":selectedItem.startResourceTypeCd;
	        	$.main.requestObject.scEndResourceType = (selectedItem.endResourceTypeCd == null)?"isnull":selectedItem.endResourceTypeCd;
	        	
	        	//데이터 조회
	    	    mint.callService($.main.requestObject, screenName, 'REST-R04-SU-03-02', '$.main.fn_set_SU0302005_DetailGridData', {errorCall : true});
	        }
		}
		catch(e) {
			mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "grid_su0302005.dblclick"});
		}
	});
	
	
	//-----------------------------------------------------------------------
	// Description :: 조회기간 KeyDown 이벤트 설정 (상단)
	//-----------------------------------------------------------------------
	$('#sc-su0302005-period-fromdate').keydown(function(event) {
		$.main.fn_onKeyDownSU0302005(event);
	});	
	
	$('#sc-su0302005-period-todate').keydown(function(event) {
		$.main.fn_onKeyDownSU0302005(event);
	});	
	
	$('#sc-su0302005-period-fromhour').keydown(function(event) {
		$.main.fn_onKeyDownSU0302005(event);
	});	
	
	$('#sc-su0302005-period-tohour').keydown(function(event) {
		$.main.fn_onKeyDownSU0302005(event);
	});	
	
	//=======================================================================
	// (5) 기타 Function 정의
	//=======================================================================		
	
	//=======================================================================
	// (6) 화면 로딩시 실행할 항목 기술
	//=======================================================================		
	$.main.fn_init();
	mint.label.attachLabel(null);
	
});//end document.ready()
</script>

<style>
/* GRID Scroll hidden */
.k-grid-header
{
   padding: 0 !important;
}

.k-grid-content
{
   overflow-y: visible;
}
/* end GRID Scroll hidden */

/* GRID Cursor set */
#grid_su0302005_detail tr {
    cursor : default !important;
}
/* end GRID Cursor set */
</style>