	<!--
	Screen ID : SU-03-02-007
	Screen NM : 기관별 집계(월/년)

-->
<!--location -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div id="oldPath" class="col-lg-5">
		<h2><lb class="lb-489"></lb></h2>
		<ol class="breadcrumb">
            <li ><lb class="lb-631"></lb></li>
            <li ><lb class="lb-632"></lb></li>
			<li class="active"><strong><lb class="lb-489"></lb></strong></li>
		</ol>
	</div>
	<div id="menuPath" class="col-lg-5">
    </div>
	<div class="col-lg-7">
		<div class="title-action"></div>
	</div>
</div>
<!--location end-->

<!--wrapper wrapper-content-->
<div class="wrapper wrapper-content animated fadeInRight">
	<!--row-->
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5><lb class="lb-78"></lb></h5>
					<div class="ibox-tools">
						<a class="help-over-pannel" onclick="mint.ui.help(this, 'AP00000031','H001')"></a>
						<a class="collapse-link"> <i class="fa fa-chevron-up"></i></a>
					</div>
					<div style="float: right; padding: 0px 20px 0px 0px;">
						<a id="bt-period-statistics-search-top" class="btn btn-w-m btn-default btn-outline btn-period-sttsearch"><i class="fa fa-search "></i> <lb class="lb-10"></lb></a>
					</div>
				</div>

				<!--ibox-content-->
				<div class="ibox-content">
					<div class="row">

						<hr class="hr-space">
						<div class="col-sm-6">
							<div class="form-group">
								<span class="lable_tag"><lb class="lb-10"></lb> <lb class="lb-542"></lb></span>
								<label style="padding-left: 12px;">
									<input type="radio" name="sc-su0302007-criteria" value="monthly" checked /> <lb class="lb-545"></lb>
								</label>
								<label style="padding-left: 12px;">
									<input type="radio" name="sc-su0302007-criteria" value="yearly" /> <lb class="lb-888"></lb>
								</label>
							</div>
						</div>
						<hr class="hr-space">
						<div class="col-sm-12">
							<div class="form-group">
								<span class="lable_tag" style="width: 17%;"><lb class="lb-302"></lb></span>
								<span id="sc-su0302007-period-monthly">
									<input id="sc-su0302007-period-monthly-fromyear" value="2015" class="input-width" style="text-align:center; width: 12%" />
								</span>
							</div>
						</div>
						<hr class="hr-space">
						<div class="col-sm-12">
							<div class="form-group">                                                        
								<span class="lable_tag" style="width: 100%;">월별 조회시 지정한 년도의  1월 ~ 12월까지 조회되며, 년도별 조회 시  2010년 이후 통계가 조회됨</span>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--row end-->

	<!--row start-->
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5><lb class="lb-91"></lb></h5>
					<div class="ibox-tools">
						<a class="help-over-pannel" onclick="mint.ui.help(this, 'AP00000031','H002')"></a>
						<a class="collapse-link"> <i class="fa fa-chevron-up"></i></a>
					</div>
				</div>
				<div class="ibox-content">
					<div id="grid_su0302007"></div>
				</div>
			</div>
		</div>
	</div>
	<!--row end-->

</div>
<!--wrapper wrapper-content end-->

<script>
$(document).ready(function () {
	//=======================================================================
	//(1) function 및 variable scope 설정 :: (메인은 main, 팝업 및 서브는 sub)
	//=======================================================================
	screenName = "SU-03-02-007";
	$.extend({
		main : {
			//=======================================================================
			// (2) Screen 에서 사용할 variable 정의
			//=======================================================================
			searchResultObject : [],
			searchDetailResultObject : [],
			searchCondition : {},
			isInitPeriodStatisticsGrid : true,
			isInitPeriodStatisticsGrid_Detail : true,

			tmpGridRowspanIdx : 0,

			//=======================================================================
			// (3) Screen 에서 사용할 function 정의
			//=======================================================================

			//-----------------------------------------------------------------------
			// Description :: 화면 초기화
			//-----------------------------------------------------------------------
			fn_init : function() {
				try {
					mint.common.siteMenuPath(screenName);
					mint.init('$.main.fn_initSearchCondition');
				} catch( e ) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_init"});
				}
			}, // end fn_init()

			//-----------------------------------------------------------------------
			// Description :: 화면 초기화 콜백
			//-----------------------------------------------------------------------
			fn_initSearchCondition : function() {
				try {



					// 조회 기준(월별/년별) 초기화.
					$.main.fn_initSC_Criteria();
					// 검색 기간
					$.main.fn_initSC_Period();

					// 그리드 초기화
					$.main.isInitPeriodStatisticsGrid = true;

					var columnsData = $.main.fn_getColumn_SU0302007_Grid("interface", mint.label.getLabel('lb-395'), "monthly", 0, 24, false);
					$.main.fn_initPeriodStatisticsGrid("grid_su0302007", columnsData, false);


				} catch( e ) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_initSearchCondition"});
				}
			}, // end fn_initSearchCondition()
			//-----------------------------------------------------------------------
			// Description :: 기관 정보 셋팅
			//-----------------------------------------------------------------------
			fn_setOrganizationInfo : function(selectedItem) {
				try {

					if( !mint.common.isEmpty(selectedItem) ) {
						var orgInfo = new Object();
						orgInfo.organizationNm = selectedItem.orgNm;
						orgInfo.organizationCd = selectedItem.orgCd;
						orgInfo.organizationId = selectedItem.orgId;

						$("#tf-orgNm").val(selectedItem.orgNm + mint.lb + selectedItem.orgCd  + mint.rb);
						$("#hd-orgId").val(selectedItem.orgId);
					}else{
						$('#tf-orgNm').val('');
						$('#hd-orgId').val('');
					}
				} catch( e ) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_setOrganizationInfo"});
				}
			},//end fn_setOrganizationInfo()


			//-----------------------------------------------------------------------
			// Description :: 조회조건 - 조회 기준(시간별 / 일별 / 월별 / 년별) 초기화
			//-----------------------------------------------------------------------
			fn_initSC_Criteria : function() {
				try {
					$("input:radio[name='sc-su0302007-criteria']:radio[value='monthly']").attr("checked", true);

				} catch( e ) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_initSC_Criteria"});
				}
			}, // end fn_initSC_Criteria()

			//-----------------------------------------------------------------------
			// Description :: 조회조건 - 검색 기간 초기화
			//-----------------------------------------------------------------------
			fn_initSC_Period : function() {
				try {
					var currentDate = new Date();

					// monthly
					$("#sc-su0302007-period-monthly-fromyear").kendoDatePicker({
			            format : "yyyy",
						start: "decade",
			            depth: "decade",
			            culture: "ko-KR",
			            value : new Date(currentDate.getFullYear(), 0)
			        });
				} catch( e ) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_initSC_Period"});
				}
			}, // end fn_initSC_Period()

			//-----------------------------------------------------------------------
			// Description :: - 조회조건 - 검색 기준 선택에 따른 검색 기간 항목 동적 변경 컨트롤
			//-----------------------------------------------------------------------
			fn_setSC_Period : function(criteriaVal) {
				try {
					$("#sc-su0302007-period-monthly").hide();
					$("#sc-su0302007-period-yearly").hide();

					if (criteriaVal === "monthly") {
						$("#sc-su0302007-period-monthly").show();
					}
					else if (criteriaVal === "yearly") {
						$("#sc-su0302007-period-yearly").show();
					}
					else {
						// default
						$("#sc-su0302007-period-monthly").show();
					}
				} catch( e ) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_setSC_Period"});
				}
			}, // end fn_setSC_Period(String)

			//-----------------------------------------------------------------------
			// Description :: - 조회 경과 - 그리드 초기화
			//-----------------------------------------------------------------------
			fn_initPeriodStatisticsGrid : function(grid_id, columnsData, isHierarchy) {

				try {
					$("#" + grid_id).kendoGrid({
						dataSource : {
								data: [],
								pageSize : mint.ui.getPageSizesS({'currentPage' : true})
						},
						selectable: "row",
						filterable: true,
					    sortable : true,
						resizable: true,
						columnMenu: true,
						reorderable: true,
						pageable : {
								refresh : false,
								pageSizes : mint.ui.getPageSizesS(),
								buttonCount : 5
						},
						toolbar: ["excel"],
						excel: {
							  allPages: true
							, filterable: true
							, fileName:mint.label.getLabel('lb-215') + " " + mint.label.getLabel('lb-820') + " " + mint.label.getLabel('lb-631') + ".xlsx"
						},
						messages: {
							commands: {
							  excel: mint.label.getLabel('lb-508')
							}
						}, excelExport: function(e) {
							//스타일 편집
							var sheet = e.workbook.sheets[0];

							// columns 기준
							for(var cw=0; cw<sheet.columns.length; cw++) {
								//sheet.columns[cw].width = 15;
								sheet.columns[cw].autoWidth = true;

								if (cw > 0) {
									sheet.columns[cw].width = 20;
								}
							}

							// custom TH title set
							var searchCondition = $.main.searchCondition;

							// rows 기준
							for (var i = 0; i < sheet.rows.length; i++) {
								for (var ci = 0; ci < sheet.rows[i].cells.length; ci++) {
									sheet.rows[i].cells[ci].vAlign = "center";
									sheet.rows[i].cells[ci].hAlign = "center";
									/* //정렬 기준
									if(0 == i || 1 == i) {
										//컬럼 헤더일 경우
										sheet.rows[i].cells[ci].hAlign = "center";
										sheet.rows[i].cells[ci].bold = true;

										if (i == 0 && ci == 0) {
											sheet.rows[i].cells[ci].value = searchCondition.scCategoryText;
										}

									} else {
										sheet.rows[i].cells[ci].hAlign = "center";
									} */
								}
							}

							e.preventDefault();
							var createExcelFileName = mint.label.getLabel('lb-215') + " " + mint.label.getLabel('lb-820') + " " + mint.label.getLabel('lb-631') + ".xlsx"
							mint.downloadExcelFile(createExcelFileName, sheet, screenName);

						},
						columns : columnsData,
						dataBinding: function( e ) {
						},
						dataBound: function (e) {
							if(1 > $("#" + grid_id).data().kendoGrid.dataSource.view().length) {
								var gridHeight = window.innerHeight - ($('.navbar-static-top').height() + $('.page-heading').height() + $('.col-lg-12').height());

								$("#" + grid_id).children(".k-grid-content").height(gridHeight /2.5);
								$("#" + grid_id).children(".k-grid-content-locked").height(gridHeight / 2.5);
							} else {
								$("#" + grid_id).children(".k-grid-content").height('auto');
								$("#" + grid_id).children(".k-grid-content-locked").height('auto');
							}
						}
					});


					if (grid_id == "grid_su0302007") {
						$.main.isInitPeriodStatisticsGrid = false;
					}
					else {
						//
					}

				}
				catch (e) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_initPeriodStatisticsGrid"});
				}

			}, // end fn_initPeriodStatisticsGrid(jsonData)

			//-----------------------------------------------------------------------
			// Description :: 조회 버튼 Click 이벤트 - Grid Data 설정
			//-----------------------------------------------------------------------
			fn_set_SU0302007_GridData : function(jsonData) {
				try {
					//-----------------------------------------------------------------------
					// 데이터 소스 설정.
					//-----------------------------------------------------------------------
					var dataSource = new kendo.data.DataSource({
						  data: mint.common.isEmpty(jsonData) ? [] : jsonData
					    , page:1
					    , pageSize: mint.ui.getPageSizesS({'currentPage' : true})
					});

					//-----------------------------------------------------------------------
					// 데이터 재설정
					//-----------------------------------------------------------------------
					$("#grid_su0302007").data("kendoGrid").setDataSource(dataSource);

					//-----------------------------------------------------------------------
					// Title reset
					//-----------------------------------------------------------------------
					$("#grid_su0302007 th[data-field=categoryNm]").html($.main.searchCondition.scCategoryText);

				} catch( e ) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_set_SU0302007_GridData"});
				}
			}, // end fn_set_SU0302007_GridData()

			//-----------------------------------------------------------------------
			// Description :: - 그리드 컬럼 동적 설정
			//-----------------------------------------------------------------------
			fn_getColumn_SU0302007_Grid : function(categoryValue, categoryText, criteriaValue, periodFrom, periodTo, isHierarchy) {
				var fixLeftGridWidth = ($('#grid_su0302007')[0].clientWidth / 10) * 7;
				var fixLeftCoulmnWidth = fixLeftGridWidth / 4;
				var columnsData = [
						{
							field : "ORG_NM",
							title : mint.label.getLabel('lb-699') ,
							 width 	: fixLeftCoulmnWidth / 2,
							locked	: true,
							template	: "<span title='${ORG_NM}'>${ORG_NM}</span>",
							headerAttributes: {
								 style: "text-align: center; vertical-align:middle;"
							},
							attributes: {
								 style: "text-align: center; white-space: nowrap;"
							}
							, filterable: { multi: true, search: true }
						}
				];
				try {
					var criteriaText = "";
					if (criteriaValue == "monthly") {
						criteriaText = mint.label.getLabel('lb-171');

						var scPeriodLast = kendo.toString($("#sc-su0302007-period-monthly-fromyear").data("kendoDatePicker").value(), 'yyyy');
						var scPeriodLast1 = kendo.parseInt(scPeriodLast)-1;
						var scPeriodLast2 = kendo.parseInt(scPeriodLast)-2;
						for(var i=1;i<=12;i++){
							columnsData.push(
								{
								field : "MONTHC"+i,
								title :  scPeriodLast + "/"+ i ,
								width 	: fixLeftCoulmnWidth / 2.5,
								headerAttributes: {
									 style: "text-align: center; vertical-align:middle;"
								},
								attributes: {
									 style: "text-align: right; white-space: nowrap;"
								}
								,
								format: "{0:n0}"
									, filterable: { multi: true, search: true }
								}

							);
						}
					}
					else if (criteriaValue == "yearly") {
						criteriaText = mint.label.getLabel('lb-888');
						for(var i=2010;i<2031;i++){
							columnsData.push(
								{
								field : "YEAR"+i,
								title : i + mint.label.getLabel('lb-172'),
								width 	: fixLeftCoulmnWidth / 2.5,
								headerAttributes: {
									 style: "text-align: center; vertical-align:middle;"
								},
								attributes: {
									 style: "text-align: right; white-space: nowrap;"
								},
								format: "{0:n0}"
								, filterable: { multi: true, search: true }
								}

							);
						}
					}
				}
				catch(e) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "fn_getColumn_SU0302007_Grid"});
				}

				return columnsData;
			}, // end fn_getColumn_SU0302007_Grid(string, string)

			//-----------------------------------------------------------------------
			// Description :: 기간별 집계 그리드에서 숫자 클릭시 이벤트 처리 위한 템플릿.
			//-----------------------------------------------------------------------
			fn_numberClickTemplate : function(categoryId, colValue) {
				try {

					var tmpHtml = "";
					if (categoryId == "-") {
						tmpHtml = kendo.format("{0:n0}", colValue);
					}
					else {
						tmpHtml = kendo.format("{0:n0}", colValue);
						//tmpHtml = "<span onClick='$.main.fn_callPeriodStatisticsDetail(\""+ categoryId + "\");' style='cursor: pointer;'>" + kendo.format("{0:n0}", colValue) + "</span>";
					}

					return tmpHtml;
				}
				catch(e) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "fn_numberClickTemplate"});
				}
			}, // fn_numberClickTemplate


			//-----------------------------------------------------------------------
			// Description :: 기간별 조회 리스트(상세) 그리드의 날짜 컬럼 포멧 리턴.
			//-----------------------------------------------------------------------
			fn_getDateFormats : function(range) {
				try {
					if( mint.common.isEmpty(range) ) {
						return '';
					} else {
						if( range == '-' ) {
							return range;
						} else {

							var beforeFormat = '';
							var afterFormat  = '';
							if(range.length == 10 ) {
								beforeFormat = 'yyyyMMddHH';
								afterFormat  = 'yyyy/MM/dd HH';
							} else if( range.length == 8 ) {
								beforeFormat = 'yyyyMMdd';
								afterFormat  = 'yyyy/MM/dd';
							} else if( range.length == 6 ) {
								beforeFormat = 'yyyyMM';
								afterFormat  = 'yyyy/MM';
							} else if( range.length == 4 ) {
								beforeFormat = 'yyyy';
								afterFormat  = 'yyyy';
							}
							return kendo.toString(kendo.parseDate(range, beforeFormat), afterFormat);
						}
					}
				}
				catch(e) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "fn_getDateFormats"});
				}

			}, // end fn_getDateFormats



			//-----------------------------------------------------------------------
			// Description :: - 그리드 row의 column 데이터 중복 시 그룹핑 -> Detail에서 사용되었던 항목.
			//  @deprecated
			//-----------------------------------------------------------------------
			fn_rowsGrouping : function(colValue) {

				try {
					var result = "";

					var currentPageSize = $("#grid_su0302007").data("kendoGrid").dataSource.pageSize();
					var page = $("#grid_su0302007").data("kendoGrid").dataSource.page();
					var totalDataSize = $("#grid_su0302007").data("kendoGrid").dataSource.total();

					var lastPage = parseInt(totalDataSize / currentPageSize) + 1;
					var lastPageRowsCount = (totalDataSize % currentPageSize);

					var rowsHalf = 0;
					if (page == lastPage) {
						rowsHalf = Math.round(lastPageRowsCount/2);
					}
					else {
						rowsHalf = (currentPageSize > totalDataSize) ? Math.round(totalDataSize/2) : Math.round(currentPageSize/2);
					}


					$.main.tmpGridRowspanIdx++;

					if ($.main.tmpGridRowspanIdx == rowsHalf) {
						result = colValue;
					}
					else {
						if (colValue == mint.label.getLabel('lb-547')) {
							result = colValue;
						}
						else {
							result = "";
						}
					}

					return result;
				}
				catch(e) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "fn_rowsGrouping"});
				}

			}, // end fn_rowsGrouping

			//-----------------------------------------------------------------------
			// Description :: - 선택된 조회조건 정보 컨트롤 / 반환
			//-----------------------------------------------------------------------
			fn_getSearchCondition : function() {
				try {
					var resultConditions = {
							scCategory : "",
							scCategoryText : "",
							scCategoryDetailId : "",
							scCategoryDetailNm : "",
							scCriteriaType : "",
							scNodeType : "",
							scStatusType : "",
							scPeriodYearFrom : "",
							scPeriodYearTo : "",
							scPeriodMonthFrom : "",
							scPeriodMonthTo : "",
							scPeriodDayFrom : "",
							scPeriodDayTo : "",
							scPeriodHourFrom : "",
							scPeriodHourTo : "",
							searchMode : "DEFAULT",
							categoryId : "",
							scDataPrMethodType : "",
							scStartResourceType : "",
							scEndResourceType : ""
					};

					var scCriteria = $("input[type=radio][name='sc-su0302007-criteria']:checked").val().replace(/\s/g,'');
					var scCategoryDetailId = "";
					var scCategoryDetailNm = "";

					var scDataPrMethodType = "";
					var scStartResourceType = "";
					var scEndResourceType = "";

					var scNodeType = "";

					if (scCriteria === "monthly") {

						resultConditions.scPeriodTo = kendo.toString($("#sc-su0302007-period-monthly-fromyear").data("kendoDatePicker").value(), 'yyyy');
						resultConditions.scPeriodFrom = kendo.parseInt(resultConditions.scPeriodTo)-2;
						resultConditions.scPeriodMiddle = kendo.parseInt(resultConditions.scPeriodTo)-1;
					}

					resultConditions.scCriteriaType = scCriteria;
					resultConditions.scNodeType = scNodeType;

					resultConditions.searchMode = "DEFAULT";

					resultConditions.scDataPrMethodType = scDataPrMethodType;
					resultConditions.scStartResourceType = scStartResourceType;
					resultConditions.scEndResourceType = scEndResourceType;

					return resultConditions;

				} catch( e ) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_getSearchCondition"});
				}
			}, // end fn_getSearchCondition()

			//-----------------------------------------------------------------------
			// Description :: 엔터키 이벤트
			//-----------------------------------------------------------------------
			fn_onKeyDownSU0302007 : function(event) {
				try {
					if(event.keyCode == 13) {
						$.main.fn_searchInterfacePeriod();
					}
				}
				catch(e) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_onKeyDownSU0302005"});
				}
			}, // end fn_onKeyDownSU0302005

			fn_searchInterfacePeriod : function(){
				try {
					$.main.searchCondition = $.main.fn_getSearchCondition();
					// 그리드 셋팅
					{
						var scCategoryVal = $.main.searchCondition.scCategory;
						var scCategoryText = $.main.searchCondition.scCategoryText;
						var scCriteria = $.main.searchCondition.scCriteriaType;
						var scPeriodFrom = 0;
						var scPeriodTo = 0;
						if (scCriteria === "monthly") {
							scPeriodFrom = Number($.main.searchCondition.scPeriodMonthFrom);
						}

						var isHierarchy = false;

						$("#grid_su0302007").empty();
						// 그리드 컬럼 셋팅
						var columnsData = $.main.fn_getColumn_SU0302007_Grid(scCategoryVal, scCategoryText, scCriteria, scPeriodFrom, scPeriodTo, isHierarchy);
						$.main.fn_initPeriodStatisticsGrid("grid_su0302007", columnsData, isHierarchy);
					}

					if (scCriteria === "monthly") {
						mint.callService($.main.searchCondition, 'SU-03-02-001', 'REST-R11-SU-03-02', '$.main.fn_set_SU0302007_GridData', {errorCall : true});
					}else{
						mint.callService($.main.searchCondition, 'SU-03-02-001', 'REST-R10-SU-03-02', '$.main.fn_set_SU0302007_GridData', {errorCall : true});
					}

				}
				catch(e) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_searchInterfacePeriod"});
				}
			},

		}// end main

	});//end extends

	//=======================================================================
	// (4) 이벤트 핸들러 정의
	//=======================================================================
	// 조회 클릭(상단)
	$(".btn-period-sttsearch").bind("click", function () {
		try {
			$('.k-grid-excel').prop('disabled', false);
			$.main.fn_searchInterfacePeriod();
		}
		catch(e) {
			mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "btn-period-sttsearch.click"});
		}
	});

	// 조회 조건 - 조회 기준 (시간별 / 일별 / 월별 / 년별) Change 이벤트 Handler
	$("input[type=radio][name='sc-su0302007-criteria']").on("change", function(){
		try {
			$.main.fn_setSC_Period($(this).val());
		}
		catch(e) {
			mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "sc-su0302007-criteria.change"});
		}
	});



	//-----------------------------------------------------------------------
	// Description :: 조회기간 KeyDown 이벤트 설정 (상단)
	//-----------------------------------------------------------------------
	$('#sc-su0302007-period-hourly-fromdate').keydown(function(event) {
		$.main.fn_onKeyDownSU0302007(event);
	});

	$('#sc-su0302007-period-hourly-todate').keydown(function(event) {
		$.main.fn_onKeyDownSU0302007(event);
	});

	$('#sc-su0302007-period-hourly-fromhour').keydown(function(event) {
		$.main.fn_onKeyDownSU0302007(event);
	});

	$('#sc-su0302007-period-hourly-tohour').keydown(function(event) {
		$.main.fn_onKeyDownSU0302007(event);
	});

	$('#sc-su0302007-period-daily-frommonth').keydown(function(event) {
		$.main.fn_onKeyDownSU0302007(event);
	});

	$('#sc-su0302007-period-daily-tomonth').keydown(function(event) {
		$.main.fn_onKeyDownSU0302007(event);
	});


	$('#sc-su0302007-period-monthly-fromyear').keydown(function(event) {
		$.main.fn_onKeyDownSU0302007(event);
	});

	$('#sc-su0302007-period-monthly-toyear').keydown(function(event) {
		$.main.fn_onKeyDownSU0302007(event);
	});

	$('input:radio[name="sc-su0302007-criteria"]').keydown(function(event) {
		$.main.fn_onKeyDownSU0302007(event);
	});
	//-----------------------------------------------------------------------
	// Description :: 기관  검색에 Click 이벤트 설정 (팝업 오픈)
	//-----------------------------------------------------------------------
	$('#tf-orgNm').on('click', function () {
		mint.common.setScreenParam("caller", "SU-03-02-007");
		mint.common.setScreenParam('callback', '$.main.fn_setOrganizationInfo');
		mint.common.searchPopup('../sub-co/CO-01-00-902.html','CO-01-00-902');
	});

	//=======================================================================
	// (5) 기타 Function 정의
	//=======================================================================

	//=======================================================================
	// (6) 화면 로딩시 실행할 항목 기술
	//=======================================================================
	$.main.fn_init();
	mint.label.attachLabel(null);

});//end document.ready()
</script>

<style>
/* GRID rows Line display */
.k-grid tr td {
    border-bottom: 1px solid #C0C0C0;
}

/* GRID hierarchycal Title Row Hidden */
.k-grid .k-detail-cell .k-grid-header {
  display: none;
}

/* GRID Scroll hidden */
.k-grid-header
{
   padding: 0 !important;
}
.k-grid-content
{
   overflow-y: visible;
}

/* GRID Cursor set */
#grid_su0302007_detail tr {
    cursor : default !important;
}

</style>