 <div class="row wrapper border-bottom white-bg page-heading">
     <div class="col-sm-4">
         <h2>개발중 페이지</h2>
         <ol class="breadcrumb">
             <li>
                 <a href="#"></a>
             </li>
             <!--
             <li class="active">
                 <strong></strong>
             </li>
             -->
         </ol>
     </div>
 </div>

 <div class="wrapper wrapper-content">
     <div class="middle-box text-center animated fadeInRightBig">
         <h2 class="font-bold">개발중입니다...</h2>
         <div class="error-desc">

         </div>
     </div>
 </div>