<!--
	Screen ID : OP-03-04-001
	Screen NM : 점포/POS 통신이력
-->
<!-- <meta http-equiv="Cache-Control" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="Pragma" content="no-cache"/> -->
<div class="row wrapper border-bottom white-bg page-heading menu dhkim">
	<div id="oldPath" class="col-lg-5">
	    <h2><lb class="lb-842"></lb></h2>
		<ol class="breadcrumb">
	        <li><lb class="lb-636"></lb></li>
	        <li><lb class="lb-25"></lb></li>
	        <li class="active"><strong><lb class="lb-842"></lb></strong></li>
 		</ol>
	</div>
	<div id="menuPath" class="col-lg-5">
    </div>
    <div class="col-lg-7">
        <div class="title-action" >
        </div>
    </div>
</div>

<div class="wrapper wrapper-content" >
    <div class="row">
       	<div class="col-lg-12">
       		<div id="iipStore" class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>
						<span><lb class="lb-78">조회조건</lb></span>
					</h5>
					<div class="ibox-tools">
	                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                </div>
					<div style="float: right; padding: 0px 20px 0px 0px;">
						<a class="btn btn-w-m btn-default btn-outline btn-clear"><i class="fa fa-check "></i> <lb class="lb-79"></lb></a>
			        	<a id="btnListSearch" class="btn btn-w-m btn-default btn-outline"><i class="fa fa-search "></i> <lb class="lb-10"></lb> </a>
			        	<a class="btn btn-w-m btn-default btn-outline btn-dashboard" style="display: none;"><i class="fa fa-reply"></i> <lb class="lb-31"></lb></a>
					</div>
				</div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-sm-4">
                            <span class="lable_tag"><lb class="lb-3055"></lb></span>
	                        <span class="k-widget k-autocomplete k-header k-state-default input-width" style="width:63%;">
	                            <input id="storeNm" type="text" class="k-input" placeholder="" style="width: 100%;">
	                        </span>
                        </div>
                        <div class="col-sm-4">
                            <span class="lable_tag"><lb class="lb-3056"></lb></span>
	                        <span class="k-widget k-autocomplete k-header k-state-default input-width" style="width:63%;">
	                            <input id="storeCd" type="text" class="k-input" placeholder="" style="width: 100%;">
	                        </span>
                        </div>
                        <hr class="hr-space">
                        <div class="col-sm-8">
                            <span class="lable_tag" style="width:18%;"><lb class="lb-99999">점포주소</lb></span>
	                        <span class="k-widget k-autocomplete k-header k-state-default input-width" style="width:81%;">
	                            <input id="bizplAddr" type="text" class="k-input" placeholder="" style="width: 100%;">
	                        </span>
                        </div>
                        <hr class="hr-space">
                        <div class="col-sm-12" style="padding-top: 0px">
							<div class="b-col"></div>
						</div>
                        <hr class="hr-space">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <span class="label-tag-4"><lb class="lb-302"></lb>(From)</span>
                                <input id="dt-fromDate" class="input-tag-4" style="text-align:center;">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                             	<span class="label-tag-4"><lb class="lb-302"></lb>(To)</span>
								<input id="dt-toDate" class="input-tag-4" style="text-align:center;">
                            </div>
                        </div>
                        <hr class="hr-space">
                      	<!-- <div class="col-sm-12">
							<div id="list-grid"></div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
   	</div>
	<div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><lb class="lb-91"></lb></h5>
                </div>
                <div class="ibox-content">
					<div id="list-grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
	$(document).ready(function() {
		//=======================================================================
		//(1) function 및 variable scope 설정 :: (메인은 main, 팝업 및 서브는 sub)
		//=======================================================================
		screenName = "OP-03-04-001";
		$.extend({
			main : {
				//=======================================================================
				// (2) Screen 에서 사용할 variable 정의
				//=======================================================================
				callScrnNm : screenName,
				storeListCheckbox : {},
				//=======================================================================
				// (3) Screen 에서 사용할 function 정의
				//=======================================================================


				//-----------------------------------------------------------------------
				// Description :: 화면 초기화
				//-----------------------------------------------------------------------
				fn_init : function() {
					try {
						mint.init('$.main.fn_initCallback');
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_init"});
					}
				},//end fn_init()

				//-----------------------------------------------------------------------
				// Description :: 화면 초기화 콜백
				//-----------------------------------------------------------------------
				fn_initCallback : function() {
					try {

						//-----------------------------------------------------------------------
	                	// DateTimePicker
	                	//-----------------------------------------------------------------------

						var fromDate = new Date();
						//fromDate.setHours(0,0,0,0);
						fromDate.setMinutes(fromDate.getMinutes()-30,0,0);
						mint.ui.setDateTimePicker('dt-fromDate', fromDate, {format : "yyyy/MM/dd HH:mm ss"});

						var toDate = new Date();
						//toDate.setHours(toDate.getHours(),59,59,0);
						//toDate.setSeconds(59, 999);
						mint.ui.setDateTimePicker('dt-toDate', toDate, {format : "yyyy/MM/dd HH:mm ss"});

						$.main.fn_initGrid();

						$('#storeNm').keydown($.main.fn_onKeyDown);
						$('#storeCd').keydown($.main.fn_onKeyDown);
						$('#bizplAddr').keydown($.main.fn_onKeyDown);
						$('#dt-fromDate').keydown($.main.fn_onKeyDown);
						$('#dt-toDate').keydown($.main.fn_onKeyDown);

						//-----------------------------------------------------------------------
						// 대시보드 연계 확인
						//-----------------------------------------------------------------------
	                    var caller = mint.common.getScreenParam("caller");
	                    if( ! mint.common.isEmpty(caller) && caller == 'dashboard' ) {

	                    	var options = mint.common.getScreenParam("options");

	                    	var storeCd     = mint.common.isEmpty(options.storeCd) ? '' : options.storeCd;
	                		var storeNm = mint.common.isEmpty(options.storeNm) ? '' : options.storeNm;
	                		var custStoreCd   = mint.common.isEmpty(options.custStoreCd) ? '' : options.custStoreCd;
	                		var posNo        = mint.common.isEmpty(options.posNo) ? '' : options.posNo;
	                		var regDate        = mint.common.isEmpty(options.regDate) ? '' : options.regDate;

	                   		$('.btn-dashboard').show();

	                   		//기본 설정을 현재시간 -30분으로 처리
	                   		//시간 가져오는 로직은 주석처리
/* 	    					var sFromDate = new Date();
	    					var sToDate = new Date();

	    					if( !mint.common.isEmpty(regDate) ) {
	    						sFromDate = mint.common.formatDateTime(regDate.substring(0, 14), 'yyyy/MM/dd HH:mm ss');
	    						sToDate = mint.common.formatDateTime(regDate.substring(0, 14), 'yyyy/MM/dd HH:mm ss');

	    						$('#dt-fromDate').data('kendoDateTimePicker').value(sFromDate);
	    						$('#dt-toDate').data('kendoDateTimePicker').value(sToDate);
	    					} */

	    					$('#storeCd').val(storeCd);
	    					$('#storeNm').val(storeNm);

	    					$('.close').click();

	    					{
	                        	mint.common.setScreenParam("caller", null);
	                        	mint.common.setScreenParam("option", null);
	                    	}
 	                    }

	                    $.main.fn_searchGridList();

						mint.common.siteMenuPath(screenName);
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_initCallback"});
					}
					finally {}
				},//end fn_initCallback()

				//-----------------------------------------------------------------------
				// Description :: grid 초기화
				//-----------------------------------------------------------------------
				fn_initGrid : function() {
					try{
						var fixLeftGridWidth = ($('#list-grid')[0].clientWidth / 10) * 7;
						var fixLeftCoulmnWidth = fixLeftGridWidth / 4;

						$("#list-grid").kendoGrid({
							dataSource : {
				 				  data: ""
				 				, pageSize : mint.ui.getPageSizesXS({'currentPage' : true})
							},
		                    filterable: true,
						    width  : "100%",
							selectable: "row",
							resizable: true,
		                    sortable : true,
							pageable : {
								  refresh 		: false
								, pageSizes		: mint.ui.getPageSizesXS()
						    	, buttonCount 	: 5

							}
							, toolbar: ["excel"]
						    , excel: {
						          allPages: true
						        , filterable: true
						        , fileName: mint.common.remakeYYMMDD(new Date()).substring(0, 14) + '_' + mint.label.getLabel('lb-10') + '.xlsx'
						    }
						    , messages: {
						        commands: {
						          excel: mint.label.getLabel('lb-508')
						        }
						    }
						    , columns : [
									{
										  title 	: mint.label.getLabel('lb-3056')
										, field 	: "storeCd"
										, width 	: "100px"
										, headerAttributes: {
											 style: "text-align: center; vertical-align:middle;"
										}
										, attributes: {
								              style: 'text-align: center; white-space: nowrap;'
							            },
							            filterable: { multi: true, search: true }
									}
									, {
										  title 	: mint.label.getLabel('lb-3058')
										, field 	: "posNo"
										, width 	: "80px"
										, headerAttributes: {
											 style: "text-align: center; vertical-align:middle;"
										}
										, attributes: {
											style: 'text-align: center; white-space: nowrap;'
							            }
									}
									, {
										  title 	: mint.label.getLabel('lb-3055')
										, field 	: "storeNm"
										, width 	: "150px"
										, headerAttributes: {
											 style: "text-align: center; vertical-align:middle;"
										}
										, attributes: {
											style: 'text-align: center; white-space: nowrap;'
							            },
							            filterable: { multi: true, search: true }
									}
									, {
										  title 	: mint.label.getLabel('lb-3059')
										, field 	: "custStoreCd"
										, width 	: "100px"
										, headerAttributes: {
											 style: "text-align: center; vertical-align:middle;"
										}
										, attributes: {
											style: 'text-align: center; white-space: nowrap;'
							            },
							            filterable: { multi: true, search: true }
									}
									, {
										  title 	: "점포주소"
										, field 	: "bizplAddr"
										, width 	: "300px"
										, headerAttributes: {
											 style: "text-align: center; vertical-align:middle;"
										}
										, attributes: {
											style: 'text-align: center; white-space: nowrap;'
							            },
							            filterable: { multi: true, search: true }
									}
									, {
										  title 	: mint.label.getLabel('lb-71')
										, field 	: "regDate"
										, width 	: "150px"
										,template : '#=$.main.fn_changeTime(regDate)#'
										, headerAttributes: {
											 style: "text-align: center; vertical-align:middle;"
										}
										, attributes: {
											style: 'text-align: center; white-space: nowrap;'
							            }
									}
							]
						    , dataBound: function (e) {
						    	if(0 == $("#list-grid").data().kendoGrid.dataSource.view().length) {
						    		var gridHeight = window.innerHeight - ($('.navbar-static-top').height() + $('.page-heading').height() + $('.col-lg-12').height());

						    		$("#list-grid").children(".k-grid-content").height(gridHeight /2.5);
						    		$("#list-grid").children(".k-grid-content-locked").height(gridHeight / 2.5);
						    	} else {
						    		$("#list-grid").children(".k-grid-content").height('auto');
							    	$("#list-grid").children(".k-grid-content-locked").height('auto');
						    	}
						    }
						}).data("kendoGrid");
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_initGrid"});
					};
				},//end fn_initGrid

				//-----------------------------------------------------------------------
	            // Description :: [연관검색 관련] - 검색 조건 초기화
	            //-----------------------------------------------------------------------
	            fn_clearSearchArea : function() {
	                try {
						$('#storeCd').val('');
						$('#storeNm').val('');
						$('#bizplAddr').val('');
						// 검색기간
						var fromDate = new Date();
						fromDate.setHours(0,0,0,0);
						$('#dt-fromDate').data('kendoDateTimePicker').value(fromDate);

						var toDate = new Date();
						toDate.setSeconds(59, 999);
						$('#dt-toDate').data('kendoDateTimePicker').value(toDate);

	                } catch( e ) {
	                    mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_clearSearchArea"});
	                }
	            },

              	//-----------------------------------------------------------------------
                // Description :: time format 변경
                //-----------------------------------------------------------------------
                fn_changeTime : function(val) {
                    try {
                        var str = val.substring(0, 14);

                        var returnVal = ''
                        if( mint.common.isEmpty(str) ) {
                        	returnVal = '';
                        } else {
                        	returnVal =str.substring(0, 4) + "-" + str.substring(4, 6) + "-" + str.substring(6, 8) + " " + str.substring(8, 10) + ":" + str.substring(10, 12) + ":" + str.substring(12, 14);
                        }

                        return returnVal;
                    } catch( e ) {
                        mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_changeTime"});
                    }
                },

              //-----------------------------------------------------------------------
                // Description :: grid status 변경
                //-----------------------------------------------------------------------
                fn_setColorNm : function(val) {
                 	try {
                 		if(mint.common.isEmpty(val)){
                 			return "";
                 		}else{
                 			var rVal = mint.common.findCommonCode(mint.common.commonCodeMap.get("cds").IM27, 'cd', val).nm ;
                     		if (val && val != null && val =='1' ) { // 정상
                     			return "<b style='color:#287ed4'>" + rVal + "</b>";
                     		} else if (val && val != null && val =='9' ) { // 비정상
                     			return "<b style='color:red'>" +rVal+ "</b>"; // 비정상
                     		} else {
                                return "";
                     		}
                 		}

                     } catch( e ) {
                         mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_setColor"});
                     }
                  },

				//-----------------------------------------------------------------------
				// Description ::  점포/POS 검색
				//-----------------------------------------------------------------------
				fn_searchGridList : function() {
					try {
						var tempStore = new Object();
						tempStore.storeNm = $('#storeNm').val();
    					tempStore.storeCd = $('#storeCd').val();
    					tempStore.bizplAddr = $('#bizplAddr').val();
    					tempStore.startDate      = mint.common.formatDate($("#dt-fromDate").data("kendoDateTimePicker").value(), 'yyyyMMddHHmmss');
    					tempStore.endDate        = mint.common.formatDate($("#dt-toDate").data("kendoDateTimePicker").value(), 'yyyyMMddHHmmss');

						mint.callService(
								tempStore
						 		, screenName
								, 'REST-R01-OP-03-04'
								, function(jsonData) {
							 		var dataSource = new kendo.data.DataSource({
										  data: jsonData
									    , page:1
									    , pageSize: mint.ui.getPageSizesXS({'currentPage' : true})
									    //, serverPaging: true
						 				, schema:{
						 				    model: {
						 				        id: "storeCd",
						 				        fields: {
						 				            storeCd: { editable: false },
						 				            posNo: { editable: false },
						 				            storeNm: { editable: false },
						 				            custStoreCd: { editable: false },
						 				            bizplAddr: {editable: false},
						 				            regDate: { editable: false }
						 				        }
						 				    }
						 				}
									});
									$("#list-grid").data("kendoGrid").setDataSource(dataSource);
								}
								, {errorCall : true}
						);
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_searchGridList"});
					}
				},//end fn_searchGridList()
				//-----------------------------------------------------------------------
				// Description :: 엔터키 이벤트
				//-----------------------------------------------------------------------
				fn_onKeyDown : function(event) {
					try {
						if(event.keyCode == 13) {
							$.main.fn_searchGridList();
						}
					}
					catch(e) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_onKeyDown"});
					}
				}
			}// end main
		}); // end extends


		//=======================================================================
		// (4) 이벤트 핸들러 정의
		//=======================================================================

		//조회
		$("#btnListSearch").click(function () {
			$.main.fn_searchGridList();
        });

		//-----------------------------------------------------------------------
		// Description :: 대시보드 back 버튼 Click 이벤트
		//-----------------------------------------------------------------------
		$(".btn-dashboard").bind("click", function () {
			mint.move('../sub-op/OP-02-00-101');
		});

		//-----------------------------------------------------------------------
		// Description :: KeyDown 이벤트 설정 (상단)
		//-----------------------------------------------------------------------
		/* $('#storeNm').keydown(function(event) {
			if(event.keyCode == 13) {
				$.main.fn_searchGridList();
	     	}
		});

		$('#storeCd').keydown(function(event) {
			if(event.keyCode == 13) {
				$.main.fn_searchGridList();
	     	}
		}); */

		//-----------------------------------------------------------------------
		// Description :: 초기화 버튼 Click 이벤트
		//-----------------------------------------------------------------------
	    $('.btn-clear').on('click', function() {
	        $.main.fn_clearSearchArea();
	    });

		//=======================================================================
		// (6) 화면 로딩시 실행할 항목 기술
		//=======================================================================
		$.main.fn_init();
		mint.label.attachLabel(null);
	});

</script>

<style>
	.k-grid-header
	{
	   padding: 0 !important;
	}

	.k-grid-content
	{
	   overflow-y: visible;
	}

	.k-grid tr td {
	    border-bottom: 1px solid #C0C0C0;
	}

	.k-grid .k-dirty {
	  display: none;
	}

	.note-editor {
    	border : 1px solid #a9a9a9 !important;
	}

    .fa.k-sprite,
    .fa.k-sprite::before {
       font-size: 10px;
       line-height: 10px;
       vertical-align: middle;
    }
</style>

</body>
</html>
