<!--
	Screen ID : OP-02-00-501
	Screen NM : 대시보드-관심인터페이스설정 팝업.
	[변경 이력]
	* 20170228-001
	  - 신규작성	  
-->

<div class="modal inmodal-original" id="OP-02-00-501" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog-original">
		<div class="modal-content-original animated fadeIn">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" style="padding:15px;">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>	
				<div>
					<h2><lb class="lb-675">관심인터페이스목록</lb></h2>
				</div>
			</div>
			<div class="modal-body">
				<div class="panel-body">
					<div class="col-sm-12">
						<div id="grid-favorite-interface"></div>
					</div>					
				</div>
			</div>
			<hr class="hr-space">
			<hr class="hr-space">
            <div class="modal-footer-original">
                <button id="popup-btn-apply" type="button" class="btn btn-primary" ><i class="fa fa-check"></i>  <lb class="lb-358"></lb></button>
                <button id="popup-btn-close" type="button" class="btn btn-danger btn-outline" data-dismiss="modal"><i class="fa fa-ban"></i>  <lb class="lb-298"></lb></button>
            </div>			
		</div>
		<!--modal-content animated fadeIn END--> 
	</div>
	<!-- modal-dialog END-->
</div>
<script type="text/x-kendo-template" id="template-gridCheckBox">
	<input type='checkbox' name='grid-favorite-interface-checkbox' onclick='$.sub.fn_favoriteInterfaceCheckBoxEvent(this)'>
</script>
<script>
$(document).ready(function() {
	//=======================================================================
	//(1) function 및 variable scope 설정 :: (메인은 main, 팝업 및 서브는 sub)
	//=======================================================================
	screenName = "OP-02-00-501";
	$.extend({
		sub : {
			//=======================================================================
			// (2) Screen 에서 사용할 variable 정의
			//=======================================================================
				
			//=======================================================================
			// (3) Screen 에서 사용할 function 정의
			//=======================================================================
			
			//-----------------------------------------------------------------------
			// Description :: 화면 초기화
			//-----------------------------------------------------------------------
			fn_init : function() {
				try {
					mint.init('$.sub.fn_initCallback');
				} catch( e ) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.sub.fn_init"});
				}
			},//end fn_init()
			
			//-----------------------------------------------------------------------
			// Description :: 화면 초기화 콜백
			//-----------------------------------------------------------------------
			fn_initCallback : function() {
				try {
					//TODO
					$.sub.fn_favoriteInterfaceGrid();
					$.sub.fn_getFavoriteInterfaceList();
				} catch( e ) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.sub.fn_initCallback"});
				}
			},//end fn_initCallback()
			
			//-----------------------------------------------------------------------
			// Description :: fn_favoriteInterfaceGrid
			//-----------------------------------------------------------------------
			
			fn_favoriteInterfaceGrid: function() {
				try {
					$("#grid-favorite-interface").kendoGrid({
			          	dataSource : {
			 				  data : []
			 				, page : 1
			 				, pageSize : mint.ui.getPageSizesXS({'currentPage' : true})
						}
						, filterable: true					
			            , sortable: true
			            , selectable: false
			            , pageable : {
							  refresh 		: false
					    	, buttonCount 	: 5
					    	, pageSizes		: mint.ui.getPageSizesXS()
				            , change:function(e) {
				            	$.main.infterfaceListCheckbox = {};
				            	$("#interface-list-checkbox-checkAll").prop('checked', false);
					       	}
						}
						, columns: [
								{
									title : "",
									template: kendo.template( $("#template-gridCheckBox").html() ),
									width : "10px",
									headerAttributes : {
										style : "text-align: center"
									},
									attributes : {
										style : "text-align: center; white-space: nowrap;"
									}
								}
		 						, {
									field : "INTEGRATION_ID",
									title : mint.label.getLabel('lb-154'),
									template : "<span title='${INTEGRATION_ID}'>${INTEGRATION_ID}</span>",
									width : "40px",
									headerAttributes : {
										style : "text-align: center"
									},
									attributes : {
										style : "text-align: center; white-space: nowrap;"
									}
								}
								, {
									field : "INTERFACE_NM",
									title : mint.label.getLabel('lb-153'),
									template : "<span title='${INTERFACE_NM}'>${INTERFACE_NM}</span>",
									width : "70px",
									headerAttributes : {
										style : "text-align: center"
									},
									attributes : {
										style : "text-align: left; white-space: nowrap;"
									}
								}
								, {
									field : "MONITOR_YN",
									title : mint.label.getLabel('lb-29'),
									template : "<span title='${MONITOR_YN}'>${MONITOR_YN}</span>",
									width : "30px",
									headerAttributes : {
										style : "text-align: center"
									},
									attributes : {
										style : "text-align: center; white-space: nowrap;"
									}
								}
						]
						, dataBound: function (e) {
							if('undefined' != typeof $("#grid-favorite-interface").data()) {
								if(0 == $("#grid-favorite-interface").data().kendoGrid.dataSource.view().length) {
									var gridHeight = window.innerHeight - ($('.navbar-static-top').height() + $('.page-heading').height() + $('.col-lg-12').height());
						    		$("#grid-favorite-interface").children(".k-grid-content").height(gridHeight / 3.5);
						    	} else {
						    		$("#grid-favorite-interface").children(".k-grid-content").height('auto');
						    	}
								
								//-----------------------------------------------------------------------
								// ROW 에 대한 CSS 처리
								//-----------------------------------------------------------------------
								var items = e.sender._data;
								var checkChannelId = '';
								if( items.length > 0 ) {										
									for(var i = 0; i < items.length; i++ ) {
										var tr = e.sender.tbody.find("tr[data-uid='" + items[i].uid + "']");
										tr.attr('class', '');
									}
								}								
							}
					    }
			        });
		 		
				} catch( e ) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.sub.fn_favoriteInterfaceGrid"});
				}
			},//end fn_favoriteInterfaceGrid

			
			//-----------------------------------------------------------------------
			// Description :: 관심 인터페이스 목록 조회
			//-----------------------------------------------------------------------
			fn_getFavoriteInterfaceList : function() {
				try {
					var interface = new Object();
					interface.userId=mint.session.getUserId();

				    //데이터 조회
				    mint.callService(interface, 'AN-02-01-001', 'REST-R01-AN-02-01', '$.sub.fn_setFavoriteInterfaceList',
				    		{
				    			errorCall : true,
				    			params : 
				    			{
	       							typeCd : '0' // 관심 인터페이스
	  							}
				    		}
				    );
				} catch( e ) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.sub.fn_getFavoriteInterfaceList"});
				}
			},//end fn_getFavoriteInterfaceList()
			
			
			//-----------------------------------------------------------------------
			// Description :: 관심 인터페이스 목록 조회 콜백
			//-----------------------------------------------------------------------
			fn_setFavoriteInterfaceList : function(jsonData) {
				try {
					var dataSource = new kendo.data.DataSource({
						  data: jsonData
					    , page:1
					    , pageSize: mint.ui.getPageSizesXS({'currentPage' : true})
					});

					$("#grid-favorite-interface").data("kendoGrid").setDataSource(dataSource);
				} catch( e ) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.sub.fn_setFavoriteInterfaceList"});
				}
			},//end fn_setFavoriteInterfaceList()
			
			//-----------------------------------------------------------------------
			// Description :: Grid CheckBox Event
			//-----------------------------------------------------------------------			
			fn_favoriteInterfaceCheckBoxEvent : function(checkbox) {
				try {
					var checked  = $(checkbox).is(':checked');
					var row      = $(checkbox).closest("tr");
					var grid     = $('#grid-favorite-interface').data('kendoGrid');

					if(checked) {
						row.addClass('k-state-selected');
					} else {
						row.removeClass('k-state-selected');
					}
				
				} catch( e ) {
					mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.sub.fn_favoriteInterfaceCheckBoxEvent"});
				}				
			}
		
		}// end sub
		
	});// end extends

	//=======================================================================
	// (4) 이벤트 핸들러 정의
	//=======================================================================
	
	//-----------------------------------------------------------------------
	// Description :: 적용 버튼 클릭 이벤트
	//-----------------------------------------------------------------------	
	$('#popup-btn-apply').click(function(e) {
		try {
			var selectedItem = [];
			
			var checkboxCount = $("input[name=grid-favorite-interface-checkbox]:checked").length;
			if( checkboxCount == 0 ) {
				mint.common.alert('CW00003', mint.label.getLabel('lb-395'));
				return;				
			} else if( checkboxCount > 5 ) {
				mint.common.alert('CW00011', [mint.label.getLabel('lb-395'),5]);
				return;					
			} else {
				var checkedItem = $("input[name=grid-favorite-interface-checkbox]:checked");
				var grid        = $('#grid-favorite-interface').data('kendoGrid');
				for( var i = 0; i < checkedItem.length; i++ ) {
					var row = $(checkedItem[i]).closest("tr");
					var gridItem = grid.dataItem(row);
					selectedItem.push(gridItem);
				}
			}

			
			var callback = mint.common.getScreenParam('callback');
			var fn_callback = mint.common.fn_callback(callback);
			if( fn_callback ) {
				mint.common.setScreenParam('callback', null);
				fn_callback(selectedItem);
			} else {
				mint.common.alert('CE90000');
				return;
			}			
			
			$('#OP-02-00-501').modal('hide');
		} catch( e ) {
			mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "popup-btn-apply"});
		}
		

	});	
  	
	//=======================================================================
	// (5) 기타 Function 정의
	//=======================================================================

		
	//=======================================================================
	// (6) 화면 로딩시 실행할 항목 기술
	//=======================================================================		
	$.sub.fn_init();
	mint.label.attachLabel(null);
	
});//end document.ready()
</script>
<style>
.k-grid {
	font-size:12px;
}
.k-grid td {
	padding: 0.2em 0.6em;
}
</style>