<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013 ~ 2015. Mocomsys's guys(Sanghoon Lim, Deahun Ham, dhkim, whoana.j), Inc.  All Rights Reserved.
  ~ DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
  ~ [주의!]
  ~ 본 코드가 하자없이 완벽할거라 믿었다간 엄청난 욕을 먹고 그로 인한 스트레스로 병들거나 심하면 살기 싫어질 수도 있으니 부디 살얼음판을 걷듯이 주의하여 사용하기 바란다. 
  ~ 사용상 받을지 모를 스트레스 및 기타 피해에 대한 책임은 사용자 본인에게 있음을 명시한다. 부디 행운을 빈다.
  ~ Please Don't contact Mocomsys, Inc., NURITKUM SQUARE R&D TOWER, 11F DMC 1605, 
  ~ Sangam-Dong, Mapo-Gu, Seoul, 121-795 Korea or visit mocomsys.com if you need additional information or have any questions.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pep.per.mint.batch.mapper.op.DetailLogErrorJobMapper">
  	<!--
  	<cache/>
  	-->
	<select id="selectDelayedTrLog" resultMap="TrLogMap">
	<![CDATA[
		SELECT A.MASTERLOG_ID AS MASTERLOG_ID
		      ,MAX(B.DETAILLOG_ID) AS DETAILLOG_ID
		      ,MAX(A.MSG_DATETIME) AS MSG_DATETIME
		  FROM MASTERLOG A, DETAILLOG B
		 WHERE A.MASTERLOG_ID = B.MASTERLOG_ID
		   AND A.MSG_DATETIME = B.MSG_DATETIME
		   AND (A.MSG_DATETIME > #{fromDate} || '0000000000'  AND A.MSG_DATETIME <= #{toDate} || '9999999999' )
		   AND A.MSG_STATUS = '01'
		 GROUP BY A.MASTERLOG_ID
	]]>
	</select>

	<resultMap type="java.util.HashMap" id="TrLogMap">
		<result javaType="java.lang.Integer" column="MASTERLOG_ID" property="masterlogId" />
		<result javaType="java.lang.Integer" column="DETAILLOG_ID" property="detaillogId" />
		<result javaType="java.lang.String" column="MSG_DATETIME" property="msgDateTime" />
	</resultMap>

	<insert id="insertDetailLogError">
		INSERT INTO DETAILLOG_ERR_TMP (MASTERLOG_ID, DETAILLOG_ID, MSG_DATETIME, ERROR_MSG)
		                       VALUES (#{masterlogId}, #{detaillogId}, #{msgDateTime}, 
		                               'wait timeout. change status from [processing] to [error].')
	</insert>
	
	<update id="updateMasterlogStatus">
		UPDATE MASTERLOG SET MSG_STATUS = '99' 
		 WHERE MASTERLOG_ID = #{masterlogId} 
		   AND MSG_DATETIME = #{msgDateTime} 
		   AND MSG_STATUS = '01'
	</update>
</mapper>