<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pep.per.mint.batch.mapper.op.SendSmsJobMapper">
  	<!--
  	<cache/>
  	-->

	<select id="getNotYetSendSmses" resultMap="smsForTrackingResultMap">
			select
		     A.SMS_ID
		    ,A.TYPE
		    ,SUBJECT
		    ,CONTENTS
		    ,SENDER
		    ,RECIPIENTS
		    ,RETRY
		    ,FORMAT
		    ,SND_REQ_DATE
		    ,SND_YN
		    ,RES_DATE
		    ,RES_CD
		    ,RES_MSG
		    ,REG_DATE
		    ,MOD_DATE
		    ,DEL_YN
		    ,B.KEY1  AS  REG_USER
		    ,B.KEY3  AS  MOD_USER
		  from TOP0904 A
		  LEFT OUTER JOIN TOP0905 B ON (A.SMS_ID = B.SMS_ID AND A."TYPE" = B."TYPE")
		  where SND_YN = 'N'
		   AND RETRY <![CDATA[<=]]>#{retry}
		   and REG_DATE <![CDATA[>=]]> #{fromDate}
 		   and ROWNUM <![CDATA[<=]]> #{fetchCount}
	</select>

	<resultMap type="Sms" id="smsForTrackingResultMap">
		<id property="smsId" 			column="SMS_ID"/>
		<id property="type" 			column="TYPE"/>
		<result property="subject" 		column="SUBJECT"/>
		<result property="contents"		column="CONTENTS"/>
		<result property="sender"		column="SENDER"/>
		<result property="recipients" 	column="RECIPIENTS"/>
		<result property="retry"		column="RETRY"/>
		<result property="format" 		column="FORMAT"/>
		<result property="sndReqDate"	column="SND_REQ_DATE"/>
		<result property="sndYn"		column="SND_YN"/>
		<result property="resDate" 		column="RES_DATE"/>
		<result property="resCd"		column="RES_CD"/>
		<result property="resMsg"		column="RES_MSG"/>
		<result property="regDate"		column="REG_DATE"/>
		<result property="regId" 		column="REG_USER"/>
		<result property="modDate"		column="MOD_DATE"/>
		<result property="modId"		column="MOD_USER"/>
		<result property="delYn"		column="DEL_YN"/>
	</resultMap>

	<update id="updateSmsSendResult">
		update
			 TOP0904
		   set
			 SUBJECT 		= #{subject, 		jdbcType=VARCHAR}
			,CONTENTS 		= #{contents, 		jdbcType=VARCHAR}
			,SENDER 		= #{sender, 		jdbcType=VARCHAR}
			,RECIPIENTS 	= #{recipients, 	jdbcType=VARCHAR}
			,RETRY 			= #{retry,	 		jdbcType=NUMERIC}
			,FORMAT 		= #{format, 		jdbcType=VARCHAR}
			,SND_REQ_DATE 	= #{sndReqDate, 	jdbcType=VARCHAR}
			,SND_YN 		= #{sndYn, 			jdbcType=VARCHAR}
			,RES_DATE 		= #{resDate, 		jdbcType=VARCHAR}
			,RES_CD 		= #{resCd, 			jdbcType=VARCHAR}
			,RES_MSG 		= #{resMsg, 		jdbcType=VARCHAR}
			,MOD_DATE 		= #{modDate, 		jdbcType=VARCHAR}
			,MOD_USER 		= #{modId, 			jdbcType=VARCHAR}
			,DEL_YN 		= #{delYn, 			jdbcType=VARCHAR}
		 where SMS_ID = #{smsId}
		   and TYPE = #{type}
	</update>

</mapper>