<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pep.per.mint.batch.mapper.op.SimpleSendMailMapper">
  	<!--
  	<cache/>
  	-->

	<resultMap type="Email" id="emailResultMap">
		<id property="emailId" 			column="EMAIL_ID"/>
		<id property="type" 			column="TYPE"/>
		<result property="subject" 		column="SUBJECT"/>
		<result property="contents"		column="CONTENTS"/>
		<result property="sender"		column="SENDER"/>
		<result property="recipients" 	column="RECIPIENTS"/>
		<result property="refers"		column="REFERS"/>
		<result property="hiddenRefers"	column="HIDDEN_REFERS"/>
		<result property="format" 		column="FORMAT"/>
		<result property="sndReqDate"	column="SND_REQ_DATE"/>
		<result property="sndYn"		column="SND_YN"/>
		<result property="resDate" 		column="RES_DATE"/>
		<result property="resCd"		column="RES_CD"/>
		<result property="resMsg"		column="RES_MSG"/>
		<result property="regDate"		column="REG_DATE"/>
		<result property="regId" 		column="REG_USER"/>
		<result property="modDate"		column="MOD_DATE"/>
		<result property="modId"		column="MOD_USER"/>
		<result property="delYn"		column="DEL_YN"/>
	</resultMap>

	<select id="getNotYetSendEmails" resultMap="emailResultMap">
		select
		     EMAIL_ID
		    ,TYPE
		    ,SUBJECT
		    ,CONTENTS
		    ,SENDER
		    ,RECIPIENTS
		    ,REFERS
		    ,HIDDEN_REFERS
		    ,FORMAT
		    ,SND_REQ_DATE
		    ,SND_YN
		    ,RES_DATE
		    ,RES_CD
		    ,RES_MSG
		    ,REG_DATE
		    ,REG_USER
		    ,MOD_DATE
		    ,MOD_USER
		    ,DEL_YN
		  from TOP0901
		 where SND_YN = 'N'
		   and REG_DATE <![CDATA[>=]]> #{fromDate}
 		   and ROWNUM <![CDATA[<=]]> #{fetchCount}
	</select>


	<update id="updateEmail">
		update
			 TOP0901
		   set
			 SUBJECT 		= #{subject, 		jdbcType=VARCHAR}
			,CONTENTS 		= #{contents, 		jdbcType=CLOB, typeHandler=org.apache.ibatis.type.ClobTypeHandler, javaType=String}
			,SENDER 		= #{sender, 		jdbcType=VARCHAR}
			,RECIPIENTS 	= #{recipients, 	jdbcType=VARCHAR}
			,REFERS 		= #{refers, 		jdbcType=VARCHAR}
			,HIDDEN_REFERS 	= #{hiddenRefers, 	jdbcType=VARCHAR}
			,FORMAT 		= #{format, 		jdbcType=VARCHAR}
			,SND_REQ_DATE 	= #{sndReqDate, 	jdbcType=VARCHAR}
			,SND_YN 		= #{sndYn, 			jdbcType=VARCHAR}
			,RES_DATE 		= #{resDate, 		jdbcType=VARCHAR}
			,RES_CD 		= #{resCd, 			jdbcType=VARCHAR}
			,RES_MSG 		= #{resMsg, 		jdbcType=VARCHAR}
			,MOD_DATE 		= #{modDate, 		jdbcType=VARCHAR}
			,MOD_USER 		= #{modId, 			jdbcType=VARCHAR}
			,DEL_YN 		= #{delYn, 			jdbcType=VARCHAR}
		 where EMAIL_ID = #{emailId}
		   and TYPE = #{type}
	</update>


</mapper>