<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013 ~ 2015. Mocomsys's guys(Sanghoon Lim, Deahun Ham, dhkim, whoana.j), Inc.  All Rights Reserved.
  ~ DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
  ~ [주의!]
  ~ 본 코드가 하자없이 완벽할거라 믿었다간 엄청난 욕을 먹고 그로 인한 스트레스로 병들거나 심하면 살기 싫어질 수도 있으니 부디 살얼음판을 걷듯이 주의하여 사용하기 바란다. 
  ~ 사용상 받을지 모를 스트레스 및 기타 피해에 대한 책임은 사용자 본인에게 있음을 명시한다. 부디 행운을 빈다.
  ~ Please Don't contact Mocomsys, Inc., NURITKUM SQUARE R&D TOWER, 11F DMC 1605, 
  ~ Sangam-Dong, Mapo-Gu, Seoul, 121-795 Korea or visit mocomsys.com if you need additional information or have any questions.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pep.per.mint.batch.mapper.op.TOP0201JobMapper">
  	<!--
  	<cache/>
  	-->
	<delete id="deleteTOP0201">
		delete from TOP0201 where substr(LOGIN_DATE,1,8) = #{loginDate}
	</delete>

	<insert id="insertTOP0201">
		insert into TOP0201 (LOGIN_DATE, USER_ID, LOGIN_CNT)
		select
			 substr(LOGIN_DATE,1,8) as LOGIN_DATE
			,USER_ID
			,count(*) as LOGIN_CNT
		 from TOP0200
		where substr(LOGIN_DATE,1,8) = #{loginDate}
		group by substr(LOGIN_DATE,1,8) ,  USER_ID
		order by substr(LOGIN_DATE,1,8) ,  USER_ID
	</insert>
	
</mapper>