<!--
	Screen ID : IM-01-00-004
	Screen NM : 기관 관리
	[변경 이력]
	* 20161228-001
-->
<div class="row wrapper border-bottom white-bg page-heading menu dhkim">
	<div id="oldPath" class="col-lg-5">
	    <h2><lb class="lb-819"></lb></h2>
	    <ol class="breadcrumb">
	        <li><lb class="lb-636"></lb></li>
	        <li><lb class="lb-25"></lb></li>
	        <li class="active"><strong><lb class="lb-819"></lb></strong></li>
	    </ol>
	</div>
	<div id="menuPath" class="col-lg-5">
    </div>
    <div class="col-lg-7">
        <div class="title-action" ></div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" >
	<div class="row">
		<div class="col-lg-4">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>
						<span><lb class="lb-108"></lb></span>
					</h5>
					<div class="ibox-tools">
						<span style="padding: 0px 20px 0px 0px;">
						</span>
						<a class="collapse-link">
						    <i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">
					<div class="row">
						<hr class="hr-space">
 						<div class="col-sm-12 forum-info">
							<input id="searchText" type="text" class="input-tag-8 k-textbox" placeholder="Search..." style="width: 65%;">
							<span>
								<button id="btn-search" type="button" class="btn btn-default btn-w-s btn-outline btn-search" style="margin:0;"><i class="fa fa-search"></i><lb class="lb-10"></lb></button>
							</span>
						</div>
					</div>
					<hr class="hr-space">
					<hr class="hr-space">
					<div class='scrollable' style='height: 600px; overflow: auto;'>
		           		<div id="org-treeview"></div>
		           	</div>
		        </div>

			</div>
		</div>

		<div class="col-lg-8">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>
						<span><lb class="lb-353"></lb></span>
					</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
						    <i class="fa fa-chevron-up"></i>
						</a>
					</div>
					<div style="float: right; padding: 0px 20px 0px 0px;">
					    <a id="btnClear" href="#" class="btn btn-w-m btn-default btn-outline" style="margin-left: 10px;"><i class="fa fa-eraser "></i><lb class="lb-79"></lb></a>
					    <a id="btnRootCreate" href="#" class="btn btn-w-m btn-default btn-outline" style="margin-left: 10px;"><i class="fa fa-check "></i><lb class="lb-312"></lb></a>
			            <a id="btnCreate" class="btn btn-w-m btn-default btn-outline" style="display: none;"><i class="fa fa-save"></i> <lb class="lb-428"></lb> </a>
			            <a id="btnModify" class="btn btn-w-m btn-default btn-outline" style="display: none;"><i class="fa fa-pencil"></i> <lb class="lb-342"></lb> </a>
			            <a id="btnDelete" class="btn btn-w-m btn-default btn-outline" style="display: none;"><i class="fa fa-trash-o"></i> <lb class="lb-343"></lb> </a>
					</div>
				</div>
				<div class="ibox-content">
					<div class="row">
						<hr class="hr-space">
		                <div class="col-sm-6">
	                        <span class="label-tag-4"><lb class="lb-356"></lb></span>
	                        <span>
	                         	<input id="p-systemNm" class="input-tag-4 k-textbox" type="text" maxlength="63">
	                        </span>
	                    </div>
	                    <hr class="hr-space">
		                <div class="col-sm-6">
	                        <span class="label-tag-4"><lb class="lb-817"></lb></span>
	                        <span class="k-widget k-header k-state-default input-tag-4">
	                            <input id="cbRootYn" type="text" style="width: 100%;" >
	                        </span>
	                    </div>
	                    <div class="col-sm-6">
	                        <span class="label-tag-4"><lb class="lb-419"></lb></span>
	                        <span class="k-widget k-header k-state-default input-tag-4">
	                            <input id="cbGrpYn" type="text" style="width: 100%;" >
	                        </span>
	                    </div>
						<hr class="hr-space">
		                <div class="col-sm-6">
	                        <span class="label-tag-4"><lb class="lb-821"></lb></span>
	                        <span>
	                         	<input id="organizationNm" class="input-tag-4 k-textbox" type="text" maxlength="63">
	                         	<input id="organizationId" type="hidden" >
	                         	<input id="rootYn" type="hidden" >
	                         	<input id="grpYn" type="hidden" >
	                        </span>
	                    </div>
		                <div class="col-sm-6">
	                        <span class="label-tag-4"><lb class="lb-822"></lb></span>
	                        <span>
	                         	<input id="organizationCd" class="input-tag-4 k-textbox" type="text" maxlength="63">
	                        </span>
	                    </div>
	                    <hr class="hr-space">
		                <div class="col-sm-6">
	                        <span class="label-tag-4"><lb class="lb-527"></lb></span>
	                        <span>
	                         	<input id="comments" class="input-tag-4 k-textbox" type="text" maxlength="63">
	                        </span>
	                    </div>

						<div class="ibox-content" style="border-style: none none none;">
							<h3><lb class="lb-209"></lb><a class="help-over-title" onclick="mint.ui.help(this, 'AP00000003','H013')"></a></h3>
		                 	<div class="row">
								<div class="col-lg-12">
		          					<div id="example">
		         						<div id="person-in-charge-grid"></div>
									</div>
		                 		</div>
							</div>
						</div>
						<div class="ibox-content" style="border-style: none none none;">
							<h3><lb class="lb-82"></lb></h3>
			               	<div class="row">
								<div class="col-lg-12" >
			                		<div>
			       	     				<div id="org-system-grid" ></div>
									</div>
								</div>
							</div>
						</div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>
    <ul id="menu" class="demo-section k-content wide">
        <li data-item="system-reg"><lb class="lb-11"></lb></li>
    </ul>
<script>
	$(document).ready(function() {
	    //=======================================================================
	    //(1) function 및 variable scope 설정 :: (메인은 main/main_detail, 팝업 및 서브는 sub)
	    //=======================================================================
	    screenName = "IM-01-01-004";

	    $.extend({
	        main : {
	            //=======================================================================
	            // (2) Screen 에서 사용할 variable 정의
	            //=======================================================================
				selectedItem: '',
				contextSelectedItem: '',
				isGroup:false,
				isNew:false,

	            //=======================================================================
	            // (3) Screen 에서 사용할 function 정의
	            //=======================================================================

				//-----------------------------------------------------------------------
				// Description :: 화면 초기화
				//-----------------------------------------------------------------------
				fn_init : function() {
					try {
						mint.init('$.main.fn_initCallback');
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_init"});
					}
				},//end fn_init()

				//-----------------------------------------------------------------------
				// Description :: 화면 초기화 콜백
				//-----------------------------------------------------------------------
				fn_initCallback : function() {
					try {
						$.main.fn_initTree();
						$.main.fn_subGrid();

						$.main.fn_requireTreeOrg();

						$('#searchText').keydown($.main.fn_onKeyDown);

						mint.common.siteMenuPath(screenName);
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_initCallback"});
					}
				},//end fn_initCallback()

				fn_subGrid : function(){
					try{
						//담당자 - 그리드 라벨 세팅
						var personInChargelabelCoulmn = personInChargeGridColumnLabelSetting();

						/**
						 * 인터페이스 정보 - 담당자 - 그리드 테이블 컬럼 라벨 세팅
						 */
						function personInChargeGridColumnLabelSetting() {
							var returnObject = {
								  '#lb-personTitle' : mint.label.getLabel('lb-209')
								, '#lb-userNm' 		: mint.label.getLabel('lb-211')
								, '#lb-cellPhone' 	: mint.label.getLabel('lb-212')
						 		, '#lb-phone' 		: mint.label.getLabel('lb-213')
						 		, '#lb-email' 		: mint.label.getLabel('lb-214')
							};
							return returnObject;
						}


			 			//담당자 - 그리드 세팅
				        $("#person-in-charge-grid").kendoGrid({
				        	  sortable: true
				        	, editable: false
				        	, selectable: true
				        	, scrollable: false
				        	, noRecords: true
				            //, change: onChange
				   			, columns: [
								{
									  title 	: personInChargelabelCoulmn['#lb-personTitle']
											+ "<span id='popupPersonSearchPop' style='float:right; cursor: pointer;' ><i class='fa fa-plus-square'></i> <lb class='lb-327'></lb></span>"
									, headerAttributes: {
										style: "text-align: center;"
									}
									, columns: [
										{
											  template	: '#=$.main.fn_setComboboxStyleCheck(reUseDelYn, "person-in-charge-grid")#'
											, width 	: "30px"
											, headerAttributes: {
												 style: "text-align: center; vertical-align:middle;"
											}
											, attributes: {
												 style: "text-align: center; white-space: nowrap;"
											}
										}, {
						 					  title		: personInChargelabelCoulmn['#lb-userNm']
						   					, field 	: "user.userNm"
											, template : '#=$.main.fn_setStyleCheck(user.userNm, reUseDelYn)#'
											, headerAttributes: {
												style: "text-align: center;"
											}
											, attributes: {
												style: "text-align: center; white-space: nowrap;"
											}
										}, {
						 					  title		: personInChargelabelCoulmn['#lb-cellPhone']
						   					, field 	: "user.cellPhone"
											, template : '#=$.main.fn_setStyleCheck(user.cellPhone, reUseDelYn)#'
											, headerAttributes: {
												style: "text-align: center;"
											}
											, attributes: {
												style: "text-align: center; white-space: nowrap;"
											}
										}, {
						 					  title		: personInChargelabelCoulmn['#lb-phone']
						   					, field 	: "user.phone"
											, template : '#=$.main.fn_setStyleCheck(user.phone, reUseDelYn)#'
											, headerAttributes: {
												style: "text-align: center;"
											}
											, attributes: {
												style: "text-align: center; white-space: nowrap;"
											}
										}, {
						 					  title		: personInChargelabelCoulmn['#lb-email']
						   					, field 	: "user.email"
											, template : '#=$.main.fn_setStyleCheck(user.email, reUseDelYn)#'
											, headerAttributes: {
												style: "text-align: center;"
											}
											, attributes: {
												style: "text-align: center; white-space: nowrap;"
											}
										}, {
											  title		: "reUseDelYn"
											, field 	: "reUseDelYn"
											, hidden	: true
										}, {
											  title		: "systemId"
											, field 	: "systemId"
											, hidden	: true
										}, {
											  title		: "systemNm"
											, field 	: "systemNm"
											, hidden	: true
										}, {
											  title		: "systemCd"
											, field 	: "systemCd"
											, hidden	: true
										}
									]
								}
							]
					        , dataBound: function (e) {
						    	if(0 == $("#person-in-charge-grid").data().kendoGrid.dataSource.view().length) {
						    		$("#person-in-charge-grid").children(".k-grid-content").height('100');
						    	} else {
						    		$("#person-in-charge-grid").children(".k-grid-content").height('auto');
						    	}
						    }
				        });

				     	//그리드 Row 클릭시 이벤트(index값 저장 및 스타일 제거)
						function onChange(arg) {
		 					var selectedRows = this.select();
				     		var dataItem = this.dataItem(selectedRows[0]);
				     		var dataRows = $("#" + arg.sender.wrapper[0].id).data("kendoGrid").items();

			     			personGridSelectBizRowIndex = dataRows.index(this.select());
			     			bizStateCheck = 'person-in-charge-grid';
				     		selectedRows.removeClass("k-state-selected");
				         }

						//연계시스템 - 그리드 라벨 세팅
						var labelCoulmn = systemGridColumnLabelSetting();

						//-----------------------------------------------------------------------
						// Description :: 인터페이스 정보 - 연계시스템 - 그리드 테이블 컬럼 라벨 세팅
						//-----------------------------------------------------------------------
						function systemGridColumnLabelSetting() {
							var returnObject = {
								'#lb-source' 		: mint.label.getLabel('lb-82')
								,'#lb-systemNm' 	: mint.label.getLabel('lb-182')
								,'#lb-systemCd' 	: mint.label.getLabel('lb-816')
							};
							return returnObject;
						}

						//연계시스템 - 송신(요청) 그리드
						$("#org-system-grid").kendoGrid({
				              sortable: true
				            , editable: false
				            , selectable: true
				            , scrollable: false
				        	, noRecords: true
				            //, change: onChange
							, columns: [
									{
									  title 	: labelCoulmn['#lb-source']
												+ "<a id='source-help' style='margin-left: 10px; float:right;' class='help-over-label' onclick='$.main.fn_helpTemp(this)'></a>"
												+ "<span id='popupSourceSystemSearchPop' style='float:right; cursor: pointer;'><i class='fa fa-plus-square'></i> <lb class='lb-327'></lb></span>"
									, headerAttributes: {
										 style: "text-align: center;"
									}
									, columns: [
										{
											  template	: '#=$.main.fn_setComboboxStyleCheck(reUseDelYn, "org-system-grid")#'
											, width 	: "30px"
											, headerAttributes: {
												 style: "text-align: center; vertical-align:middle;"
											}
											, attributes: {
												 style: "text-align: center; white-space: nowrap;"
											}
										}, {
											  title		: labelCoulmn['#lb-systemNm']
											, field 	: "systemNm"
											, template : '#=$.main.fn_setStyleCheck(systemNm, reUseDelYn)#'
											, headerAttributes: {
												 style: "text-align: center;"
											}
											, attributes: {
												 style: "text-align: center; white-space: nowrap;"
											}

										}, {
											  title		: labelCoulmn['#lb-systemCd']
											, field 	: "systemCd"
											, template : '#=$.main.fn_setStyleCheck(systemCd, reUseDelYn)#'
											, headerAttributes: {
												 style: "text-align: center;"
											}
											, attributes: {
												 style: "text-align: center; white-space: nowrap;"
											}
										}, {
											  title		: "systemId"
											, field 	: "systemId"
											, hidden	: true
											, headerAttributes: {
												 style: "text-align: center;"
											}
										}, {
											  title		: "reUseDelYn"
											, field 	: "reUseDelYn"
											, hidden	: true
										}
									]
								}
				            ]
							 , dataBound: function (e) {
						    	if(0 == $("#org-system-grid").data().kendoGrid.dataSource.view().length) {
						    		$("#org-system-grid").children(".k-grid-content").height('150');
						    	} else {
						    		$("#org-system-grid").children(".k-grid-content").height('auto');
						    	}
						    }
				        });
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_initCallback"});
					}
				}, // end fn_subGrid

				fn_initTree : function() {
					try {

						$("#org-treeview").kendoTreeView({
							dataTextField: 'text',
							dataValueField :'id',
							loadOnDemand: false,
							collapse: function(e) {
								mint.ui.treeViewCollapse(e.node);
							},
							expand: function(e) {
								mint.ui.treeViewExpand(e.node);
							}
		                });

						var srcYn = [	{text: "Y", value: "Y"},
									{text: "N", value: "N"}
				    	];
			 			$("#cbRootYn").kendoDropDownList({
							dataTextField: "text",
							dataValueField: "value",
							dataSource: srcYn,
							index: 1,
							enable: false
						});

			 			$("#cbGrpYn").kendoDropDownList({
							dataTextField: "text",
							dataValueField: "value",
							dataSource: srcYn,
							index: 1,
							enable: false
						});

			 			$('#p-orgNm').prop('disabled', true);

					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_initTree"});
					}
				},//end fn_initTree

				//-----------------------------------------------------------------------
				// Description :: 시스템 검색.
				//-----------------------------------------------------------------------
				fn_requireOrg : function(orgId) {
					try {
						var ogrObj = new Object();
						ogrObj.objectType 	= 'Organization';
						ogrObj.organizationId = orgId;
						mint.callService(ogrObj, screenName, 'REST-R02-IM-01-06', function(jsonData) {
							if( ! mint.common.isEmpty(jsonData)){
								$('#p-systemNm').val( mint.common.isEmpty(jsonData.parentOrganization) ? '' : jsonData.parentOrganization.organizationNm);
								$('#organizationNm').val(jsonData.organizationNm);
								$('#organizationId').val(jsonData.organizationId);
								$('#organizationCd').val(jsonData.organizationCd);
								$('#comments').val(jsonData.comments);
								$('#rootYn').val(jsonData.rootYn);
								$('#grpYn').val(jsonData.grpYn);

								$.main.selectedItem = jsonData;

								var inlineDefault  = new kendo.data.DataSource({
									data:jsonData.systemList,
			                        schema: {
					                      model: {
					                          reUseDelYn: "Y"
					                        }
				                       }
								});
								$("#org-system-grid").data("kendoGrid").setDataSource(inlineDefault);
								var inlineUser  = new kendo.data.DataSource({
									data:jsonData.relUsers,
			                        schema: {
					                      model: {
					                          reUseDelYn: "Y",
					                          userId: "user.userId",
					                          userNm: "user.userNm",
					                          phone: "user.phone",
					                          cellPhone: "user.cellPhone",
					                          email: "user.email"
					                        }
				                       }
								});

								$("#person-in-charge-grid").data("kendoGrid").setDataSource(inlineUser);

								if(jsonData.rootYn =='N'){
									var entityTree = $("#org-treeview").data("kendoTreeView");
									var selectedItem = entityTree.dataItem(entityTree.select());
								    var parent = entityTree.parent(entityTree.select());
									var parentText = entityTree.text(parent);
									$('#p-orgNm').val(parentText);
									$('#isRoot').val('N');

								}else{
									$('#p-orgNm').val('');
									$('#isRoot').val('Y');
								}

 								if(jsonData.grpYn =='Y'){
 									$('#cbGrpYn').data("kendoDropDownList").select(0);
 								}else{
 									$('#cbGrpYn').data("kendoDropDownList").select(1);
 								}

 								if(jsonData.rootYn =='Y'){
 									$('#cbRootYn').data("kendoDropDownList").select(0);
 									$('#cbGrpYn').data("kendoDropDownList").enable(false);
 								}else{
 									$('#cbRootYn').data("kendoDropDownList").select(1);
 									$('#cbGrpYn').data("kendoDropDownList").enable(true);
 								}
							}
						}, { errorCall : true, params : {organizationId : ogrObj.organizationId }, notificationView : true } );

					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.requireSystem"});
					}
				},//end fn_requireOrg()

				//-----------------------------------------------------------------------
				// Description :: 기관 트리 검색.
				//-----------------------------------------------------------------------
				fn_requireTreeOrg : function() {
					try {
						var organization = new Object();
						organization.objectType 	= 'Organization';
						if ($('input:radio[name=rd-search-range]:checked').val() =='N'){
							organization.organizationNm = $('#searchText').val();
	    				}else{
	    					organization.organizationCd = $('#searchText').val();
	    				}
						mint.callService(organization, screenName, 'REST-R03-IM-01-06', function(jsonData) {
							if( ! mint.common.isEmpty(jsonData) ) {
								var inlineDefault  = new kendo.data.HierarchicalDataSource({
									data:jsonData,
									schema: {
										data: "roots",
										model: {
											id: "id",
											hasChildren: function (node) {
												return mint.ui.treeViewHasChildren(node);
											},
											children: "items",
											text:"text",
											parent: "parent",
											group: "group",
											root: "root"
										}
									}
								});
								var treeView = $("#org-treeview").data("kendoTreeView");
								treeView.setDataSource(inlineDefault);

								var env = mint.common.getEnvorinment();
			            		var isExpand = env['ui.treeview.expand'];
			            		if( mint.common.isEmpty(isExpand) || isExpand[0] === 'Y' ) {
									treeView.expand('.k-item');
			            		}
							};
						}, { errorCall : true, notificationView : false } );
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_requireTreeOrg"});
					}
				},//end fn_requireTreeOrg()

				//-----------------------------------------------------------------------
				// Description :: 연계시스템 Consumer fn_helpTemp1
				//-----------------------------------------------------------------------
				fn_helpTemp : function(tempThis) {
					try {
						if('source-help' == tempThis.id) {
							mint.ui.help(tempThis, 'AP00000003', 'H008');
						} else if('target-help' == tempThis.id) {
							mint.ui.help(tempThis, 'AP00000003', 'H009');
						}
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main_detail.fn_helpTemp"});
					}
				},//end fn_helpTemp()
				//-----------------------------------------------------------------------
				// Description :: System create / update
				//-----------------------------------------------------------------------
				fn_saveOrg : function(dataItem, isParamRoot) {
					try {

						var requestObject = new Object();
						requestObject.objectType = 'Organization';
						requestObject.organizationId   = $('#organizationId').val();
						requestObject.organizationCd   = $('#organizationCd').val();
						requestObject.organizationNm   = $('#organizationNm').val();
						requestObject.comments   = $('#comments').val();
						requestObject.rootYn     = $('#rootYn').val();
						requestObject.grpYn      = $('#grpYn').val();
						requestObject.regDate    = mint.common.getStartTime();
						requestObject.regId      = mint.session.getUserId();
						requestObject.modDate    = mint.common.getStartTime();
						requestObject.modId      = mint.session.getUserId();


						var tempRelUsersList = [];
						var personGridView = $("#person-in-charge-grid").data().kendoGrid.dataSource.view();
						for(var i=0; i < personGridView.length; i++) {
							//담당자 리스트 세팅
							var personNewObject = new Object();
							personNewObject.objectType = 'RelUser';
							personNewObject.roleType = '1';
							personNewObject.seq = i;
							personNewObject.regDate = mint.common.remakeYYMMDD(new Date());
							personNewObject.regId = mint.session.getUserId();
							var userList = new Object;

							userList.objectType = 'User';
							userList.userId = personGridView[i].user.userId;
							userList.userNm = personGridView[i].user.userNm;
							userList.cellPhone = personGridView[i].user.cellPhone;
							userList.phone = personGridView[i].user.phone;
							userList.email = personGridView[i].user.email;

							personNewObject.user = userList;

							tempRelUsersList.push(personNewObject);
						}

						requestObject.relUsers = tempRelUsersList;

						var tempServerList = [];

						var sourceGridView = $("#org-system-grid").data().kendoGrid.dataSource.view();
						for(var i=0; i <sourceGridView.length; i++) {
							//서버 리스트 세팅
							var serverNewObject = new Object;
							serverNewObject.objectType = 'System';

							serverNewObject.systemId = sourceGridView[i].systemId;
							serverNewObject.systemNm = sourceGridView[i].systemNm;
							serverNewObject.systemCd = sourceGridView[i].systemCd;
							serverNewObject.seq =i;
							serverNewObject.regDate = mint.common.remakeYYMMDD(new Date());
							serverNewObject.regId = mint.session.getUserId();
							tempServerList.push(serverNewObject);
						}

						requestObject.systemList = tempServerList;

						if( mint.common.isEmpty(dataItem)) {
							//-----------------------------------------------------------------------
							//신규 등록
							//-----------------------------------------------------------------------

							//Overwrite
							requestObject.rootYn     = isParamRoot ? 'Y' : 'N';
							if(isParamRoot){
								requestObject.grpYn  = 'Y';
							}else{
								requestObject.grpYn  = $('#cbGrpYn').data("kendoDropDownList").dataItem().value;
							}
							var isGroup = requestObject.grpYn == 'Y' ? true: false;

							//(1) 시스템 등록.
							mint.callService(requestObject, screenName, 'REST-C01-IM-01-06', function(jsonData, errorCd, errorMsg) {
								if( ! mint.common.isEmpty(jsonData) && ! mint.common.isEmpty(jsonData.organizationId) ) {

										requestObject = new Object();
										if(isParamRoot){
											if(isGroup){
												requestObject.pid = jsonData.organizationId;
											}else{
												requestObject.pid = $.main.contextSelectedItem.id
											}
										}else{
											requestObject.pid = $.main.contextSelectedItem.id
										}

										requestObject.cid = jsonData.organizationId;
										requestObject.regDate = mint.common.getStartTime();
										requestObject.regId = mint.session.getUserId();
										//(2) 시스템 그룹 <-> 시스템 맵핑
										mint.callService(requestObject, screenName, 'REST-C02-IM-01-06', function(jsonData, errorCd, errorMsg) {
											if( ! mint.common.isEmpty(errorCd) && errorCd == 0 ) {
												mint.common.alert('CI00101', null); //저장을 완료했습니다.
												$.main.fn_editorClear();
												$.main.fn_requireTreeOrg();
											}
										}, { errorCall : true } );
								}
							}, { errorCall : true } );

						} else {
							if(isParamRoot){
								requestObject.grpYn  ='Y';
							}else{
								requestObject.grpYn  = $('#cbGrpYn').data("kendoDropDownList").dataItem().value;
							}
							//-----------------------------------------------------------------------
							//수정
							//-----------------------------------------------------------------------
							mint.callService(requestObject, screenName, 'REST-U01-IM-01-06', function(jsonData, errorCd, errorMsg) {
								if( ! mint.common.isEmpty(errorCd) && errorCd == 0 ) {
									//-----------------------------------------------------------------------
									// 그룹이 변경 되면, 기존 맵핑 정보는 삭제하고 신규 맵핑 정보를 생성한다.
									// 변경 전/후 값을 참조할수 있는 방법이 없어 임시적으로 아래와 같이 구현한다.
									//-----------------------------------------------------------------------

									mint.common.alert('CI00102', null); //수정을 완료했습니다.
									$.main.fn_editorClear();
									$.main.fn_requireTreeOrg();
								}
							}, { errorCall : true } );
						}

					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_saveOrg"});
					}
				},//end fn_saveOrg()

				//-----------------------------------------------------------------------
				// Description :: Organization delete
				//-----------------------------------------------------------------------
				fn_deleteOrg : function(dataItem, isRoot) {
					try {
						if( mint.common.confirm('CI00003', null) ) {
							mint.callService(null, screenName, 'REST-D01-IM-01-06', function(jsonData, errorCd, errorMsg) {
								if( ! mint.common.isEmpty(errorCd) && errorCd == 0 ) {
									mint.common.alert('CI00103', null); //삭제를 완료했습니다.
									$.main.fn_editorClear();
									$.main.fn_requireTreeOrg();
								}
							},
							{
								errorCall : true,
								params : { organizationId : dataItem.id }
							});

						}
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_deleteOrg"});
					}
				},//end fn_deleteOrg()

				//-----------------------------------------------------------------------
				// Description :: 그리드 삭제 표시(편집 불가)
				//-----------------------------------------------------------------------
				fn_setComboboxStyleCheck : function(reUseDelYn, columnClass) {
					try {
						if('N' == reUseDelYn) {
							return "<span></span>";
						} else {
							return "<span class='"+columnClass+"' onclick='$.main.fn_removeGridData(this)' style='cursor: pointer;'>X</span>";
						}
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_setComboboxStyleCheck"});
					}
				},//end fn_setComboboxStyleCheck()

				//-----------------------------------------------------------------------
				// Description :: 그리드 로우 삭제 클릭 이벤트
				//-----------------------------------------------------------------------
				fn_removeGridData : function(node) {
					try {
						var grid = $("#" + node.className).data("kendoGrid");
						var row = $(node).closest("tr");
					    var	dataItem = grid.dataItem(row);
					    var r;
						if('person-in-charge-grid' ==  node.className && null != dataItem.user.userNm) {
							r = mint.common.confirm('BI00002', dataItem.user.userNm);
						} else if('org-system-grid' ==  node.className || 'target-grid' ==  node.className) {
							r = mint.common.confirm('BI00003', dataItem.systemNm);
						}

						if (r == true) {
				        	grid.dataSource.remove(dataItem);
						}
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_removeGridData"});
					}
				},//end fn_removeGridData()

				//-----------------------------------------------------------------------
				// Description :: 그리드 컬럼 스타일 변경(편집 불가)
				//-----------------------------------------------------------------------
				fn_setStyleCheck : function(columnValue, reUseDelYn) {
					try {
						if('N' == reUseDelYn) {
							return "<span title='"+ columnValue +"' style='color:#C0C0C0'>" + columnValue + "</span>";
						} else {
							return "<span title='"+ columnValue +"'>" + columnValue + "</span>";
						}
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_setStyleCheck"});
					}
				},//end fn_setStyleCheck()

				//-----------------------------------------------------------------------
	            // Description :: 초기화
	            //-----------------------------------------------------------------------
				fn_editorClear : function() {
					try {
						$('#btnRootCreate').show();

						$('#btnCreate').hide();
						$('#btnModify').hide();
						$('#btnDelete').hide();

						$('#p-orgNm').val('');
						$('#organizationNm').val('');
						$('#organizationCd').val('');
						$("#comments").val('');


						$('#cbRootYn').data("kendoDropDownList").select(1);
						$('#cbRootYn').data("kendoDropDownList").enable(false);

						$('#cbGrpYn').data("kendoDropDownList").select(1);
						$('#cbGrpYn').data("kendoDropDownList").enable(false);

						$("#org-system-grid").data("kendoGrid").setDataSource( new kendo.data.DataSource());
						$("#person-in-charge-grid").data("kendoGrid").setDataSource( new kendo.data.DataSource());

						$.main.isNew = false;
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_editorClear"});
					}
				},//	end fn_editorClear


		      	//-----------------------------------------------------------------------
				// Description :: 시스템 정보 셋팅
				//-----------------------------------------------------------------------
				fn_setSystemInfo : function(selectedItem) {
					try {
						if( !mint.common.isEmpty(selectedItem) ) {
							var orgSystemGrid = $("#org-system-grid").data("kendoGrid");
							for(var i=0; i<selectedItem.length; i++) {
								selectedItem[i].reUseDelYn = "Y";
							}
							orgSystemGrid.setDataSource(selectedItem);
						}
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_setSystemInfo"});
					}
				},//end fn_setSystemInfo()
				//-----------------------------------------------------------------------
				// Description :: 사용자 정보 셋팅
				//-----------------------------------------------------------------------
				fn_setUserInfo : function(selectedItem) {
					try {

						if( !mint.common.isEmpty(selectedItem) ) {

							var userGrid = $('#person-in-charge-grid').data('kendoGrid');
							var users = [];

							for(var i=0; i<selectedItem.length; i++) {

								var userInfo = new Object();
								var user = new Object();

								user.userId = selectedItem[i].userId;
								user.userNm = selectedItem[i].userNm;
								user.cellPhone = selectedItem[i].cellPhone;
								user.phone = selectedItem[i].phone;
								user.email = selectedItem[i].email;
								userInfo.reUseDelYn = 'Y';
								userInfo.user = user;
								users.push(userInfo);
							}

							userGrid.setDataSource(users);
						}
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main_detail.fn_setUserInfo"});
					}
				},//end fn_setUserInfo()

				//-----------------------------------------------------------------------
				// Description :: 엔터키 이벤트
				//-----------------------------------------------------------------------
				fn_onKeyDown : function(event) {
					try {
						if(event.keyCode == 13) {
							var query = $("#searchText").val().toLowerCase();
							mint.ui.treeViewFilter('org-treeview', query);
						}
					} catch(e) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_onKeyDown"});
					}
				}, // end fn_onKeyDown
	        }
	    });

	    //=======================================================================
	    // (4) 이벤트 핸들러 정의
	    //=======================================================================
		//-----------------------------------------------------------------------
		// Description :: 초기화.
		//-----------------------------------------------------------------------
		$("#btnClear").click(function () {
			$.main.fn_editorClear();
        });
		//-----------------------------------------------------------------------
		// Description :: 등록.
		//-----------------------------------------------------------------------
		$('#btnCreate').click(function(e) {
			if('' == $('#organizationNm').val()) {
				mint.common.alert('CW00001', mint.label.getLabel('lb-821'));
			} else if('' == $('#organizationCd').val()) {
				mint.common.alert('CW00001', mint.label.getLabel('lb-822'));
			} else {
				var confirmCheck = mint.common.confirm('CI00001', null);

			    if (confirmCheck == true) {
					if($('#cbRootYn').data("kendoDropDownList").dataItem().value =="N"){
						$.main.fn_saveOrg(null, false);
					}else{
						$.main.fn_saveOrg(null, true);
					}

			    }
			}
		});

		//-----------------------------------------------------------------------
		// Description :: 수정.
		//-----------------------------------------------------------------------
		$('#btnModify').click(function(e) {
	    	var entityTree = $("#org-treeview").data("kendoTreeView");
			var selectedItem = entityTree.dataItem(entityTree.select());

			if(selectedItem == null){
				mint.common.alert('CW00003', mint.label.getLabel('lb-820'));
				return;
			}

			if('' == $('#organizationNm').val()) {
				mint.common.alert('CW00001', mint.label.getLabel('lb-821'));
			} else if('' == $('#organizationCd').val()) {
				mint.common.alert('CW00001', mint.label.getLabel('lb-822'));
			} else {
				var confirmCheck = mint.common.confirm('CI00002', null);
			    if (confirmCheck == true) {
					$.main.fn_saveOrg(selectedItem, selectedItem.root);
			    }
			}
		});

		//-----------------------------------------------------------------------
		// Description :: 루트 추가. 추가  click 이벤트 설정
		//-----------------------------------------------------------------------
		$('#btnRootCreate').click(function(e) {

			$.main.fn_editorClear();

			$('#btnRootCreate').hide();

        	$.main.selectedItem = null;

			$('#cbRootYn').data("kendoDropDownList").value("Y");
			$('#cbRootYn').data("kendoDropDownList").enable(false);

			$('#cbGrpYn').data("kendoDropDownList").value("Y");
			$('#cbGrpYn').data("kendoDropDownList").enable(false);

			$.main.isNew=true;
			$('#btnCreate').show();
		});

		//-----------------------------------------------------------------------
		// Description :: 삭제.
		//-----------------------------------------------------------------------
		$('#btnDelete').click(function(e) {
	    	var entityTree = $("#org-treeview").data("kendoTreeView");
			var selectedItem = entityTree.dataItem(entityTree.select());

			if(selectedItem == null){
				mint.common.alert('CW00003', mint.label.getLabel('lb-820'));
				return;
			}
			$.main.fn_deleteOrg(selectedItem, selectedItem.root)
		});

	  	//-----------------------------------------------------------------------
		// Description :: 기관 클릭
		//-----------------------------------------------------------------------
		$('#org-treeview').click( function () {
			try {
				var entityTree = $("#org-treeview").data("kendoTreeView");
				var selectedItem = entityTree.dataItem(entityTree.select());
				if(selectedItem != null){
					$('#btnCreate').hide();
					$('#btnModify').show();
					$('#btnDelete').show();
					$('#btnRootCreate').hide();
					$.main.selectedItem = selectedItem;
					$.main.fn_requireOrg(selectedItem.id);
				}

			} catch( e ) {
				mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "org-treeview.click"});
			}
		});

	  	//-----------------------------------------------------------------------
		// Description :: 기관 조회
		//-----------------------------------------------------------------------
		$('#btn-search').click( function () {
			try {
				var query = $("#searchText").val().toLowerCase();
				mint.ui.treeViewFilter('org-treeview', query);
			} catch( e ) {
				mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "btn-search"});
			}
		});

	    //=======================================================================
	    // (5) 기타 Function 정의
	    //=======================================================================
	    $("#menu").kendoContextMenu({
          	// listen to right-clicks on treeview container
            target: "#org-treeview",

          	// show when node text is clicked
          	filter: ".k-in",

           	//open: onOpen,
          	// handle item clicks
           	select: function(e) {
            var button = $(e.item);
            var node = $(e.target);
 	        var entityTree = $("#org-treeview").data("kendoTreeView");
 			var selectedItem = entityTree.dataItem(node);

 			$.main.fn_editorClear();
 	        $.main.contextSelectedItem = selectedItem;
 	        $.main.selectedItem = null;

	        if(selectedItem.root==false){
				$('#p-orgNm').val(selectedItem.text);
 	        }
	        	//if(selectedItem.root == true){
	        	//	$('#cbRootYn').data("kendoDropDownList").enable(true);
	        	//}else{
	        	//$('#cbRootYn').data("kendoDropDownList").enable(false);
	        	//}
	        	$('#cbRootYn').data("kendoDropDownList").value("N");
	        	$('#cbRootYn').data("kendoDropDownList").enable(false);

			$('#cbGrpYn').data("kendoDropDownList").enable(true);

			$.main.isNew=true;
			$('#btnCreate').show();
			$('#btnRootCreate').hide();
          }
        });
	    //=======================================================================
	    // (6) 화면 로딩시 실행할 항목 기술
	    //=======================================================================
	    $.main.fn_init();
	    mint.label.attachLabel(null);

		//-----------------------------------------------------------------------
		// Description :: 시스템 Search Click 이벤트 (팝업)
		//-----------------------------------------------------------------------
		$('#popupSourceSystemSearchPop').on('click', function(e) {

			var entityTree = $("#org-treeview").data("kendoTreeView");
			var selectedItem = entityTree.dataItem(entityTree.select());
			if(selectedItem != null  || $.main.isNew){

				var orgSystemGrid = $("#org-system-grid").data("kendoGrid");
				var systems = [];

				for(var i=0; i<orgSystemGrid.dataSource.data().length; i++) {
					systems.push(orgSystemGrid.dataSource.data()[i].systemId);
				}
				systemPopupBool = true;
				systemPopupGridName = 'org-system-grid';
				mint.common.setScreenParam("caller", "IM-01-00-004");
				mint.common.setScreenParam("systemIds", systems);
				mint.common.setScreenParam('callback', '$.main.fn_setSystemInfo');
				mint.common.searchPopup('../sub-co/CO-01-01-901.html','CO-01-01-901');
			}
		});

		//-----------------------------------------------------------------------
		// Description :: 담당자 Search Click 이벤트 (팝업)
		//-----------------------------------------------------------------------
		$('#popupPersonSearchPop').click(function(e) {
			var entityTree = $("#org-treeview").data("kendoTreeView");
			var selectedItem = entityTree.dataItem(entityTree.select());
			if(selectedItem != null  || $.main.isNew){

				var userGrid = $('#person-in-charge-grid').data('kendoGrid');
				var users = [];

				for(var i=0; i<userGrid.dataSource.data().length; i++) {
					users.push(userGrid.dataSource.data()[i].user.userId);
				}

				mint.common.setScreenParam("caller", "IM-01-01-004");
				mint.common.setScreenParam("userIds", users);
				mint.common.setScreenParam('callback', '$.main.fn_setUserInfo');
				mint.common.searchPopup('../sub-co/CO-01-01-004.html','CO-01-01-004');
			}
		});
	});

</script>

<style>
	.k-grid tr {
	    cursor : pointer;
	}

	div.org-treeview
	{
	   overflow: visible;
	}
</style>