<!--
	Screen ID : IM-04-00-001
	Screen NM : 인터페이스 이관-내보내기
  --------------------------------------------
  	설명 : 전체 인터페이스 정보를 내보내기 기능 구현
	변경 이력 :
-->

<!--location -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-5">
		<h2><lb class="lb-9001"></lb></h2>
		<ol class="breadcrumb">
	        <li><lb class="lb-9"></lb></li>
	        <li class="active"><strong><lb class="lb-9001"></lb></strong></li>
 		</ol>
	</div>

	<!--button-->
	<div class="col-lg-7">
		<div class="title-action" >
	        <!-- <a href="#" class="btn btn-primary btn-register"><i class="fa fa-check "></i> <lb class="lb-11"></a> -->
		</div>
	</div>
	<!--button end-->
</div>
<!--location end-->

<!--wrapper wrapper-content-->
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<!--
					<h5><lb class="lb-78"></h5>&nbsp;&nbsp;&nbsp;
					-->
					<h5>인터페이스 내보내기</h5>&nbsp;&nbsp;&nbsp;
					<div class="ibox-tools">
						<a class="help-over-pannel" onclick="mint.ui.help(this, 'AP00000005','H002')"></a>
                   		<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</div>

					<div style="float: right; padding: 0px 20px 0px 0px;">
						<a class="btn btn-w-m btn-primary btn-export-server"><i class="fa fa-check "></i> 내보내기</a>
					</div>
				</div>

				<div class="ibox-content export-msg" style="display: none;"></div>

             	<div class="ibox-content">
			  		<p>인터페이스 내보내기는 등록된 모든 인터페이스 정보를 JSON 포맷의 압축파일로 변환하는 과정으로 처리 시간이 오래 걸릴 수 있습니다.</p>
			  		<p>내보내기 완료 후 표시되는 다운로드 링크를 클릭하여 로컬 파일로 저장 후 운영 시스템으로 로그인 후 인터페이스 들여오기 기능을 통해 인터페이스 들여오기를 진행할 수 있습니다.</p>
			  		<p>내보내기 처리는 대부분 서버에서 처리되므로 클라이언트 브라우저의 리소스는 거의 사용되지 않습니다.</p>
                </div>
				<!--ibox-content end-->
           	</div>
			<!--ibox float-e-margins end-->
		</div>
		<!--col-lg-12 end-->
	</div>
	<!--row end-->

</div>


<script>
	$(document).ready(function() {
		//=======================================================================
		//(1) function 및 variable scope 설정 :: (메인은 main, 팝업 및 서브는 sub)
		//=======================================================================
		screenName = "IM-04-00-001";
		$.extend({
			main : {
				//=======================================================================
				// (2) Screen 에서 사용할 variable 정의
				//=======================================================================
				//-----------------------------------------------------------------------
				// 연관검색 필드
				//-----------------------------------------------------------------------
				searchNode : "",
				//-----------------------------------------------------------------------
				// 조회 - 엑셀다운도드 조회조건 sycn
				//-----------------------------------------------------------------------
				requestObject : new Object(),
				//=======================================================================
				// (3) Screen 에서 사용할 function 정의
				//=======================================================================

				//-----------------------------------------------------------------------
				// Description :: 화면 초기화
				//-----------------------------------------------------------------------
				fn_init : function() {
					try {
						mint.init('$.main.fn_initCallback');
					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_init"});
					}
				},//end fn_init()

				//-----------------------------------------------------------------------
				// Description :: 화면 초기화 콜백
				//-----------------------------------------------------------------------
				fn_initCallback : function() {
					try {
						//mint.back(null);
						//$.main.fn_initInterfaceFileUpload();

					} catch( e ) {
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_initCallback"});
					}
				},//end fn_initCallback()


				//-----------------------------------------------------------------------
				// Description :: 170711.whoana
				//-----------------------------------------------------------------------
				//to export interface data whith json zip file format
				fn_exportInterfaces : function(){
					try{
						var requestObject = new Object();
						if(mint.common.confirm('인터페이스 내보내기를 진행하시겠습니까?')){
							$('.export-msg').show();
							$('.export-msg').html('<h3 style="margin-left: 20px; color: blue">인터페이스 내보내기 처리중입니다. 완료될 때까지 기다려 주십시요.</h3>');
					    	mint.callService(requestObject, 'IM-01-00-001', 'REST-S01-IM-04-03', '$.main.fn_exportInterfacesResult', {errorCall : true});
						}
					}catch( e ){
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_exportInterfaces"});
					}
				},//fn_exportInterfaces

				//-----------------------------------------------------------------------
				// Description :: 170711.whoana
				//-----------------------------------------------------------------------
				//to export interface data whith json zip file format
				fn_exportInterfacesResult : function(responseObject, errorCd, errorMsg){
					try{
						$('.export-msg').html('<h3 style="margin-left: 20px; color: blue">내보내기를 완료하였습니다. 아래 링크를 클릭하여 내보낸 파일을 다운받아 주십시요.</h3><p><a href="' + responseObject.exportFilePath + '" download><h3 style="margin-left: 20px">' + responseObject.exportFile + '</h3></a>');
					}catch( e ){
						mint.common.errorLog(e, {"screenName" : screenName, "fnName" : "$.main.fn_exportInterfacesResult"});
					}finally{

					}
				},//fn_exportInterfacesResult

			}// end main
		});// end extends

		//=======================================================================
		// (4) 이벤트 핸들러 정의
		//=======================================================================
		//-----------------------------------------------------------------------
		// Description :: 인터페이스 내보내기(전체) 클릭
		//-----------------------------------------------------------------------
		$('.btn-export-server').on('click', function() {
			$.main.fn_exportInterfaces();
    	});



		//=======================================================================
		// (5) 기타 Function 정의
		//=======================================================================

		//=======================================================================
		// (6) 화면 로딩시 실행할 항목 기술
		//=======================================================================
		$.main.fn_init();
		mint.label.attachLabel(null);

	});


</script>