<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pep.per.mint.inhouse.sms.database.KABSMSMapper">
  	<!--
  	<cache/>
  	-->
	<insert id="insertSmsSendResult" statementType="CALLABLE">
		{
			CALL KAB.SMS_PKG.SEND_SMS(
				#{sender},
				#{recipients},
				#{contents}
			)
		}
	</insert>

</mapper>